<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="center">
      <div class="banner">
        <!-- 搜索框 -->
        <div class="search">
          <div class="name">
            {{ cityName || "暂无数据" }}二九房产网>{{
              cityName || "暂无数据"
            }}二九新房>{{ form.yourRegion || "暂无数据" }}楼盘>{{
              form.communityName || "暂无数据"
            }}楼盘
          </div>
          <div class="input_box">
            <input
              type="text"
              class="input"
              placeholder="请输入关键字进行搜索"
            />
            <button class="button">搜索</button>
          </div>
        </div>
        <!-- 关注房源 -->
        <div class="follow">
          <div class="follow_title">
            <div class="title">
              <div class="title_box">
                <div class="name">{{ form.title }}</div>
                <div class="icon">下期待开</div>
                <div class="icon">住宅</div>
              </div>
            </div>
            <div class="describe">别名：{{ form.titleContent }}</div>
          </div>
          <button class="but" @click="clickeFollow">
            <img class="img" :src="src" alt="" /><span>{{ text }}</span>
          </button>
        </div>
        <!-- 图片轮播 -->
        <div class="property_details">
          <div class="rotation">
            <div class="rotation_img">
              <Swiper :list="banners"></Swiper>
              <div class="identification">客厅</div>
            </div>
            <div class="next_page"></div>
            <div class="explain">
              <ul class="fidelity_text">
                <li
                  class="fidelity_li"
                  v-for="(item, index) in titleMenu"
                  @click="houseSort(index)"
                  :class="{ active: houseIndex === index }"
                  :key="index"
                >
                  {{ item.name }}
                </li>
              </ul>
            </div>
            <div class="information">
              <div class="title">优惠信息</div>
              <img src="../../assets/img/newHouse/discount.png" alt="" />
            </div>
            <!-- 楼盘信息 -->
            <div class="information">
              <div class="title">
                <span>楼盘信息</span>
                <span class="more" @click="router">查看更多信息>></span>
              </div>
              <div class="basic">基本信息</div>
              <div class="attribute">
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text"> 物业类型： </span>
                    <span class="content">
                      {{ form.propertyType || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 参考价格： </span>
                    <span class="content"> {{ form.type || "暂无数据" }} </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 项目特色： </span>
                    <span class="content">
                      {{ form.programFeatures || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 区域位置： </span>
                    <span class="content"> {{ form.type || "暂无数据" }} </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 楼盘地址： </span>
                    <span class="content">
                      {{ form.realEstateAddress || "暂无数据" }}
                    </span>
                  </li>
                </ul>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text"> 售楼处地址： </span>
                    <span class="content">
                      {{ form.salesAddress || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 开发商： </span>
                    <span class="content">
                      {{ form.developer || "暂无数据" }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="basic">规划信息</div>
              <div class="attribute">
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text"> 建筑类型： </span>
                    <span class="content"
                      >{{ form.buildingType || "暂无数据" }}
                    </span>
                  </li>

                  <li class="attribute_li">
                    <span class="text"> 占地面积： </span>
                    <span class="content"
                      >{{ form.landOccupationArea || "暂无数据" }}
                    </span>
                  </li>

                  <li class="attribute_li">
                    <span class="text"> 建筑面积： </span>
                    <span class="content"
                      >{{ form.buildingArea || "暂无数据" }}
                    </span>
                  </li>

                  <li class="attribute_li">
                    <span class="text"> 规划户数： </span>
                    <span class="content"
                      >{{ form.planHouse || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 产权年限： </span>
                    <span class="content">
                      {{ form.propertyRights || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 楼盘户型： </span>
                    <span class="content">
                      {{ form.realEstateType || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 最近交房： </span>
                    <span class="content">
                      {{ form.recentlyHandedOver || "暂无数据" }}</span
                    >
                  </li>
                </ul>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text"> 绿化率： </span>
                    <span class="content">
                      {{ form.greeningRate || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 容积率： </span>
                    <span class="content">
                      {{ form.volumeRate || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 物业类型： </span>
                    <span class="content">
                      {{ form.propertyType || "暂无数据" }}</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- 户型介绍 -->
            <div class="supply">
              <div class="title">户型介绍</div>
              <ul class="supply_ul">
                <li
                  class="supply_li"
                  v-for="(item, index) in supply"
                  :key="index"
                >
                  {{ item.title }}({{ item.num }})
                </li>
              </ul>
              <ul class="consultation_ul">
                <li
                  class="consultation_li"
                  v-for="(item, index) in consultation"
                  :key="index"
                >
                  <img class="img" :src="item.src" alt="" />
                  <div class="indoor">
                    <div class="name_sale">
                      <span class="name">{{ item.name }}</span>
                      <span class="sale">{{ item.state }}</span>
                    </div>
                    <p class="area">{{ item.area }}</p>
                    <p class="price">{{ item.price }}</p>
                    <button class="service">一键详情咨询</button>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 楼盘动态 -->
            <div class="information">
              <div class="title">
                <span>楼盘动态</span>
                <span class="more" @click="router">查看更多信息>></span>
              </div>
              <div v-if="realEstateNews.length > 0">
                <div
                  class="deposit"
                  v-for="(item, index) in realEstateNews"
                  :key="index"
                >
                  <div class="deposit_box">
                    <div class="courtesy">{{ item.name }}</div>
                    <div class="news">{{ item.news }}</div>
                  </div>
                  <p class="paragraph">
                    {{ item.paragraph }}
                  </p>
                  <p class="time">{{ item.time }}</p>
                </div>
                <div class="reminder">
                  <img
                    class="small_bell"
                    src="../../assets/img/newHouse/small_bell.png"
                    alt=""
                  />
                  <div class="text">设置楼盘动态提醒，加推盘早知道</div>
                  <div class="input_text">
                    <input
                      type="text"
                      placeholder="请输入手机号码"
                      class="input"
                    />
                    <button class="but">设置动态提醒</button>
                  </div>
                </div>
              </div>
              <div class="available" v-else>暂无数据</div>
            </div>
            <!-- 楼盘评论 -->
            <div class="feedback">
              <div class="feedback_title">
                <div class="title" @click="router">
                  楼盘评论({{ reviewList.length }})
                </div>
                <div class="newest_most">
                  <span class="most" @click="router">查看更多评论>></span>
                </div>
              </div>
              <ul class="feedback_ul" v-if="reviewList > 0">
                <li
                  class="feedback_li flex_start"
                  v-for="(item, index) in reviewList"
                  :key="index"
                >
                  <img :src="item.src" alt="" />
                  <div class="feedback_phone">
                    <div class="name_phone flex_space">
                      <div class="name">{{ item.name }}</div>
                      <div class="star"></div>
                      <div class="phone_buts flex_start">
                        <div class="phone">{{ item.phone }}</div>
                        <div class="buts">
                          <img
                            src="../../assets/img/ershoufang/consulting.png"
                            alt=""
                          />
                          <div class="text">在线咨询</div>
                        </div>
                      </div>
                    </div>
                    <p class="content">
                      {{ item.conter }}
                    </p>
                    <div class="time_text">
                      <span class="tiem">{{ item.time }}</span>
                      <div class="button_box">
                        <button class="butt">
                          <img
                            src="../../assets/img/newHouse/consulting.png"
                            alt=""
                          />
                          <div class="number">15</div>
                        </button>
                        <button class="butt">
                          <img
                            src="../../assets/img/newHouse/give.png"
                            alt=""
                          />
                          <div class="number">15</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="available" v-else>暂无数据</div>
            </div>
            <!-- 房贷计算器 -->
            <div class="payments">
              <p class="title">房贷计算器</p>
              <p class="basic">选择基本情况，帮您快速计算房贷</p>
              <div class="payments_box">
                <div class="payments_left">
                  <div class="calculation">
                    <div class="name">房价总额</div>
                    <input class="input" type="text" />
                  </div>
                  <div class="calculation">
                    <div class="name">贷款金额</div>
                    <div class="select_amount">
                      <select class="select">
                        <option>7成</option>
                        <option>6成</option>
                        <option>1成</option>
                      </select>
                      <input type="text" class="amount" placeholder="0" />
                    </div>
                  </div>

                  <div class="calculation">
                    <div class="name">贷款类型</div>
                    <select class="select">
                      <option>商业贷款</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <div class="name">贷款比例</div>
                    <select class="select">
                      <option>70%</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <div class="name">贷款期限</div>
                    <select class="select">
                      <option>30年</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <div class="name">商贷利率</div>
                    <select class="select">
                      <option>基准利率(4.9%)</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <button class="button">开始计算</button>
                  </div>
                </div>
                <div class="payments_right">
                  <div class="total total_title">
                    <span class="total_name color">等额本息</span>
                    <span class="number">等额本金</span>
                  </div>
                  <div class="total">
                    <span class="total_name">首付总计</span>
                    <span class="number">0万</span>
                  </div>
                  <div class="total">
                    <span class="total_name">首月月供</span>
                    <span class="number">0万</span>
                  </div>
                  <p class="decline">首月后每月递减 0 元</p>
                  <div class="total">
                    <span class="total_name">还款月数</span>
                    <span class="number green">0月</span>
                  </div>
                  <div class="total">
                    <span class="total_name">还款总额</span>
                    <span class="number">0元</span>
                  </div>
                  <div class="total">
                    <span class="total_name">总利息</span>
                    <span class="number">0元</span>
                  </div>
                  <div class="total">
                    <span class="total_name">本息总计</span>
                    <span class="number">0元</span>
                  </div>
                  <p class="decline text_align">
                    注：本次计算仅作为购房参考,结合实际情况了解更精确首付、贷款方案,建议咨询专业顾问
                  </p>
                  <button class="but">
                    <img
                      src="../../assets/img/ershoufang/consulting.png"
                      alt=""
                    />
                    <div class="text">在线咨询</div>
                  </button>
                </div>
              </div>
            </div>
            <!-- 周边配套 -->
            <div class="matching">
              <p class="title">周边配套</p>
              <div
                style="width: 1200px; height: 600px; margin-top: 30px"
                id="container"
              ></div>
            </div>
            <!-- 优质房源 -->
            <div class="quality">
              <p class="title">好房推荐</p>
              <ul class="quality_ul">
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- 价格 -->
          <div class="introduce">
            <div class="money_square">
              <div class="money" v-if="form.housePrice">
                {{ form.housePrice }}元/m²
              </div>
              <div class="money" v-else>暂无数据</div>
              <div class="share">
                <img src="../../assets/img/ershoufang/share.png" alt="" />
                <span>分享此楼盘</span>
              </div>
            </div>
            <div class="house_type top">
              <div class="type left">预售中</div>
              <div class="orientation left">新盘首开</div>
              <div class="metre left">品牌房企</div>
            </div>
            <ul class="detail_ul">
              <li class="detail_li">
                <div class="name">项目地址</div>
                <div class="address">
                  {{ form.realEstateAddress }}
                </div>
              </li>
              <li class="detail_li">
                <div class="name">最新开盘</div>
                <div class="address">
                  {{ form.latestOpenTime || "暂无数据" }}
                </div>
                <div class="li_img">
                  <img
                    class="ringtone"
                    src="../../assets/img/ershoufang/consulting.png"
                    alt=""
                  />
                  <div>开盘提醒</div>
                </div>
              </li>
              <li class="detail_li">
                <div class="name">楼盘户型</div>
                <div class="address">
                  {{ form.realEstateType || "暂无数据" }}
                </div>
              </li>
              <li class="detail_li">
                <div class="name">风险提示</div>
                <div class="text">二九房产用户风险提示</div>
              </li>
            </ul>
            <div class="header_img">
              <img
                class="header"
                src="../../assets/img/ershoufang/header.png"
                alt=""
              />
              <div class="text_img">
                <div class="title_name">
                  <div class="name">帅隆花</div>
                  <div class="but">二九</div>
                </div>
                <div class="describe">我带看该房1次，非常清楚 该房屋特色</div>
              </div>
            </div>
            <!-- 咨询按钮 -->
            <div class="button">
              <button class="but1">4006163287 转 3396</button>
              <button class="but2">
                <img
                  src="../../assets/img/ershoufang/consulting.png"
                  alt=""
                /><span class="text">在线咨询</span>
              </button>
            </div>
            <!-- 联系经济人 -->
            <div class="agent">咨询电话：4006163287 转 3396</div>
          </div>
        </div>
      </div>
    </div>

    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import Swiper from "../../components/Swiper";
import { Message } from "element-ui";
import {
  newHoseQueryId,
  addHouseFollow,
  dictionaryQuery,
  deleteByIdsFollow,
  addBrowseNewHouse,
  queryHouseFollow,
  newHouseCommentQuery,
} from "../../assets/utils/api.js";
export default {
  name: "newHouseDetail",
  components: { Header, Bootm, Swiper },
  data() {
    return {
      form: {},
      /**户型介绍 */
      consultation: [
        {
          name: "三室两厅两卫",
          state: "待售",
          area: "建面97.5m²（朝南）",
          price: "价格待定",
          src: require("../../assets/img/newHouse/type.png"),
        },
        {
          name: "三室两厅两卫",
          state: "待售",
          area: "建面97.5m²（朝南）",
          price: "价格待定",
          src: require("../../assets/img/newHouse/type.png"),
        },
        {
          name: "四室两厅两卫",
          state: "待售",
          area: "建面120.5m²（朝南）",
          price: "价格待定",
          src: require("../../assets/img/newHouse/type.png"),
        },
      ],

      titleMenu: [
        { name: "优惠信息" },
        { name: "楼盘信息" },
        { name: "户型介绍" },
        { name: "楼盘动态" },
        { name: "楼盘评论" },
        { name: "贷款计算" },
        { name: "位置周边" },
      ],
      houseIndex: 0,
      /**基本属性 */
      information: [
        {
          name: "物业类型：",
          type: "住宅",
        },
        { name: "项目特色", type: "视频看房 VR看房 大型社区 购物方便" },
        { name: "楼盘地址：", type: "汽车大道鸿海水岸之城" },
        {
          name: "售楼处地址：",
          type:
            " 红谷滩区省委党校旁（规划虎形山公园以西）（接待时间 9:00 - 21:00）",
        },
        {
          name: "开发商：",
          type: "华润置地（南昌）开发有限公司，南昌润投房地产开发有限公司",
        },
      ],
      information2: [
        {
          name: "所在楼层",
          type: "低层楼10楼（共32层）",
        },
        { name: "户型结构", type: "平层" },
      ],
      /**交易属性 */
      transaction: [
        {
          name: "挂牌时间",
          type: "2019-12-25",
        },
        {
          name: "上次交易",
          type: "暂无数据",
        },
        {
          name: "房屋年限",
          type: "70年",
        },
        {
          name: "抵押信息",
          type: "有抵押35万元 ",
        },
      ],
      transaction2: [
        {
          name: "交易属性",
          type: "商品房",
        },
        {
          name: "房屋用途",
          type: "精装住宅",
        },
        {
          name: "产权所属",
          type: "共有",
        },
        {
          name: "房本备件",
          type: "详情请咨询经纪人",
        },
      ],
      /**户型介绍 */
      supply: [
        { title: "全部户型", num: 3 },
        { title: "三居室", num: 2 },
        { title: "四居室", num: 1 },
      ],

      banners: [
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
      ],
      /**楼盘动态 */
      realEstateNews: [],
      /**楼盘评论 */
      reviewList: [],
      /**关注 */
      src: require("../../assets/img/ershoufang/follow.png"),
      followState: false,
      text: "关注房源",
      housingSupply: [],
      houseId: 0,
      /**用户id */
      customerId: 0,
      /**存储取消关注的id*/
      arrId: 0,
      /**城市名称 */
      cityName: "",
      /**楼盘户型 */
      typeList: [],
      /**定时器 */
      timer: null,
    };
  },
  watch: {
    /**深度监听房源id */
    houseId: {
      handler() {
        let id = sessionStorage.getItem("detailsId");
        if (id) {
          let detailsId = JSON.parse(id);
          this.houseId = detailsId;
        }
      },
      deep: true,
    },
  },
  created() {
    let id = sessionStorage.getItem("detailsId");
    let userMassge = sessionStorage.getItem("userMassge");
    this.cityName = sessionStorage.getItem("cityName");
    if (userMassge) {
      userMassge = JSON.parse(userMassge);
      this.customerId = userMassge.id;
    }
    if (id) {
      let detailsId = JSON.parse(id);
      this.houseId = detailsId;
    }
  },
  async mounted() {
    await this.dictionaries();
    await this.serachId();
    this.dictionariesHousingSupply();
    this.addBrowse();
    this.queryFollow();
    clearTimeout(this.timer);
    this.timer = setTimeout(() => {
      if (!this.form.lat || !this.form.lon) {
        this.form.lat = 25.825811;
        this.form.lon = 114.934376;
      }

      this.map();
    }, 1000);
  },
  methods: {
    /**控制房子排序样式的方法 */
    houseSort(index) {
      this.houseIndex = index;
    },
    /**路由跳转 */
    router() {
      this.$router.push({ name: "newHouseTab", params: { id: 1 } });
    },
    /**请求小区详情接口 */
    async serachId() {
      try {
        await newHoseQueryId(this.houseId).then((res) => {
          if (res.code == 1) {
            /**拼接户型 */
            let arr = res.data.realEstateType.split("");
            let str = "";
            for (let i in arr) {
              str += this.typeList[i].itemName + " ";
            }
            res.data.realEstateType = str;
            this.form = res.data;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**查询二手房字典*/
    async dictionaries() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "second_hand_house",
        };
        await dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            /**户型 */
            this.typeList = res.data.list[0].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**点击关注请求按钮 */
    clickeFollow() {
      /**判断用户是否登录 */
      if (this.customerId == 0) {
        this.$store.commit("loginPop", true);
        Message({
          message: "您还未登录，请先登录",
          showClose: true,
          type: "error",
        });
        return false;
      }
      this.followState != this.followState;
      if (this.followState) {
        this.followState = false;
        /**取消关注请求 */
        this.cancelAttention();
      } else {
        /**发送关注请求 */
        this.follow();
        this.followState = true;
      }
    },
    /**查询房源关注字典*/
    dictionariesHousingSupply() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "global",
        };
        dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.housingSupply = res.data.list[0].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**楼盘动态列表 */
    dynamic(pageNum) {
      try {
        newHouseDynamicQuery({
          pageNum: pageNum ? pageNum : 1,
          pageSize: 20,
          newHouseId: this.houseId,
        }).then((res) => {
          if (res.code == 1) {
            this.realEstateNews = res.data.list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**楼盘评论 */
    review() {
      try {
        newHouseCommentQuery({
          newHouseId: this.houseId,
          pageNum: 1,
          pageSize: 20,
        }).then((res) => {
          if (res.code == 1) {
            this.reviewList = res.data.list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**关注请求 */
    follow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let obj = {
        customerId: this.customerId,
        houseId: this.houseId,
        houseType: this.housingSupply[3].itemValue,
      };
      addHouseFollow(obj).then((res) => {
        if (res.code == 1) {
          this.arrId = res.data.id;
          this.src = require("../../assets/img/publicImg/attention.png");
          this.text = "已关注";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**取消关注 */
    cancelAttention() {
      let arr = [];
      arr.push(this.arrId);
      deleteByIdsFollow(arr).then((res) => {
        if (res.code == 1) {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**创建二手房浏览记录 */
    addBrowse() {
      addBrowseNewHouse({
        secondHandId: this.houseId,
        customerId: this.customerId,
      }).then((res) => {
        if (res.code != 1) {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },

    /**查询关注房源 */
    queryFollow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let followObj = {
        houseId: this.houseId,
        customerId: this.customerId,
        houseType: 1,
      };
      queryHouseFollow(followObj).then((res) => {
        if (res.code == 1) {
          if (res.data) {
            this.followState = true;
            this.src = require("../../assets/img/publicImg/attention.png");
            this.text = "已关注";
            this.arrId = res.data.id;
          } else {
            this.src = require("../../assets/img/ershoufang/follow.png");
            this.text = "关注房源";
            this.followState = false;
          }
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**引入地图 */
    map() {
      var map = new AMap.Map("container", {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom: 15, //初始化地图层级
        center: [this.form.lon, this.form.lat], //初始化地图中心点
      });
      // var circle = new AMap.Circle({
      //   center:[this.form.lon, this.form.lat],
      //   radius: 100, //半径
      //   borderWeight: 3,
      //   strokeColor: "#FF33FF",
      //   strokeOpacity: 1,
      //   strokeWeight: 6,
      //   strokeOpacity: 0.2,
      //   fillOpacity: 0.4,
      //   strokeStyle: "dashed",
      //   strokeDasharray: [10, 10],
      //   // 线样式还支持 'dashed'
      //   fillColor: "#1791fc",
      //   zIndex: 50,
      // });

      // circle.setMap(map);
      // // 缩放地图到合适的视野级别
      // map.setFitView([circle]);
      this.addMarker(map);
    },
    //添加marker标记
    addMarker(map) {
      map.clearMap();
      var marker = new AMap.Marker({
        map: map,
        position: [this.form.lon, this.form.lat],
      });
      //鼠标点击marker弹出自定义的信息窗体
      // AMap.event.addListener(marker, "click", function () {
      //   infoWindow.open(map, marker.getPosition());
      // });
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  width: 100%;
  height: auto;
  overflow: hidden;
  header {
    width: 100%;
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .center {
    margin-top: 45px;
    /**版心 */
    .banner {
      width: 1200px;
      margin: 0 auto;
      .available {
        color: #9e9e9e;
        font-size: 14px;
        margin-top: 20px;
      }
      /**搜索框样式 */
      .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font-size: 14px;
        }
        .input_box {
          width: 600px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          input {
            width: 100%;
            height: 40px;
            border: 1px solid #cdcdcd;
            outline: none;
            font-size: 12px;
            color: #bfbfbf;
            padding-left: 23px;
          }
          .button {
            width: 154px;
            height: 44px;
            outline: none;
            border: 0;
            background: #34b38a;
            color: white;
            font-size: 14px;
          }
        }
      }
      .follow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 49px;
        .follow_title {
          .title {
            font-size: 26px;
            font-weight: bold;
            color: #454545;
            .title_box {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .icon {
                font-size: 14px;
                color: white;
                padding: 5px 17px;
                background-color: #34b38a;
                margin-left: 10px;
                font-weight: 400;
              }
            }
          }
          .describe {
            font-size: 14px;
            font-weight: 400;
            color: #747474;
          }
        }
        .but {
          padding: 14px 33px;
          box-sizing: border-box;
          outline: none;
          border: 0;
          background-color: #f0f0f0;
          font-size: 14px;
          font-weight: 400;
          color: #919191;
          .img {
            width: 15px;
            height: 15px;
          }
          span {
            margin-left: 8px;
          }
        }
      }
      /**轮播图样式 */
      .property_details {
        margin-top: 36px;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 29px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        .rotation {
          width: 710px;
          .rotation_img {
            position: relative;
            height: 400px;
            .imgs {
              width: 710px;
              height: 400px;
            }
            .identification {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 139px;
              height: 38px;
              background: #454545;
              opacity: 0.59;
              text-align: center;
              line-height: 38px;
            }
          }
          .next_page {
            margin-top: 8px;
            height: 80px;
          }
          .explain {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #454545;
            margin-top: 27px;
            background-color: #e3e3e3;
            .active {
              background-color: #34b38a;
              color: white;
            }
            .fidelity_text {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .fidelity_li {
                width: 93px;
                height: 50px;
                text-align: center;
                line-height: 50px;
              }
            }
            span {
              color: #34b38a;
            }
          }
          /**房源基本信息样式 */
          .information {
            margin-top: 29px;
            .title {
              font-size: 24px;
              font-weight: bold;
              color: #454545;
              margin-bottom: 13px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .more {
                font-size: 14px;
                color: #8d8d8d;
              }
            }
            .basic {
              font-size: 18px;
              color: #8d8d8d;
            }
            .attribute {
              &:nth-child(3) {
                border: 0;
              }
              .text {
                flex: 1;
                margin-top: 16px;
                font-size: 14px;
                color: #454545;
                font-weight: bold;
              }

              display: flex;
              justify-content: flex-start;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              .attribute_ul {
                flex: 2;
                .attribute_li {
                  margin-top: 19px;
                  white-space: nowrap;
                  .content {
                    color: #8d8d8d;
                    margin-left: 20px;
                    white-space: nowrap;
                  }
                }
              }
            }
            /**楼盘动态 */
            .deposit {
              border-bottom: 1px solid #c4c4c4;
              padding-bottom: 20px;
              .deposit_box {
                font-size: 14px;
                color: #454545;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 16px;
                .courtesy {
                  font-weight: bold;
                  margin-right: 10px;
                }
                .news {
                  width: 65px;
                  height: 17px;
                  color: white;
                  background-color: #34b38a;
                  font-size: 12px;
                  line-height: 17px;
                  text-align: center;
                }
              }
              .paragraph {
                width: 515px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                color: #454545;
                margin-top: 16px;
              }
              .time {
                margin-top: 14px;
                font-size: 12px;
                text-align: right;
              }
            }
            .reminder {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 15px;
              .small_bell {
                width: 18px;
                height: 18px;
              }
              .text {
                font-size: 14px;
                color: #a5a5a5;
              }
              .input_text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .but {
                  width: 146px;
                  height: 53px;
                  background-color: #34b38a;
                  padding: 0;
                }
                .input {
                  width: 289px;
                  height: 49px;
                  border: 1px solid #c4c4c4;
                  padding-left: 17px;
                }
              }
            }
          }
          .paragraph {
            font-size: 12px;
            color: #b7b7b7;
          }
          /**户型介绍 */
          .supply {
            margin-top: 29px;
            .title {
              color: #454545;
              font-size: 24px;
              font-weight: bold;
            }
            .consultation_ul,
            .supply_ul {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap;
              margin-top: 19px;
              .supply_li {
                margin-right: 69px;
                font-size: 16px;
                color: #a5a5a5;
              }

              .consultation_li {
                margin-top: 19px;
                width: 190px;
                height: 261px;
                border: 1px solid #c5c5c5;
                margin-right: 67px;

                &:nth-child(3n) {
                  margin-right: 0;
                }
                .img {
                  margin-top: 2px;
                  width: 145px;
                  height: 126px;
                  margin-left: 23px;
                }
                .indoor {
                  font-size: 14px;
                  padding: 10px 0 0 23px;
                  box-sizing: border-box;
                  border-top: 1px solid #c5c5c5;
                  .name_sale {
                    color: #454545;
                    font-weight: bold;
                    .sale {
                      color: #d23535;
                      margin-left: 10px;
                    }
                  }
                }
                .area {
                  margin-top: 6px;
                  color: #a5a5a5;
                }
                .price {
                  margin-top: 6px;
                  color: #d23535;
                  font-size: 16px;
                  font-weight: bold;
                }
                .service {
                  width: 119px;
                  height: 28px;
                  background-color: #fff;
                  border: 1px solid #c5c5c5;
                  color: #a5a5a5;
                  margin-top: 10px;
                }
              }
            }
            .consultation_ul {
              margin-top: 0 !important;
            }
          }

          /**楼盘评论 */
          .feedback {
            .feedback_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 37px;

              .title {
                color: #454545;
                font-size: 24px;
                font-weight: bold;
              }
              .newest_most {
                .newest {
                  margin-right: 18px;
                }
                .most {
                  color: #ababab;
                }
              }
            }
            .feedback_ul {
              .flex_start {
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }
              .flex_space {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .feedback_li {
                margin-top: 22px;
                padding-bottom: 20px;
                border-bottom: 1px solid #d8d8d8;
                box-sizing: border-box;
                .feedback_phone {
                  margin-left: 16px;
                  .name_phone {
                    flex: 1;

                    .name {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      font-size: 16px;
                      color: #000;
                      font-weight: bold;
                      .erju {
                        width: 43px;
                        height: 20px;
                        background-color: #34b38a;
                        font-size: 12px;
                        color: white;
                        line-height: 20px;
                        text-align: center;
                        margin-left: 15px;
                      }
                    }
                    .buts {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      background-color: #34b38a;
                      padding: 8px 10px;
                      color: white;
                      .text {
                        font-size: 12px;
                        margin-left: 7px;
                      }
                    }
                    .phone {
                      color: #34b38a;
                      font-size: 14px;
                      font-weight: bold;
                      margin-right: 41px;
                    }
                  }
                  .content {
                    font-size: 14px;
                    color: #454545;
                    margin-top: 16px;
                  }
                  .time_text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;
                    color: #b9b9b9;
                    font-size: 12px;
                    .button_box {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .butt {
                        padding: 4px 19px;
                        border-radius: 13px;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #c4c4c4;
                        color: #c4c4c4;
                        margin-left: 10px;
                        .number {
                          margin-left: 4px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .payments,
          .matching,
          .quality {
            .title {
              font-size: 24px;
              color: #454545;
              font-weight: bold;
            }
          }
          /**房贷计算器 */
          .payments {
            margin-top: 29px;
            font-size: 12px;
            .basic {
              font-size: 14px;
              color: #9e9e9e;
              margin-top: 9px;
            }
            .payments_box {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
              .payments_left {
                width: 509px;
                .text {
                  color: #a1a1a1;
                }
                .consulting {
                  color: #34b38a;
                }
                .calculation {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  margin-top: 20px;
                  &:first-child {
                    margin-top: 0;
                  }

                  .name {
                    flex: 1;
                  }
                  .select,
                  .input {
                    flex: 3;
                    height: 45px;
                    outline: none;
                    color: #a8a8a8;
                    padding: 0 0 0 20px;
                    border: 1px solid #cacaca;
                    box-sizing: border-box;
                  }
                  .button {
                    flex: 1;
                    height: 45px;
                    margin-bottom: 8px;
                  }
                  .select_amount {
                    flex: 3;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .select,
                    .amount {
                      border: 1px solid #cacaca;
                      width: 150px !important;
                      height: 45px !important;
                    }
                    .amount {
                      margin-left: 80px;
                    }
                  }
                }
              }
              .payments_right {
                flex: 1;
                margin-left: 40px;
                font-size: 14px;

                .total {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 15px;
                  font-weight: bold;

                  &:first-child {
                    margin: 0;
                  }

                  .total_name,
                  .number {
                    color: #454545;
                    font-weight: bold;
                  }
                }
                .total_title {
                  border-bottom: 1px solid #d4d4d4;
                  .color {
                    color: #9e9e9e;
                  }
                }
                .decline {
                  margin-top: 15px;
                  font-size: 12px;
                  color: #959595;
                  text-align: right;
                }
                .text_align {
                  text-align: left;
                }
                .but {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  padding: 14px 25px;
                  box-sizing: border-box;
                  margin-left: 22px;
                  margin-top: 10px;
                  .text {
                    margin-left: 7px;
                  }
                }
              }
            }
          }
          /**周边配套 */
          .matching {
            margin-top: 39px;
            .map {
              margin-top: 30px;
              width: 100%;
              height: 600px;
            }
          }
          /**优质房源 */
          .quality {
            margin-top: 30px;
            width: 100%;
            .quality_ul {
              width: 1200px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 30px;
              flex-wrap: wrap;
              overflow: hidden;
              .li {
                margin-bottom: 42px;

                .img {
                  width: 265px;
                  height: 200px;
                }
                .community_name {
                  width: 135px;
                  font-size: 20px;
                  font-weight: bold;
                  color: #333333;
                  margin-top: 20px;
                }
                .metre {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 10px;
                  .indoor {
                    font-size: 14px;
                    color: #333;
                  }
                  .money {
                    font-size: 18px;
                    color: #d22f2f;
                    font-weight: bold;
                  }
                }
              }
              .sale_li {
                margin-right: 52px;
                width: 365px;
                height: 265px;
                background: url("../../assets/img/index/sale.png") no-repeat
                  center center;
                background-size: 365px 265px;
                &:last-child {
                  margin: 0;
                }
                .sale_name {
                  font-size: 30px;
                  font-weight: bold;
                  color: white;
                  text-align: center;
                  margin-top: 105px;
                  .properties_money {
                    margin-top: 9px;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
        .introduce {
          margin-left: 44px;
          flex: 1;
          .money_square {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 18px;
            .money {
              font-size: 40px;
              color: #d23535;
              font-weight: bold;
            }
            .square {
              font-size: 16px;
              margin-left: 29px;
              .square_m {
                color: #464646;
              }
              .square_y {
                color: #898989;
              }
              .square_p {
                color: #34b38a;
                font-size: 12px;
              }
            }
            .share {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 12px;
              color: #747474;
              span {
                margin-left: 8px;
              }
            }
          }
          .house_type {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 9px;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 20px;
            box-sizing: border-box;
            .left {
              margin-right: 20px;
              font-size: 14px;
              background-color: #a6cabe;
              padding: 5px 21px;
              color: #fff;
            }
            .floor {
              color: #808080;
              font-size: 12px;
            }
          }
          .top {
            margin-top: 20px;
          }
          .must_see {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            margin-top: 19px;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            .must_text {
              line-height: 38px;
              text-align: center;
              width: 114px;
              font-weight: bold;
              background-color: #34b38a;
              color: white;
            }
            .text {
              flex: 1;
              line-height: 38px;
              color: #737272;
              background-color: #f0f0f0;
              padding-left: 21px;
            }
          }
          .detail_ul {
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            .detail_li {
              font-size: 14px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 15px;
              .name {
                color: #a2a2a2;
                margin-right: 20px;
              }
              .address {
                color: #454545;
              }
              .left {
                margin-left: 20px;
              }
              .text {
                color: #34b38a;
              }
              .li_img {
                width: 80px;
                height: 18px;
                font-size: 12px;
                color: white;
                background: #a6cabe;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 13px;
                .ringtone {
                  width: 12px;
                  height: 12px;
                  margin-right: 2px;
                }
              }
            }
          }
          .header_img {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            .header {
              width: 68px;
              height: 68px;
            }
            .text_img {
              margin-left: 19px;
              .title_name {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .name {
                  color: #000;
                  font-size: 22px;
                  font-weight: bold;
                  margin-right: 19px;
                }
                .but {
                  width: 46px;
                  height: 23px;
                  text-align: center;
                  line-height: 23px;
                  background-color: #34b38a;
                  color: #fff;
                  font-size: 12px;
                }
              }
              .describe {
                width: 169px;
                color: #9e9e9e;
                font-size: 14px;
              }
            }
          }
          .button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 24px;
            button {
              font-size: 18px;
              font-weight: bold;
              color: #ffffff;
              border: 0;
              background-color: #34b38a;
              outline: none;
            }
            .but1 {
              padding: 16px 36px 14px;
              box-sizing: border-box;
            }
            .but2 {
              padding: 14px 25px;
              box-sizing: border-box;
              margin-left: 38px;
            }
            .text {
              font-weight: 400;
              margin-left: 7px;
            }
          }
          .agent {
            width: 100%;
            margin-top: 51px;
            height: 50px;
            text-align: right;
            line-height: 50px;
            font-size: 14px;
            background-color: #e3e3e3;
            margin-left: -45px;
          }

          .buttons {
            width: 100%;
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
}
</style>