<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="content">
      <div class="banner">
        <div class="search">
          <div class="name">{{cityName}}二九房产网>研究资料</div>
          <div class="input_box">
            <input
              type="text"
              class="input"
              placeholder="请输入关键字进行搜索"
            />
            <button class="button">搜索</button>
          </div>
        </div>
        <div class="encyclopedia">
          <div class="encyclopedia_left">
            <p class="title">研究百科</p>
            <div class="encyclopedia_bg">
              <div class="list" v-for="(item, id) in menu" :key="id">
                <p class="list_title">{{ item.categoryName }}</p>
                <ul class="research_ul">
                  <li
                    class="research_li"
                    v-for="(items, index) in item.list"
                    :key="index"
                    @click="leve2(items, index)"
                  >
                    <!-- :class="{ active: selectIndedx == index }" -->
                    {{ items.categoryName }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="encyclopedia_right">
            <p class="title">买房</p>
            <div class="house_list">
              <ul class="house_left">
                <li
                  class="house_left_li"
                  v-for="(item, index) in listing"
                  :key="index"
                  @click="router(item)"
                >
                  <img class="huose_img" :src="item.coverImageUrl" alt="" />
                  <div class="house_center">
                    <div class="title">
                      {{ item.title }}
                    </div>
                    <div class="address" v-html="item.content"></div>
                    <div class="button">
                      <div class="but">
                        <button v-for="(items, id) in item.tagList" :key="id">
                          {{ items.tagName }}
                        </button>
                      </div>
                      <div class="time">{{ item.createTime }}</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              layout="prev, pager, next"
              :pages="page.pages"
              :pageSize="page.pageSize"
              :total="page.total"
              background
            >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
// 导入请求api接口
import { research, researchMenu } from "../../assets/utils/api.js";
import { Message } from "element-ui";
export default {
  name: "research",
  components: {
    Header,
    Bootm,
  },
  data() {
    return {
      /**菜单列表 */
      menu: [],
      /**房源列表 */
      listing: [],
      /**分页数据 */
      page: {},
      /**选中下标 */
      selectIndedx: 0,
      cityName:'',
    };
  },
  created() {
    this.cityName=sessionStorage.getItem('cityName');
    this.getMenu();
    this.getResearchList();
  },
  methods: {
    /**获取菜单 */
    getMenu() {
      researchMenu({
        pageNum: 1,
        pageSize: 10,
      }).then((res) => {
        if (res.code === 1) {
          this.menu = res.data.list;
          // let menu = [];
          // for (let item of arr) {
          //   if (item.parentCategoryId === null) {
          //     let obj = {
          //       leve1: item.categoryName,
          //       id: item.id,
          //       leve2: [],
          //     };
          //     menu.push(obj);
          //   }
          //   for (let items of menu) {
          //     if (items.id == item.parentCategoryId) {
          //       let obj2 = {
          //         categoryName: item.categoryName,
          //         parentCategoryId: item.id,
          //       };
          //       items.leve2.push(obj2);
          //     }
          //   }
          // }

          /**显示初始值,默认显示二手房中的下标0的数据 */
          // this.leve2(this.menu[0].leve2[0],1);
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**点击左边的二级菜单进行数据列表渲染 */
    leve2(items, index) {
      this.selectIndedx = index;
      this.getResearch(1, items.parentCategoryId);
    },
    /**获取研究资料列表(默认列表) */
    getResearchList(pageNum) {
      research({
        pageNum: pageNum ? pageNum : 1,
        pageSize: 10,
      }).then((res) => {
        console.log(res);
        if (res.code === 1) {
          this.listing = res.data.list;
          this.page = res.data;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**获取研究资料分类列表数据 （点击子菜单获取列表）*/
    getResearch(pageNum, id) {
      try {
        // console.log(pageNum, id);
        researchMenu({
          pageNum: pageNum ? pageNum : 1,
          pageSize: 10,
          parentCategoryId: id,
        }).then((res) => {
          // console.log(res);
          if (res.code === 1) {
            this.listing = res.data.list;
            this.page = res.data;
          }else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**分页 */
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      if (this.selectIndedx > 0) {
        /**分类表 */
        this.getResearch(val);
      } else {
        /**研究资料表 */
        this.getResearchList(val);
      }
    },

    /**跳转至详情页 */
    router(item) {
      this.$router.push({ name: "researchDetails", params: { id: item.id } });
    },
  },
};
</script>
<style>
.encyclopedia_right
  .el-pagination.is-background
  .el-pager
  li:not(.disabled).active {
  background: #489782;
  color: #fff;
}
.el-pagination {
  text-align: right;
  margin-top: 80px;
}
</style>

<style scoped lang="scss">
.root {
  overflow: hidden;
  header {
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .content {
    min-height: 600px;
    /**公共样式 */
    .active {
      color: #34b38a !important;
    }
    /**搜索框样式 */
    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 36px;
      .name {
        color: #787878;
        font-size: 14px;
      }
      .input_box {
        width: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
          width: 100%;
          height: 40px;
          border: 1px solid #cdcdcd;
          outline: none;
          font-size: 12px;
          color: #bfbfbf;
          padding-left: 23px;
        }
        .button {
          width: 154px;
          height: 44px;
          outline: none;
          border: 0;
          background: #34b38a;
          color: white;
          font-size: 14px;
        }
      }
    }
    .encyclopedia {
      display: flex;
      justify-content: flex-start;
      .title {
        font-size: 28px;
        font-weight: bold;
        color: #373737;
        margin-top: 35px;
        margin-bottom: 14px;
      }

      .encyclopedia_left {
        width: 300px;
        .encyclopedia_bg {
          width: 100%;
          padding: 0 24px;
          box-sizing: border-box;
          background: #f5f5f5;
          box-shadow: 0px 0px 13px 0px rgba(34, 23, 20, 0.19);
          border-top: 8px solid #373737;
          .list {
            border-bottom: 1px solid #bebebe;
            padding-bottom: 24px;
            box-sizing: border-box;
            &:last-child {
              border: 0;
            }
            .list_title {
              font-size: 16px;
              font-weight: bold;
              color: #373737;
              margin-top: 23px;
            }
            .research_ul {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-flow: wrap;

              .research_li {
                font-size: 14px;
                font-weight: 400;
                color: #838383;
                margin-right: 15px;
                margin-top: 14px;
                &:nth-child(3n) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
      .encyclopedia_right {
        margin-left: 51px;
        flex: 1;
        .house_list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .flex {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          .house_left {
            min-height: 600px;
            .house_left_li {
              display: flex;
              justify-content: flex-start;
              padding-bottom: 30px;
              box-sizing: border-box;
              margin-top: 30px;
              height: 160px;
              text-overflow: ellipsis; //溢出用省略号显示
              white-space: nowrap;
              overflow: hidden;
              .house_center {
                margin-left: 30px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start; /* 垂直居中 */
                flex-direction: column;
                width: 100%;
                .text {
                  font-size: 14px;
                  color: #454545;
                  margin-left: 3px;
                }
                .title {
                  font-size: 18px;
                  color: #454545;
                  font-weight: bold;
                  margin: 0;
                }
                .address {
                  width: 479px;
                  margin-top: 19px;
                  color: #949494;
                  font-size: 14px;
                  text-overflow: ellipsis; //溢出用省略号显示
                  white-space: nowrap;
                  overflow: hidden;
                }
                .house_img_text {
                  margin-top: 12px;
                }
                .button {
                  margin-top: 20px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 479px;
                  .but {
                    button {
                      width: 78px;
                      height: 24px;
                      background: #83ab9e;
                      font-size: 12px;
                      border: 0;
                      color: white;
                      outline: none;
                      margin-right: 20px;
                    }
                  }
                  .time {
                    font-size: 12px;
                    color: #b9b9b9;
                  }
                }
              }
              .huose_img {
                width: 297px;
                height: 160px;
              }
            }
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
    margin-top: 85px;
  }
}
</style>