// 设置元素定位
@mixin position($type: relative, $direction: "full", $value: 0) {
  position: $type;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @if $direction == bottom {
    top: auto;
    bottom: $value;
  } @else if $direction==left {
    right: auto;
    left: $value;
  } @else if $direction ==right {
    left: auto;
    right: $value;
  } @else if $direction ==top {
    bottom: auto;
    top: $value;
  }
}

// 设置元素大小
@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

// flex布局
@mixin flex($x: center, $y: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $x;
  align-items: $y;
}

// 文本超出省略号表示
@mixin ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $line==1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

//   设置字体样式
@mixin font($size, $color) {
  font-size: $size;
  color: $color;
}

// 底图
@mixin bg-style($height: 100%) {
  width: 100%;
  height: $height;
  position: absolute;
}
