<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="center">
      <div class="banner">
        <!-- 搜索框 -->
        <div class="search">
          <div class="name">
            {{ cityName || "暂无数据" }}二九房产网>{{
              cityName || "暂无数据"
            }}小区>{{ form.yourRegion || "暂无数据" }}小区>{{
              form.communityName || "暂无数据"
            }}
          </div>
          <div class="input_box">
            <input
              type="text"
              class="input"
              placeholder="请输入关键字进行搜索"
            />
            <button class="button">搜索</button>
          </div>
        </div>
        <!-- 关注房源 -->
        <div class="follow">
          <div class="follow_title">
            <div class="title">{{ form.communityName }}</div>
            <div class="describe">
              {{ form.titleContent }}
            </div>
          </div>
          <button class="but" @click="clickeFollow">
            <img class="img" :src="src" alt="" /><span>{{ text }}</span>
          </button>
        </div>
        <!-- 图片轮播 -->
        <div class="property_details">
          <div class="rotation">
            <div class="rotation_img">
              <Swiper :list="banners"></Swiper>
              <div class="identification">客厅</div>
            </div>
            <div class="next_page">
              <!-- <img src="../../assets/img/ershoufang/huose_img.png" alt="" /> -->
            </div>
            <!-- 盛世经典优质二手房 -->
            <div class="prosperous">
              <div class="prosperous_title">
                <div class="title">盛世经典优质二手房</div>
                <div class="newest_most">
                  <span class="most">查看小区全部在售二手房</span>
                </div>
              </div>
              <ul class="img_ul">
                <li
                  class="img_li"
                  v-for="(item, index) in prosperous"
                  :key="index"
                >
                  <div class="img_button">
                    <img class="img" :src="item.src" alt="" />
                    <button class="button">
                      <img class="money_img" :src="item.icon" alt="" />
                      <div class="money">{{ item.money }}万</div>
                    </button>
                  </div>
                  <p class="name">{{ item.name }}</p>
                  <p class="sare">{{ item.type }}</p>
                </li>
              </ul>
            </div>
            <!-- 盛世经典小区成交记录 -->
            <div class="record">
              <div class="title">盛世经典小区成交记录</div>
              <ul class="ul_type">
                <li
                  class="li_text"
                  v-for="(item, index) in type_menu"
                  :key="index"
                >
                  {{ item.title }}
                </li>
              </ul>
              <ul class="indoor_ul">
                <li
                  class="indoor_li"
                  v-for="(item, index) in indoor"
                  :key="index"
                >
                  <div class="left">
                    <img class="indoor_img" :src="item.floorPlan" alt="" />
                    <div class="text_box flex">
                      <p class="name bold">{{ item.houseUnitType }}</p>
                      <p class="text grey">{{ item.houseOrientation }}</p>
                    </div>
                  </div>
                  <div class="right">
                    <div class="saer flex">
                      {{ item.houseArea || "暂无数据" }}m²
                    </div>
                    <div class="time flex">
                      {{ item.transactionDate || "暂无数据" }}
                    </div>
                    <div class="money flex red" v-if="item.finalPrice">
                      {{ item.finalPrice }}万
                    </div>
                    <div class="money flex red" v-else>暂无数据</div>

                    <div class="price flex red" v-if="item.unitPrice">
                      {{ item.unitPrice }}元/m²
                    </div>
                    <div class="price flex red" v-else>暂无数据</div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 经纪人带看反馈 -->
            <div class="feedback">
              <div class="feedback_title">
                <div class="title">经纪人带看反馈</div>
                <div class="newest_most">
                  <span class="newest">最新</span
                  ><span class="most">带看最多</span>
                </div>
              </div>
              <ul class="feedback_ul" v-if="feedback.length > 0">
                <li
                  class="feedback_li flex_start"
                  v-for="(item, index) in feedback"
                  :key="index"
                >
                  <img
                    v-if="item.brokerVO != null"
                    :src="item.brokerVO.imageIcon"
                    alt=""
                  />
                  <!-- <img :src="item.brokerVO.imageIcon" alt="" /> -->
                  <div class="feedback_phone">
                    <div class="name_phone flex_space">
                      <div class="name flex_start">
                        <div>{{ item.brokerName }}</div>
                        <div class="erju" v-if="item.brokerVO != null">
                          {{ item.brokerVO.companyName }}
                        </div>
                      </div>
                      <div class="phone_buts flex_start">
                        <div class="phone" v-if="item.brokerVO != null">
                          {{ item.brokerVO.brokerPhone }}
                        </div>
                        <div class="buts">
                          <img
                            src="../../assets/img/ershoufang/consulting.png"
                            alt=""
                          />
                          <div class="text">在线咨询</div>
                        </div>
                      </div>
                    </div>
                    <p class="content">
                      {{ item.feedbackContent }}
                    </p>
                    <div class="time_text">
                      <span class="tiem">{{ item.feedbackDate }}</span>
                      <span class="text">{{ item.brokerDirection }}</span>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="feedback_ul" v-else>暂无数据</div>
            </div>
            <!-- 盛世经典正在出租 -->
            <div class="prosperous">
              <div class="prosperous_title">
                <div class="title">盛世经典优质二手房</div>
                <div class="newest_most">
                  <span class="most">查看小区全部出租房源</span>
                </div>
              </div>
              <ul class="img_ul">
                <li class="img_li" v-for="(item, index) in lease" :key="index">
                  <img class="img" :src="item.src" alt="" />
                  <p class="name">{{ item.name }}</p>
                  <div class="sare">
                    <span>{{ item.area }}</span
                    ><span class="red">{{ item.money }}</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 地址和交通 -->
            <div class="matching">
              <p class="title">地址和交通</p>
              <div
                style="width: 1200px; height: 600px; margin-top: 30px"
                id="container"
              ></div>
            </div>
            <!-- 为你推荐附近小区 -->
            <div class="recommend">
              <div class="title">为你推荐附近小区</div>
              <ul class="recommend_ul">
                <li
                  class="recommend_li"
                  v-for="(item, index) in recommend"
                  :key="index"
                >
                  <div class="recommend_img">
                    <img class="img" :src="item.src" alt="" />
                  </div>
                  <div class="text_box">
                    <p class="">{{ item.title }}</p>
                    <p class="">{{ item.area }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- right -->
          <div class="introduce">
            <div class="money_square">
              <div class="money">{{ form.housePrice || 0 }}元/m²</div>
              <div class="square_m">
                <span>挂牌均价</span>
              </div>
              <div class="share">
                <img src="../../assets/img/ershoufang/share.png" alt="" />
                <span>分享此房源</span>
              </div>
            </div>
            <ul class="detail_ul">
              <li class="detail_li">
                <div class="name">小区名称</div>
                <div class="address">
                  {{ form.communityName || "暂无数据" }}
                </div>
              </li>
              <li class="detail_li">
                <div class="name">建筑类型</div>
                <div class="address">{{ form.buildingType || "暂无数据" }}</div>
              </li>

              <li class="detail_li">
                <div class="name">物业费用</div>
                <div class="address" v-if="form.propertyExpenses">
                  {{ form.propertyExpenses }}元/平米/月
                </div>
                <div class="address" v-else>暂无数据</div>
              </li>
              <li class="detail_li">
                <div class="name">物业公司</div>
                <div class="address">
                  {{ form.propertyCompany || "暂无数据" }}
                </div>
              </li>
              <li class="detail_li">
                <div class="name">开发商</div>
                <div class="address">{{ "暂无数据" }}</div>
              </li>
              <li class="detail_li">
                <div class="name">楼栋总数</div>
                <div class="address" v-if="form.buildingTotalNumber">
                  {{ form.buildingTotalNumber }}栋
                </div>
                <div class="address" v-else>暂无数据</div>
              </li>
              <li class="detail_li">
                <div class="name">房屋总数</div>
                <div class="address" v-if="form.houseTotalNumber">
                  {{ form.houseTotalNumber }}户
                </div>
                <div class="address" v-else>暂无数据</div>
              </li>
              <li class="detail_li">
                <div class="name">附近门店</div>
                <div class="text">{{ form.nearbyStores || "暂无数据" }}</div>
              </li>
            </ul>
            <div class="header_img">
              <img
                class="header"
                src="../../assets/img/ershoufang/header.png"
                alt=""
              />
              <div class="text_img">
                <div class="title_name">
                  <div class="name">帅隆花</div>
                  <div class="but">二九</div>
                </div>
                <div class="describe">我带看该房1次，非常清楚 该房屋特色</div>
              </div>
            </div>
            <!-- 咨询按钮 -->
            <div class="button">
              <button class="but1">4006163287 转 3396</button>
              <button class="but2">
                <img
                  src="../../assets/img/ershoufang/consulting.png"
                  alt=""
                /><span class="text">在线咨询</span>
              </button>
            </div>
            <!-- 联系经济人 -->
            <div class="agent">
              <div class="agent_title">
                <div class="title">联系经纪人</div>
                <div class="agent_img" @click="queryBorker">
                  <img
                    class="img"
                    :class="{ go: rotate, aa: !rotate }"
                    src="../../assets/img/ershoufang/refresh.png"
                    alt=""
                  />
                  <div class="refresh">刷新换一换</div>
                </div>
              </div>
            </div>
            <ul class="agent_ul">
              <li
                class="agent_li"
                v-for="(item, index) in brokerList"
                :key="index"
              >
                <div class="header_img">
                  <img src="../../assets/img/ershoufang/header.png" alt="" />
                  <div class="name_title">
                    <div class="name_but">
                      <div class="title">{{ item.name || "帅隆花" }}</div>
                      <div class="but">{{ item.gongSi || "二九" }}</div>
                    </div>
                    <p class="comments">{{ item.conten || "好评经纪人" }}</p>
                    <p class="phone">{{ item.phone || "40006856转4569" }}</p>
                  </div>
                </div>
                <div class="buts">
                  <img
                    src="../../assets/img/ershoufang/consulting.png"
                    alt=""
                  />
                  <div class="text">在线咨询</div>
                </div>
              </li>
            </ul>
            <button class="buttons">关注房源</button>
          </div>
        </div>
        <p class="paragraph">
          1.
          小区介绍中的周边配套、在建设施、规划设施、地铁信息、建筑类型、物业费用等信息为通过物业介绍、房产证、实勘、政府官网等渠道获取，因时间、政策会发生变化，与实际情况可能略有偏差，仅供参考。
        </p>
        <p class="paragraph">2.小区介绍中与距离相关的数据均来源于高德地图。</p>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import Swiper from "../../components/Swiper";
import { Message } from "element-ui";
import {
  communityQueryId,
  addHouseFollow,
  dictionaryQuery,
  deleteByIdsFollow,
  addBrowseCommunity,
  brokerRecord,
  brokerPage,
  queryHouseFollow,
  communityOrder,
} from "../../assets/utils/api.js";
export default {
  name: "quartersDetail",
  components: { Header, Bootm, Swiper },
  data() {
    return {
      form: {},
      prosperous: [
        {
          name: "红谷滩刚需正房校园学区房...",
          src: require("../../assets/img/quarters/house.png"),
          money: 175,
          type: "90.72m² / 三室两厅",
          icon: require("../../assets/img/quarters/money.png"),
        },
        {
          name: "红谷滩刚需正房校园学区房...",
          src: require("../../assets/img/quarters/house.png"),
          money: 175,
          type: "90.72m² / 三室两厅",
          icon: require("../../assets/img/quarters/money.png"),
        },
        {
          name: "红谷滩刚需正房校园学区房...",
          src: require("../../assets/img/quarters/house.png"),
          money: 175,
          type: "90.72m² / 三室两厅",
          icon: require("../../assets/img/quarters/money.png"),
        },
        {
          name: "红谷滩刚需正房校园学区房...",
          src: require("../../assets/img/quarters/house.png"),
          money: 175,
          type: "90.72m² / 三室两厅",
          icon: require("../../assets/img/quarters/money.png"),
        },
      ],
      /**经济人列表 */
      brokerList: [],
      /**经纪人带看反馈 */
      feedback: [
        {
          src: require("../../assets/img/ershoufang/header.png"),
          name: "帅隆花",
          conter:
            "小区整体来说环境非常不错，物业管理也非常到位，户型的话，设计的还可以，小区整体评分来说还是非常不错的，8分！",
          phone: "40006856转4569",
          time: "2020-11-06 ",
          frequency: "带客户看过此房，共带看本房11次",
        },
        {
          src: require("../../assets/img/ershoufang/header.png"),
          name: "帅隆花",
          conter:
            "小区整体来说环境非常不错，物业管理也非常到位，户型的话，设计的还可以，小区整体评分来说还是非常不错的，8分！",
          phone: "40006856转4569",
          time: "2020-11-06 ",
          frequency: "带客户看过此房，共带看本房11次",
        },
        {
          src: require("../../assets/img/ershoufang/header.png"),
          name: "帅隆花",
          conter:
            "小区整体来说环境非常不错，物业管理也非常到位，户型的话，设计的还可以，小区整体评分来说还是非常不错的，8分！",
          phone: "40006856转4569",
          time: "2020-11-06 ",
          frequency: "带客户看过此房，共带看本房11次",
        },
      ],
      /**盛世经典小区成交记录 */
      type_menu: [
        { title: "房屋户型" },
        { title: "面积" },
        { title: "签约日期" },
        { title: "成交价" },
        { title: "成交单价" },
      ],
      indoor: [],
      /**盛世经典正在出租 */
      lease: [
        {
          src: require("../../assets/img/quarters/house.png"),
          name: "整租.盛世经典  三室两厅",
          area: "90.72m² / 朝南",
          money: "3000元/月/年付",
        },
      ],
      /**为你推荐附近小区 */
      recommend: [
        {
          title: "绿湖豪城",
          area: "19865元/m²",
          src: require("../../assets/img/quarters/house.png"),
        },
        {
          title: "绿湖豪城",
          area: "19865元/m²",
          src: require("../../assets/img/quarters/house.png"),
        },
        {
          title: "绿湖豪城",
          area: "19865元/m²",
          src: require("../../assets/img/quarters/house.png"),
        },
        {
          title: "绿湖豪城",
          area: "19865元/m²",
          src: require("../../assets/img/quarters/house.png"),
        },
        {
          title: "绿湖豪城",
          area: "19865元/m²",
          src: require("../../assets/img/quarters/house.png"),
        },
      ],
      banners: [
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
      ],
      /**关注 */
      src: require("../../assets/img/ershoufang/follow.png"),
      followState: false,
      text: "关注房源",
      housingSupply: [],
      /**房源id */
      houseId: 0,
      /**用户id */
      customerId: 0,
      rotate: false,
      /**存储取消关注的id*/
      arrId: 0,
      cityName: "",
      /**朝向 */
      orientationList: [],
      /**户型 */
      typeList: [],
      /**定时器 */
      timer: null,
    };
  },
  watch: {
    /**深度监听房源id */
    houseId: {
      handler() {
        let id = sessionStorage.getItem("detailsId");
        if (id) {
          let detailsId = JSON.parse(id);
          this.houseId = detailsId;
        }
      },
      deep: true,
    },
  },
  created() {
    let id = sessionStorage.getItem("detailsId");
    this.cityName = sessionStorage.getItem("cityName");
    let userMassge = sessionStorage.getItem("userMassge");
    if (userMassge) {
      userMassge = JSON.parse(userMassge);
      this.customerId = userMassge.id;
    }
    if (id) {
      let detailsId = JSON.parse(id);
      this.houseId = detailsId;
    }
  },
  async mounted() {
    await this.dictionaries();
    await this.serachId();
    this.dictionariesHousingSupply();
    this.addBrowse();
    this.takeLook();
    this.queryBorker();
    this.queryFollow();
    this.queryOrder();
    clearTimeout(this.timer);
    this.timer = setTimeout(() => {
      if (!this.form.lat || !this.form.lon) {
        this.form.lat = 25.825811;
        this.form.lon = 114.934376;
      }

      this.map();
    }, 1000);
  },

  methods: {
    /**请求小区详情接口 */
    serachId() {
      try {
        communityQueryId(this.houseId).then((res) => {
          if (res.code == 1) {
            this.form = res.data;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**点击关注请求按钮 */
    clickeFollow() {
      /**判断用户是否登录 */
      if (this.customerId == 0) {
        this.$store.commit("loginPop", true);
        Message({
          message: "您还未登录，请先登录",
          showClose: true,
          type: "error",
        });
        return false;
      }
      this.followState != this.followState;
      if (this.followState) {
        this.followState = false;
        /**取消关注请求 */
        this.cancelAttention();
      } else {
        /**发送关注请求 */
        this.follow();
        this.followState = true;
      }
    },
    /**查询房源关注字典*/
    dictionariesHousingSupply() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "global",
        };
        dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.housingSupply = res.data.list[0].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**关注请求 */
    follow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let obj = {
        customerId: this.customerId,
        houseId: this.houseId,
        houseType: this.housingSupply[2].itemValue,
      };
      addHouseFollow(obj).then((res) => {
        if (res.code == 1) {
          this.arrId = res.data.id;
          this.src = require("../../assets/img/publicImg/attention.png");
          this.text = "已关注";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**取消关注 */
    cancelAttention() {
      let arr = [];
      arr.push(this.arrId);
      deleteByIdsFollow(arr).then((res) => {
        if (res.code == 1) {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**创建小区浏览记录 */
    addBrowse() {
      addBrowseCommunity({
        secondHandId: this.houseId,
        customerId: this.customerId,
      }).then((res) => {
        if (res.code != 1) {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**经济人列表 */
    queryBorker() {
      this.rotate = !this.rotate;
      brokerPage({ pageNum: 1, pageSize: 2 }).then((res) => {
        if (res.code == 1) {
          this.brokerList = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**经纪人带看反馈 */
    takeLook() {
      brokerRecord({
        pageNum: 1,
        pageSize: 5,
        houseId: this.houseId,
        houseType: "2",
      }).then((res) => {
        if (res.code == 1) {
          this.feedback = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询关注房源 */
    queryFollow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let followObj = {
        houseId: this.houseId,
        customerId: this.customerId,
        houseType: 3,
      };
      queryHouseFollow(followObj).then((res) => {
        if (res.code == 1) {
          if (res.data) {
            this.followState = true;
            this.src = require("../../assets/img/publicImg/attention.png");
            this.text = "已关注";
            this.arrId = res.data.id;
          } else {
            this.src = require("../../assets/img/ershoufang/follow.png");
            this.text = "关注房源";
            this.followState = false;
          }
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询小区成交记录 */
    async queryOrder() {
      await communityOrder({ pageNum: 1, pageSize: 10 }).then((res) => {
        if (res.code == 1) {
          for (let item of res.data.list) {
            if (item.transactionDate) {
              let timearr = item.transactionDate
                .replace(" ", ":")
                .replace(/\:/g, "-")
                .split("-");
              item.transactionDate =
                "" + timearr[0] + "-" + timearr[1] + "-" + timearr[2];
            }
            /**房屋户型 */
            if (this.typeList[item.houseUnitType]) {
              item.houseUnitType = this.typeList[item.houseUnitType].itemName;
            }
            /**朝向 */
            if (this.orientationList[item.houseOrientation]) {
              item.houseOrientation = this.orientationList[
                item.houseOrientation
              ].itemName;
            }
          }
          this.indoor = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询字典朝向*/
    async dictionaries() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "second_hand_house",
        };
        await dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.typeList = res.data.list[0].list;
            this.orientationList = res.data.list[4].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**引入地图 */
    map() {
      var map = new AMap.Map("container", {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom: 15, //初始化地图层级
        center: [this.form.lon, this.form.lat], //初始化地图中心点
      });
      // var circle = new AMap.Circle({
      //   center:[this.form.lon, this.form.lat],
      //   radius: 100, //半径
      //   borderWeight: 3,
      //   strokeColor: "#FF33FF",
      //   strokeOpacity: 1,
      //   strokeWeight: 6,
      //   strokeOpacity: 0.2,
      //   fillOpacity: 0.4,
      //   strokeStyle: "dashed",
      //   strokeDasharray: [10, 10],
      //   // 线样式还支持 'dashed'
      //   fillColor: "#1791fc",
      //   zIndex: 50,
      // });

      // circle.setMap(map);
      // // 缩放地图到合适的视野级别
      // map.setFitView([circle]);
      this.addMarker(map);
    },
    //添加marker标记
    addMarker(map) {
      map.clearMap();
      var marker = new AMap.Marker({
        map: map,
        position: [this.form.lon, this.form.lat],
      });
      //鼠标点击marker弹出自定义的信息窗体
      // AMap.event.addListener(marker, "click", function () {
      //   infoWindow.open(map, marker.getPosition());
      // });
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  width: 100%;
  height: auto;
  overflow: hidden;
  header {
    width: 100%;
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .center {
    margin-top: 45px;
    /**版心 */
    .banner {
      width: 1200px;
      margin: 0 auto;
      /**搜索框样式 */
      .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font-size: 14px;
        }
        .input_box {
          width: 600px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          input {
            width: 100%;
            height: 40px;
            border: 1px solid #cdcdcd;
            outline: none;
            font-size: 12px;
            color: #bfbfbf;
            padding-left: 23px;
          }
          .button {
            width: 154px;
            height: 44px;
            outline: none;
            border: 0;
            background: #34b38a;
            color: white;
            font-size: 14px;
          }
        }
      }
      .follow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 49px;
        .follow_title {
          .title {
            font-size: 26px;
            font-weight: bold;
            color: #454545;
          }
          .describe {
            font-size: 14px;
            font-weight: 400;
            color: #747474;
          }
        }
        .but {
          padding: 14px 33px;
          box-sizing: border-box;
          outline: none;
          border: 0;
          background-color: #f0f0f0;
          font-size: 14px;
          font-weight: 400;
          color: #919191;
          .img {
            width: 15px;
            height: 15px;
          }
          span {
            margin-left: 8px;
          }
        }
      }
      /**轮播图样式 */
      .property_details {
        margin-top: 36px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 18px;
        .rotation {
          width: 710px;
          .rotation_img {
            position: relative;
            height: 400px;
            .imgs {
              width: 710px;
              height: 400px;
            }
            .identification {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 139px;
              height: 38px;
              background: #454545;
              opacity: 0.59;
              text-align: center;
              line-height: 38px;
            }
          }
          .next_page {
            margin-top: 8px;
            height: 80px;
          }
          .payments,
          .matching,
          .quality,
          .cost,
          .prosperous,
          .feedback,
          .record,
          .recommend {
            .title {
              font-size: 24px;
              color: #454545;
              font-weight: bold;
            }
          }

          /** 盛世经典优质二手房*/
          .prosperous {
            .prosperous_title {
              margin-top: 39px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .newest_most {
                .newest {
                  margin-right: 14px;
                }
                .most {
                  color: #ababab;
                }
              }
            }
            .img_ul {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-flow: wrap;
              .img_li {
                margin-top: 30px;
                margin-right: 25px;
                &:nth-child(3n) {
                  margin-right: 0;
                }
                .img_button {
                  position: relative;
                  .img {
                    width: 220px;
                    height: 157px;
                  }
                  .button {
                    position: absolute;
                    left: 0;
                    bottom: 17px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 4px 3px;
                    .money_img {
                      width: 13px;
                      height: 16px;
                    }
                    .money {
                      color: #fff;
                      font-size: 12px;
                      margin-left: 4px;
                    }
                  }
                }
                .name {
                  width: 216px;
                  font-size: 16px;
                  color: #454545;
                  font-weight: bold;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin-top: 15px;
                }
                .sare {
                  font-size: 12px;
                  color: #9f9f9f;
                  margin-top: 9px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .red {
                    color: #d23535;
                    font-weight: bold;
                  }
                }
              }
            }
          }
          /**盛世经典小区成交记录 */
          .record {
            .title {
              margin-top: 39px;
            }
            .ul_type {
              margin-top: 29px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-bottom: 15px;
              border-bottom: 1px solid #d8d8d8;
              .li_text {
                color: #454545;
                font-size: 14px;
                &:first-child {
                  text-align: left;
                  flex: 2;
                }
                flex: 1;
                text-align: center;
              }
            }
            .indoor_ul {
              .indoor_li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 1;
                font-size: 12px;
                border-bottom: 1px solid #d8d8d8;
                padding-bottom: 15px;
                margin-top: 15px;
                .left {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex: 1;
                  .indoor_img {
                    width: 98px;
                    height: 89px;
                    margin-right: 38px;
                  }
                }
                .right {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex: 2;
                  text-align: center;
                }

                .flex {
                  flex: 1;
                }
                .bold {
                  font-weight: bold;
                }
                .grey {
                  color: #8f8f8f;
                }
                .red {
                  color: #d23535;
                }
              }
            }
          }
          /**经纪人带看反馈 */
          .feedback {
            .feedback_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 37px;
              padding-bottom: 20px;
              border-bottom: 1px solid #d8d8d8;
              box-sizing: border-box;
            }
            .newest_most {
              .newest {
                margin-right: 18px;
              }
              .most {
                color: #ababab;
              }
            }
            .feedback_ul {
              .flex_start {
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }
              .flex_space {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .feedback_li {
                margin-top: 22px;
                padding-bottom: 20px;
                border-bottom: 1px solid #d8d8d8;
                box-sizing: border-box;
                .feedback_phone {
                  margin-left: 16px;
                  .name_phone {
                    flex: 1;

                    .name {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      font-size: 16px;
                      color: #000;
                      font-weight: bold;
                      .erju {
                        width: 43px;
                        height: 20px;
                        background-color: #34b38a;
                        font-size: 12px;
                        color: white;
                        line-height: 20px;
                        text-align: center;
                        margin-left: 15px;
                      }
                    }
                    .buts {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      background-color: #34b38a;
                      padding: 8px 10px;
                      color: white;
                      .text {
                        font-size: 12px;
                        margin-left: 7px;
                      }
                    }
                    .phone {
                      color: #34b38a;
                      font-size: 14px;
                      font-weight: bold;
                      margin-right: 41px;
                    }
                  }
                  .content {
                    font-size: 14px;
                    color: #454545;
                    margin-top: 16px;
                  }
                  .time_text {
                    margin-top: 20px;
                    color: #b9b9b9;
                    font-size: 12px;
                  }
                }
              }
            }
          }

          /**周边配套 */
          .matching {
            margin-top: 39px;
          }
          /**为你推荐附近小区 */
          .recommend {
            width: 1200px;
            margin-top: 39px;
            .recommend_ul {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-flow: wrap;
              border-bottom: 1px solid #bdbdbd;
              padding-bottom: 30px;
              .recommend_li {
                position: relative;
                margin-top: 30px;
                margin-right: 46px;
                &:nth-child(4n) {
                  margin-right: 0;
                }
                .recommend_img {
                  .img {
                    width: 265px;
                    height: 200px;
                  }
                }
                .text_box {
                  position: absolute;
                  top: 77px;
                  left: 98px;
                  font-size: 16px;
                  font-weight: bold;
                  color: #fffefe;
                }
              }
            }
          }
        }
        /**right */
        .introduce {
          margin-left: 44px;
          flex: 1;
          .money_square {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 18px;
            .money {
              font-size: 40px;
              color: #d23535;
              font-weight: bold;
            }
            .square {
              font-size: 16px;
              margin-left: 29px;
              .square_m {
                color: #464646;
              }
              .square_y {
                color: #898989;
              }
              .square_p {
                color: #34b38a;
                font-size: 12px;
              }
            }
            .share {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 12px;
              color: #747474;
              // margin-left: 60px;
              span {
                margin-left: 8px;
              }
            }
          }
          .house_type {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: #454545;
            margin-top: 9px;
            .left {
              margin-right: 80px;
            }
            .floor {
              color: #808080;
              font-size: 12px;
            }
          }
          .top {
            margin-top: 20px;
          }
          .must_see {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            margin-top: 19px;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            .must_text {
              line-height: 38px;
              text-align: center;
              width: 114px;
              font-weight: bold;
              background-color: #34b38a;
              color: white;
            }
            .text {
              flex: 1;
              line-height: 38px;
              color: #737272;
              background-color: #f0f0f0;
              padding-left: 21px;
            }
          }
          .detail_ul {
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            margin-top: 19px;
            .detail_li {
              font-size: 14px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 15px;
              .name {
                color: #a2a2a2;
                margin-right: 20px;
              }
              .address {
                color: #454545;
              }
              .left {
                margin-left: 20px;
              }
              .text {
                color: #34b38a;
              }
            }
          }
          .header_img {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            .header {
              width: 68px;
              height: 68px;
            }
            .text_img {
              margin-left: 19px;
              .title_name {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .name {
                  color: #000;
                  font-size: 22px;
                  font-weight: bold;
                  margin-right: 19px;
                }
                .but {
                  width: 46px;
                  height: 23px;
                  text-align: center;
                  line-height: 23px;
                  background-color: #34b38a;
                  color: #fff;
                  font-size: 12px;
                }
              }
              .describe {
                width: 169px;
                color: #9e9e9e;
                font-size: 14px;
              }
            }
          }
          .button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 24px;
            button {
              font-size: 18px;
              font-weight: bold;
              color: #ffffff;
              border: 0;
              background-color: #34b38a;
              outline: none;
            }
            .but1 {
              padding: 16px 36px 14px;
              box-sizing: border-box;
            }
            .but2 {
              padding: 14px 25px;
              box-sizing: border-box;
              margin-left: 38px;
            }
            .text {
              font-weight: 400;
              margin-left: 7px;
            }
          }
          .agent {
            margin-top: 84px;
            .agent_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              .title {
                font-size: 14px;
                color: #454545;
                font-weight: bold;
              }
              .agent_img {
                font-size: 14px;
                color: #8a8a8a;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .title {
                  font-weight: bold;
                }
                .img {
                  width: 17px;
                  height: 17px;
                }
                .refresh {
                  margin-left: 9px;
                }
              }
            }
          }
          .agent_ul {
            .agent_li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              &:last-child {
                border: 0;
              }
              .header_img {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .name_title {
                  font-size: 14px;
                  margin-left: 16px;
                  color: #454545;
                  .name_but {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .title {
                      font-size: 16px;
                      font-weight: bold;
                      color: #000000;
                      margin-right: 19px;
                    }
                    .but {
                      width: 46px;
                      height: 23px;
                      text-align: center;
                      line-height: 23px;
                      background-color: #34b38a;
                      color: #fff;
                      font-size: 12px;
                    }
                  }
                  .comments {
                    margin: 16px 0;
                  }
                  .phone {
                    color: #34b38a;
                    font-weight: bold;
                  }
                }
              }
              .buts {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #34b38a;
                padding: 10px 8px;
                color: white;
                .text {
                  font-size: 12px;
                  margin-left: 7px;
                }
              }
            }
          }
          .buttons {
            width: 100%;
            height: 40px;
            font-size: 14px;
          }
        }
      }
      .paragraph {
        color: #cdcdcd;
        font-size: 12px;
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
    margin-top: 80px;
  }
  .aa {
    transition: all 1s;
  }
  .go {
    transform: rotate(360deg);
    transition: all 1s;
  }
}
</style>