<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="content">
      <div class="banner">
        <div class="search">
          <div class="name">{{cityName}}二九房产网>研究资料>二手房知识</div>
          <div class="input_box">
            <input
              type="text"
              class="input"
              placeholder="请输入关键字进行搜索"
            />
            <button class="button">搜索</button>
          </div>
        </div>
        <p class="title">{{ detailObj.title }}</p>
        <div class="time">
          <span>发布时间：{{ detailObj.createTime }}</span>
          <span class="margin"
            >来源于：二九房产网&nbsp;&nbsp;&nbsp;{{
              detailObj.parentCategoryName
            }}&nbsp;&nbsp;&nbsp;{{ detailObj.categoryName }}</span
          >
        </div>
        <div class="paragraph">
          <div class="text" v-html="detailObj.content"></div>
          <!-- <img
            class="img"
            :src="detailObj.coverImageUrl"
            alt=""
          /> -->
          <p class="paragraph_title">（1）可不可以申请保障性住房？</p>
          <p class="text">
            在南方买房政策当中，始终会针对一些买房困难的人士推出一些保障性住房，虽然南昌买房政策已经有很大的放松的迹象，但在这里需要提醒各位的是南昌买房政策当中规定的保障性住房，对于在南昌市的缴纳社保时间是有要求的，通常规定是在两年以上，也就是24个月的社保证明，可以作为申请保障性住房的基础，但大多数人都是要排队的，因为保障性住房的价格便宜，无论是租赁还是买卖都比其他的商品房要便宜的多。
          </p>
          <p class="grant">本文系我爱我家原创文章，转载请联系授权。</p>
          <div class="icon_box">
            <div class="give">
              <img
                class="icon"
                src="../../assets/img/researchDetails/dz.png"
                alt=""
              />
              <div class="icon_text">0</div>
            </div>
            <div class="share">
              <div class="share_text">分享至：</div>
              <img
                class="icon margin"
                src="../../assets/img/researchDetails/wx.png"
                alt=""
              />
              <img
                class="icon margin"
                src="../../assets/img/researchDetails/wb.png"
                alt=""
              />
              <img
                class="icon"
                src="../../assets/img/researchDetails/qq.png"
                alt=""
              />
            </div>
          </div>
          <div class="related">相关知识</div>
          <ul class="investment_ul">
            <li
              class="investment_li"
              v-for="(item, index) in list"
              :key="index"
            >
              <img class="imgs" :src="item.src" alt="" />
              <div class="source_titles">
                <p class="titles">{{ item.title }}</p>
                <div class="source">
                  <span>{{ item.source }}</span
                  ><span class="source_time">{{ item.time }}</span>
                </div>
              </div>
              <p class="more">{{ item.more }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import { researchDetail } from "../../assets/utils/api";
import { Message } from "element-ui";
export default {
  name: "researchDetails",
  components: {
    Header,
    Bootm,
  },
  data() {
    return {
      cityName:"",
      list: [
        {
          src: require("../../assets/img/researchDetails/img.png"),
          title: "投资买房应该看哪几方面",
          source: "来源：二九房产网",
          time: "2017-06-25",
        },
        {
          src: require("../../assets/img/researchDetails/img.png"),
          title: "投资买房应该看哪几方面",
          source: "来源：二九房产网",
          time: "2017-06-25",
        },
        {
          src: require("../../assets/img/researchDetails/img.png"),
          title: "投资买房应该看哪几方面",
          source: "来源：二九房产网",
          time: "2017-06-25",
          more: "查看更多>>",
        },
      ],
      detailObj: {},
    };
  },
  created() {
      this.cityName=sessionStorage.getItem('cityName');
    let id = this.$route.params.id;
    this.getDetail(id);
  },
  methods: {
    /**获取详情数据接口 */
    getDetail(id) {
      try {
        researchDetail(id).then((res) => {
          if (res.code === 1) {
            this.detailObj = res.data;
            console.log(res.data);
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  overflow: hidden;
  header {
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .content {
    min-height: 600px;
    text-align: center;
    /**公共样式 */
    .active {
      color: #34b38a;
    }
    /**搜索框样式 */
    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 36px;
      .name {
        color: #787878;
        font-size: 14px;
      }
      .input_box {
        width: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
          width: 100%;
          height: 40px;
          border: 1px solid #cdcdcd;
          outline: none;
          font-size: 12px;
          color: #bfbfbf;
          padding-left: 23px;
        }
        .button {
          width: 154px;
          height: 44px;
          outline: none;
          border: 0;
          background: #34b38a;
          color: white;
          font-size: 14px;
        }
      }
    }
    .title {
      font-size: 30px;
      font-weight: bold;
      color: #383838;
      margin-top: 79px;
    }
    .time {
      font-size: 12px;
      font-weight: 400;
      color: #9b9b9b;
      margin-top: 18px;
      .text {
        margin-left: 59px;
      }
      .margin {
        margin-left: 59px;
      }
    }
    .paragraph {
      width: 785px;
      margin: 0 auto;
      margin-top: 45px;
      .text {
        font-size: 14px;
        text-align: left;
        color: #5b5b5b;
        margin-top: 26px;
      }
      .img {
        width: 654px;
        height: 369px;
        margin-top: 52px;
      }
      .paragraph_title {
        font-size: 16px;
        font-weight: bold;
        color: #3a3a3a;
        text-align: left;
        margin-top: 46px;
      }
      .grant {
        text-align: left;
        font-size: 12px;
        color: #bebebe;
        margin-top: 50px;
      }
      .icon_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 19px;
        .give,
        .share {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 14px;
          .icon {
            width: 28px;
            height: 24px;
          }
          .icon_text {
            color: #bebebe;
            margin-left: 8px;
          }
          .share_text {
            color: #555555;
            margin-right: 15px;
          }
          .margin {
            margin-right: 38px;
          }
        }
      }
      .related {
        font-size: 24px;
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        text-align: left;
        margin-top: 59px;
      }
      .investment_ul {
        margin-top: 50px;
        .investment_li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          margin-top: 30px;
          &:first-child {
            margin-top: 0;
          }
          .imgs {
            width: 190px;
            height: 110px;
            margin-right: 29px;
          }
          .source {
            margin-top: 56px;
            color: #868686;
            .source_time {
              margin-left: 20px;
            }
          }
          .more {
            flex: 1;
            margin-top: 80px;
            text-align: right;
            color: #6e6e6e;
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
    margin-top: 50px;
  }
}
</style>