<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="center">
      <div class="banner">
        <!-- 搜索框 -->
        <div class="search">
          <div class="name">
            {{ cityName || "暂无数据" }}二九房产网>{{
              cityName || "暂无数据"
            }}二九租房>{{ form.yourRegion || "暂无数据" }}租房>{{
              form.communityName || "暂无数据"
            }}租房
          </div>
          <div class="input_box">
            <input
              type="text"
              class="input"
              placeholder="请输入关键字进行搜索"
            />
            <button class="button">搜索</button>
          </div>
        </div>
        <!-- 关注房源 -->
        <div class="follow">
          <div class="follow_title">
            <div class="title">{{ form.title || "暂无数据" }}</div>
            <div class="describe">
              {{ form.titleContent || "暂无数据" }}
            </div>
          </div>
          <button class="but" @click="clickeFollow">
            <img class="img" :src="src" alt="" /><span>关注房源</span>
          </button>
        </div>
        <!-- 图片轮播 -->
        <div class="property_details">
          <div class="rotation">
            <div class="rotation_img">
              <Swiper :list="banners"></Swiper>
              <div class="identification">客厅</div>
            </div>
            <div class="next_page"></div>
            <!-- 房源基本信息 -->
            <div class="information">
              <div class="title">房源基本信息</div>
              <div class="attribute">
                <div class="text">基本属性</div>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text">房屋户型</span>
                    <span class="content">
                      {{ form.houseStructure || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text">所在楼层</span>
                    <span class="content">
                      {{ form.houseFloor || "暂无数据" }} 层</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">建筑面积</span>
                    <span class="content">
                      {{ form.constructionArea || "暂无数据" }}平米</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 租期时间 </span>
                    <span class="content">
                      {{ form.leaseTime || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 用电用水 </span>
                    <span class="content">
                      {{ form.electricityWater || "暂无数据" }}</span
                    >
                  </li>
                </ul>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text">房屋朝向 </span>
                    <span class="content">
                      {{ form.houseOrientation || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 入住时间 </span>
                    <span class="content">
                      {{ form.checkInTime || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">装修情况 </span>
                    <span class="content">
                      {{ form.renovationCondition || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">梯户比例 </span>
                    <span class="content">
                      {{ form.houseHold || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">配备电梯</span>
                    <span class="content" v-if="form.elevatorStatus == 1">
                      有</span
                    >
                    <span class="content" v-else> 没有</span>
                  </li>
                </ul>
              </div>
              <div class="attribute">
                <div class="text">配套设施</div>
                <ul class="facilities_ul">
                  <li
                    class="facilities_li"
                    v-for="(item, index) in transaction"
                    :key="index"
                  >
                    <div class="text">
                      <img
                        class="img"
                        v-if="item.state === 1"
                        :src="item.src"
                        alt=""
                      />
                      
                      <img class="img" v-else :src="item.src1" alt="" />
                    </div>
                    <p
                      class="content"
                      :style="{
                        color: item.state === 1 ? '#454545' : '#A2A2A2',
                      }"
                    >
                      {{ item.name }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <!-- 本房源特色 -->
            <div class="supply">
              <div class="title">本房源特色</div>
              <ul class="supply_ul">
                <li class="supply_li">
                  <div class="describe">房源特色</div>
                  <div class="conter">
                    {{ form.propertyFeatures || "暂无数据" }}
                  </div>
                </li>
                <li class="supply_li">
                  <div class="describe">核心卖点</div>
                  <div class="conter">
                    {{ form.coreSellingPoint || "暂无数据" }}
                  </div>
                </li>
                <li class="supply_li">
                  <div class="describe">小区介绍</div>
                  <div class="conter">
                    {{ form.communityIntroduction || "暂无数据" }}
                  </div>
                </li>
                <li class="supply_li">
                  <div class="describe">周边配套</div>
                  <div class="conter">
                    {{ form.peripheralSupporting || "暂无数据" }}
                  </div>
                </li>
              </ul>
            </div>
            <p class="paragraph">
              注：1.房源介绍中的周边配套、在建设施、规划设施、地铁信息、绿化率、得房率、容积率等信息为通过物业介绍、房产证、实勘、政府官网等渠道获取，因时间、政策会发生变化，与实际情况可能略有偏差，房源介绍仅供参考。
              2.房源介绍中与距离相关的数据均来源于百度地图。
              3.土地使用起止年限详见业主土地证明材料或查询相关政府部门的登记文件。
            </p>
            <!-- 经纪人带看反馈 -->
            <div class="feedback">
              <div class="feedback_title">
                <div class="title">经纪人带看反馈</div>
                <div class="newest_most">
                  <span class="newest">最新</span
                  ><span class="most">带看最多</span>
                </div>
              </div>
              <ul class="feedback_ul">
                <li
                  class="feedback_li flex_start"
                  v-for="(item, index) in feedback"
                  :key="index"
                >
                  <img :src="item.src" alt="" />
                  <div class="feedback_phone">
                    <div class="name_phone flex_space">
                      <div class="name flex_start">
                        <div>{{ item.name }}</div>
                        <div class="erju">二九</div>
                      </div>
                      <div class="phone_buts flex_start">
                        <div class="phone">{{ item.phone }}</div>
                        <div class="buts">
                          <img
                            src="../../assets/img/ershoufang/consulting.png"
                            alt=""
                          />
                          <div class="text">在线咨询</div>
                        </div>
                      </div>
                    </div>
                    <p class="content">
                      {{ item.conter }}
                    </p>
                    <div class="time_text">
                      <span class="tiem">{{ item.time }}</span>
                      <span class="text">{{ item.frequency }}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 费用详情 -->
            <div class="cost">
              <div class="cost_title">
                <div class="title">费用详情</div>
                <div class="more">去咨询 了解更多>></div>
              </div>
              <p class="text">
                年租价 当租期不足1年时租金可能会上浮，详询经纪人
              </p>
              <ul class="ul">
                <li class="li">
                  <p class="payment">付款方式</p>
                  <p class="payment green">月付</p>
                </li>
                <li class="li">
                  <p class="payment">租金（元/月）</p>
                  <p class="payment red">2500</p>
                </li>
                <li class="li">
                  <p class="payment">押金</p>
                  <p class="payment green">需咨询</p>
                </li>
                <li class="li">
                  <p class="payment">服务费</p>
                  <p class="payment green">0</p>
                </li>
                <li class="li">
                  <p class="payment">中介费</p>
                  <p class="payment green">需咨询</p>
                </li>
              </ul>
            </div>

            <!-- 地址和交通 -->
            <div class="matching">
              <p class="title">地址和交通</p>
              <div
                style="width: 1200px; height: 600px; margin-top: 30px"
                id="container"
              ></div>
            </div>
            <!-- 为你推荐附近房源 -->
            <div class="quality">
              <p class="title">为你推荐附近房源</p>
              <ul class="quality_ul">
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
              </ul>
              <button class="button">查看更多房源</button>
            </div>
          </div>
          <div class="introduce">
            <div class="money_square">
              <div class="money">{{ form.housePrice || 0 }}元/月</div>

              <div class="share">
                <img src="../../assets/img/ershoufang/share.png" alt="" />
                <span>分享此房源</span>
              </div>
            </div>
            <div class="house_type top">
              <div class="type left">两室一厅</div>
              <div class="orientation left">朝南</div>
              <div class="metre">82.5平米</div>
            </div>
            <div class="house_type">
              <div class="floor left">
                {{ form.houseFloor || "暂无数据" }}/共32层
              </div>
              <div class="floor left">
                平层/{{ form.renovationCondition || "暂无数据" }}
              </div>
              <div class="floor">板楼</div>
            </div>

            <ul class="detail_ul">
              <li class="detail_li">
                <div class="name">小区名称</div>
                <div class="address">
                  {{ form.communityName || "暂无数据" }}
                </div>
              </li>
              <li class="detail_li">
                <div class="name">所在区域</div>
                <div class="address">{{ form.yourRegion || "暂无数据" }}</div>
              </li>
              <li class="detail_li">
                <div class="name">看房时间</div>
                <div class="address">随时看房 看房前请联系经纪人</div>
              </li>
              <li class="detail_li">
                <div class="name">房屋编号</div>
                <div class="address">{{ form.houseNumber || "暂无数据" }}</div>
                <span class="text left"> 举报 </span>
              </li>
              <li class="detail_li">
                <div class="name">风险提示</div>
                <div class="text">二九房产用户风险提示</div>
              </li>
            </ul>
            <div class="header_img">
              <img
                class="header"
                src="../../assets/img/ershoufang/header.png"
                alt=""
              />
              <div class="text_img">
                <div class="title_name">
                  <div class="name">帅隆花</div>
                  <div class="but">二九</div>
                </div>
                <div class="describe">我带看该房1次，非常清楚 该房屋特色</div>
              </div>
            </div>
            <!-- 咨询按钮 -->
            <div class="button">
              <button class="but1">4006163287 转 3396</button>
              <button class="but2">
                <img
                  src="../../assets/img/ershoufang/consulting.png"
                  alt=""
                /><span class="text">在线咨询</span>
              </button>
            </div>
            <!-- 联系经济人 -->
            <div class="agent">
              <div class="agent_title">
                <div class="title">联系经纪人</div>
                <div class="agent_img" @click="queryBorker">
                  <img
                    class="img"
                    :class="{ go: rotate, aa: !rotate }"
                    src="../../assets/img/ershoufang/refresh.png"
                    alt=""
                  />
                  <div class="refresh">刷新换一换</div>
                </div>
              </div>
            </div>
            <ul class="agent_ul">
              <li
                class="agent_li"
                v-for="(item, index) in brokerList"
                :key="index"
              >
                <div class="header_img">
                  <img src="../../assets/img/ershoufang/header.png" alt="" />
                  <div class="name_title">
                    <div class="name_but">
                      <div class="title">{{ item.name || "帅隆花" }}</div>
                      <div class="but">{{ item.gongSi || "二九" }}</div>
                    </div>
                    <p class="comments">{{ item.conten || "好评经纪人" }}</p>
                    <p class="phone">{{ item.phone || "40006856转4569" }}</p>
                  </div>
                </div>
                <div class="buts">
                  <img
                    src="../../assets/img/ershoufang/consulting.png"
                    alt=""
                  />
                  <div class="text">在线咨询</div>
                </div>
              </li>
            </ul>
            <button class="buttons">关注房源</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import Swiper from "../../components/Swiper";
import { Message } from "element-ui";
import {
  rentingQueryId,
  addHouseFollow,
  dictionaryQuery,
  deleteByIdsFollow,
  addBrowseRenting,
  brokerRecord,
  brokerPage,
  queryHouseFollow,
} from "../../assets/utils/api.js";
export default {
  name: "rentingDetail",
  components: { Header, Bootm, Swiper },
  data() {
    return {
      /**配套设施 */
      transaction: [
        {
          name: "洗衣机",
          src: require("../../assets/img/renting/icon1.png"),
          src1: require("../../assets/img/renting/icon1-1.png"),
          state: 0,
        },
        {
          name: "空调",
          src: require("../../assets/img/renting/icon2.png"),
          src1: require("../../assets/img/renting/icon2-2.png"),
          state: 0,
        },
        {
          name: "衣柜",
          src: require("../../assets/img/renting/icon3.png"),
          src1: require("../../assets/img/renting/icon3-3.png"),
          state: 0,
        },
        {
          name: "电视机",
          src: require("../../assets/img/renting/icon4.png"),
          src1: require("../../assets/img/renting/icon4-4.png"),
          state: 0,
        },
        {
          name: "冰箱",
          src: require("../../assets/img/renting/icon5.png"),
          src1: require("../../assets/img/renting/icon5-5.png"),
          state: 0,
        },
        {
          name: "热水器",
          src: require("../../assets/img/renting/icon6.png"),
          src1: require("../../assets/img/renting/icon6-6.png"),
          state: 0,
        },
        {
          name: "床",
          src: require("../../assets/img/renting/icon7.png"),
          src1: require("../../assets/img/renting/icon7-7.png"),
          state: 0,
        },
        {
          name: "暖气",
          src: require("../../assets/img/renting/icon8.png"),
          src1: require("../../assets/img/renting/icon8-8.png"),
          state: 0,
        },
        {
          name: "天然气",
          src: require("../../assets/img/renting/icon9.png"),
          src1: require("../../assets/img/renting/icon9-9.png"),
          state: 0,
        },
        {
          name: "宽带",
          src: require("../../assets/img/renting/icon10.png"),
          src1: require("../../assets/img/renting/icon10-10.png"),
          state: 0,
        },
      ],
      /**所有信息 */
      form: {},
      /**经纪人带看反馈 */
      feedback: [
        {
          src: require("../../assets/img/ershoufang/header.png"),
          name: "帅隆花",
          conter:
            "小区整体来说环境非常不错，物业管理也非常到位，户型的话，设计的还可以，小区整体评分来说还是非常不错的，8分！",
          phone: "40006856转4569",
          time: "2020-11-06 ",
          frequency: "带客户看过此房，共带看本房11次",
        },
        {
          src: require("../../assets/img/ershoufang/header.png"),
          name: "帅隆花",
          conter:
            "小区整体来说环境非常不错，物业管理也非常到位，户型的话，设计的还可以，小区整体评分来说还是非常不错的，8分！",
          phone: "40006856转4569",
          time: "2020-11-06 ",
          frequency: "带客户看过此房，共带看本房11次",
        },
        {
          src: require("../../assets/img/ershoufang/header.png"),
          name: "帅隆花",
          conter:
            "小区整体来说环境非常不错，物业管理也非常到位，户型的话，设计的还可以，小区整体评分来说还是非常不错的，8分！",
          phone: "40006856转4569",
          time: "2020-11-06 ",
          frequency: "带客户看过此房，共带看本房11次",
        },
      ],
      brokerList: [],
      banners: [
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
      ],
      /**关注 */
      src: require("../../assets/img/ershoufang/follow.png"),
      followState: false,
      text: "关注房源",
      housingSupply: [],
      /**房源id */
      houseId: 0,
      /**用户id */
      customerId: 0,
      /**刷新动画状态 */
      rotate: false,
      /**存储取消关注的id*/
      arrId: 0,
      cityName: "",
      /**房源户型 */
      typeList: [],
      /**房源朝向 */
      orientationList: [],
      /**装修 */
      decoration: [],
        /**定时器 */
      timer: null,
    };
  },
  watch: {
    /**深度监听房源id */
    houseId: {
      handler() {
        let id = sessionStorage.getItem("detailsId");
        if (id) {
          let detailsId = JSON.parse(id);
          this.houseId = detailsId;
        }
      },
      deep: true,
    },
  },
  created() {
    let id = sessionStorage.getItem("detailsId");
    let userMassge = sessionStorage.getItem("userMassge");
    if (userMassge) {
      userMassge = JSON.parse(userMassge);
      this.customerId = userMassge.id;
    }
    if (id) {
      let detailsId = JSON.parse(id);
      this.houseId = detailsId;
    }
  },
  async mounted() {
    await this.dictionaries();
    await this.serachId();
    this.dictionariesHousingSupply();
    this.addBrowse();
    this.takeLook();
    this.queryBorker();
    this.queryFollow();
     clearTimeout(this.timer);
    this.timer = setTimeout(() => {
      if(!this.form.lat||!this.form.lon){
        this.form.lat=25.825811;
        this.form.lon= 114.934376;
      }
     
        this.map();
    }, 1000);
  },
  methods: {
    /**搜索详情 */
    async serachId() {
      await rentingQueryId(this.houseId).then((res) => {
        if (res.code == 1) {
          /**房屋户型 */
          if (this.typeList[res.data.houseUnitType]) {
            res.data.houseUnitType = this.typeList[
              res.data.houseUnitType
            ].itemName;
          }
          /**装修 */
          if (this.decoration[res.data.renovationCondition]) {
            res.data.renovationCondition = this.decoration[
              res.data.renovationCondition
            ].itemName;
          }
          /**朝向 */
          if (this.orientationList[res.data.houseOrientation]) {
            res.data.houseOrientation = this.orientationList[
              res.data.houseOrientation
            ].itemName;
          }
          if (res.data.rentingSupportVO.washer==='1') {
            this.transaction[0].state = 1;
          }
          if (res.data.rentingSupportVO.airConditioning==='1') {
            this.transaction[1].state = 1;
          }
          if (res.data.rentingSupportVO.wardrobe==='1') {
            this.transaction[2].state = 1;
          }
          if (res.data.rentingSupportVO.television==='1') {
            this.transaction[3].state = 1;
          }
          if (res.data.rentingSupportVO.fridge==='1') {
            this.transaction[4].state = 1;
          }
          if (res.data.rentingSupportVO.heater==='1') {
            this.transaction[5].state = 1;
          }
          if (res.data.rentingSupportVO.bed==='1') {
            this.transaction[6].state = 1;
          }
          if (res.data.rentingSupportVO.geyser==='1') {
            this.transaction[7].state = 1;
          }
          if (res.data.rentingSupportVO.naturalGas==='1') {
            this.transaction[8].state = 1;
          }
          if (res.data.rentingSupportVO.broadband==='1') {
            this.transaction[9].state = 1;
          }
          this.form = res.data;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**点击关注请求按钮 */
    clickeFollow() {
      /**判断用户是否登录 */
      if (this.customerId == 0) {
        this.$store.commit("loginPop", true);
        Message({
          message: "您还未登录，请先登录",
          showClose: true,
          type: "error",
        });
        return false;
      }
      this.followState != this.followState;
      if (this.followState) {
        this.followState = false;
        /**取消关注请求 */
        this.cancelAttention();
      } else {
        /**发送关注请求 */
        this.follow();
        this.followState = true;
      }
    },
    /**查询房源关注字典*/
    dictionariesHousingSupply() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "global",
        };
        dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.housingSupply = res.data.list[0].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**查询二手房字典*/
    async dictionaries() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "second_hand_house",
        };
        await dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.typeList = res.data.list[0].list;
            this.orientationList = res.data.list[4].list;
            /**装修 */
            this.decoration = res.data.list[6].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**关注请求 */
    follow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let obj = {
        customerId: this.customerId,
        houseId: this.houseId,
        houseType: this.housingSupply[0].itemValue,
      };
      addHouseFollow(obj).then((res) => {
        if (res.code == 1) {
          this.arrId = res.data.id;
          this.src = require("../../assets/img/publicImg/attention.png");
          this.text = "已关注";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**取消关注 */
    cancelAttention() {
      let arr = [];
      arr.push(this.arrId);
      deleteByIdsFollow(arr).then((res) => {
        if (res.code == 1) {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**创建租房浏览记录 */
    addBrowse() {
      addBrowseRenting({
        secondHandId: this.houseId,
        customerId: this.customerId,
      }).then((res) => {
        if (res.code != 1) {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**经济人列表 */
    queryBorker() {
      this.rotate = !this.rotate;
      brokerPage({ pageNum: 1, pageSize: 2 }).then((res) => {
        if (res.code == 1) {
          this.brokerList = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**经纪人带看反馈 */
    takeLook() {
      brokerRecord({
        pageNum: 1,
        pageSize: 5,
        houseId: this.houseId,
        houseType: "2",
      }).then((res) => {
        if (res.code == 1) {
          this.feedback = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询关注房源 */
    queryFollow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let followObj = {
        houseId: this.houseId,
        customerId: this.customerId,
        houseType: "1",
      };
      queryHouseFollow(followObj).then((res) => {
        if (res.code == 1) {
          if (res.data) {
            this.followState = true;
            this.src = require("../../assets/img/publicImg/attention.png");
            this.text = "已关注";
            this.arrId = res.data.id;
          } else {
            this.src = require("../../assets/img/ershoufang/follow.png");
            this.text = "关注房源";
            this.followState = false;
          }
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
   /**引入地图 */
    map() {
      var map = new AMap.Map("container", {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom: 15, //初始化地图层级
        center: [this.form.lon, this.form.lat], //初始化地图中心点
      });
      // var circle = new AMap.Circle({
      //   center:[this.form.lon, this.form.lat],
      //   radius: 100, //半径
      //   borderWeight: 3,
      //   strokeColor: "#FF33FF",
      //   strokeOpacity: 1,
      //   strokeWeight: 6,
      //   strokeOpacity: 0.2,
      //   fillOpacity: 0.4,
      //   strokeStyle: "dashed",
      //   strokeDasharray: [10, 10],
      //   // 线样式还支持 'dashed'
      //   fillColor: "#1791fc",
      //   zIndex: 50,
      // });

      // circle.setMap(map);
      // // 缩放地图到合适的视野级别
      // map.setFitView([circle]);
      this.addMarker(map);
    },
    //添加marker标记
    addMarker(map) {
      map.clearMap();
      var marker = new AMap.Marker({
        map: map,
        position: [this.form.lon, this.form.lat],
      });
      //鼠标点击marker弹出自定义的信息窗体
      // AMap.event.addListener(marker, "click", function () {
      //   infoWindow.open(map, marker.getPosition());
      // });
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  width: 100%;
  height: auto;
  overflow: hidden;
  header {
    width: 100%;
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .center {
    margin-top: 45px;
    /**版心 */
    .banner {
      width: 1200px;
      margin: 0 auto;
      /**搜索框样式 */
      .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font-size: 14px;
        }
        .input_box {
          width: 600px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          input {
            width: 100%;
            height: 40px;
            border: 1px solid #cdcdcd;
            outline: none;
            font-size: 12px;
            color: #bfbfbf;
            padding-left: 23px;
          }
          .button {
            width: 154px;
            height: 44px;
            outline: none;
            border: 0;
            background: #34b38a;
            color: white;
            font-size: 14px;
          }
        }
      }
      .follow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 49px;
        .follow_title {
          .title {
            font-size: 26px;
            font-weight: bold;
            color: #454545;
          }
          .describe {
            font-size: 14px;
            font-weight: 400;
            color: #747474;
          }
        }
        .but {
          padding: 14px 33px;
          box-sizing: border-box;
          outline: none;
          border: 0;
          background-color: #f0f0f0;
          font-size: 14px;
          font-weight: 400;
          color: #919191;
          .img {
            width: 15px;
            height: 15px;
          }
          span {
            margin-left: 8px;
          }
        }
      }
      /**轮播图样式 */
      .property_details {
        margin-top: 36px;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 29px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        .rotation {
          width: 710px;
          .rotation_img {
            position: relative;
            height: 400px;
            .imgs {
              width: 710px;
              height: 400px;
            }
            .identification {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 139px;
              height: 38px;
              background: #454545;
              opacity: 0.59;
              text-align: center;
              line-height: 38px;
            }
          }
          .next_page {
            margin-top: 8px;
            height: 80px;
          }

          /**房源基本信息样式 */
          .information {
            margin-top: 39px;

            .title {
              font-size: 24px;
              font-weight: bold;
              color: #454545;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
            }
            .attribute {
              &:nth-child(3) {
                border: 0;
              }
              font-size: 14px;
              color: #a2a2a2;
              display: flex;
              justify-content: flex-start;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              .text {
                flex: 1;
                margin-top: 19px;
                white-space: nowrap; //文本设定为不换行
              }
              .attribute_ul {
                flex: 3;
                .attribute_li {
                  margin-top: 19px;
                  .content {
                    text-align: center;
                    color: #454545;
                    margin-left: 20px;
                  }
                }
              }
              .facilities_ul {
                flex: 6;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-flow: wrap;
                .facilities_li {
                  margin-right: 88px;
                  text-align: center;
                  .text {
                    .img {
                      width: 48px;
                      height: 48px;
                    }
                  }

                  &:nth-child(5n) {
                    margin-right: 0;
                  }
                }
              }
            }
          }
          .paragraph {
            font-size: 12px;
            color: #b7b7b7;
          }
          /**房源特色 */
          .supply {
            margin-top: 42px;
            .title {
              color: #454545;
              font-size: 24px;
              font-weight: bold;
            }
            .supply_ul {
              .supply_li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                border-bottom: 1px solid #d8d8d8;
                padding: 20px 0 20px;
                box-sizing: border-box;
                &:first-child {
                  border-top: 1px solid #d8d8d8;
                  margin-top: 20px;
                }
                &:nth-child(4) {
                  border: 0;
                }
                .describe {
                  flex: 1;
                  color: #a2a2a2;
                }
                .conter {
                  flex: 4;
                  color: #454545;
                }
              }
            }
          }
          /**经纪人带看反馈 */
          .feedback {
            .feedback_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 37px;
              padding-bottom: 20px;
              border-bottom: 1px solid #d8d8d8;
              box-sizing: border-box;
              .title {
                color: #454545;
                font-size: 24px;
                font-weight: bold;
              }
              .newest_most {
                .newest {
                  margin-right: 18px;
                }
                .most {
                  color: #ababab;
                }
              }
            }
            .feedback_ul {
              .flex_start {
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }
              .flex_space {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .feedback_li {
                margin-top: 22px;
                padding-bottom: 20px;
                border-bottom: 1px solid #d8d8d8;
                box-sizing: border-box;
                .feedback_phone {
                  margin-left: 16px;
                  .name_phone {
                    flex: 1;

                    .name {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      font-size: 16px;
                      color: #000;
                      font-weight: bold;
                      .erju {
                        width: 43px;
                        height: 20px;
                        background-color: #34b38a;
                        font-size: 12px;
                        color: white;
                        line-height: 20px;
                        text-align: center;
                        margin-left: 15px;
                      }
                    }
                    .buts {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      background-color: #34b38a;
                      padding: 8px 10px;
                      color: white;
                      .text {
                        font-size: 12px;
                        margin-left: 7px;
                      }
                    }
                    .phone {
                      color: #34b38a;
                      font-size: 14px;
                      font-weight: bold;
                      margin-right: 41px;
                    }
                  }
                  .content {
                    font-size: 14px;
                    color: #454545;
                    margin-top: 16px;
                  }
                  .time_text {
                    margin-top: 20px;
                    color: #b9b9b9;
                    font-size: 12px;
                  }
                }
              }
            }
          }

          .payments,
          .matching,
          .quality,
          .cost {
            .title {
              font-size: 24px;
              color: #454545;
              font-weight: bold;
            }
          }
          .cost {
            margin-top: 39px;
            .cost_title {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              .more {
                font-size: 14px;
                color: #939393;
              }
            }
            .text {
              color: #454545;
              font-weight: bold;
              font-size: 16px;
              margin-top: 19px;
            }
            .ul {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 14px;
              color: #454545;
              .li {
                margin-top: 15px;
                margin-right: 50px;
                .payment {
                  text-align: center;
                  margin-top: 9px;
                }
                .green {
                  color: #34b38a;
                }
                .red {
                  color: #d23535;
                }
              }
            }
          }
          /**周边配套 */
          .matching {
            margin-top: 39px;
            .map {
              margin-top: 30px;
              width: 100%;
              height: 600px;
            }
          }
          /**为你推荐附近房源 */
          .quality {
            margin-top: 30px;
            width: 1200px;
            .quality_ul {
              width: 1200px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 30px;
              flex-wrap: wrap;
              overflow: hidden;
              .li {
                margin-bottom: 42px;

                .img {
                  width: 265px;
                  height: 200px;
                }
                .community_name {
                  width: 135px;
                  font-size: 20px;
                  font-weight: bold;
                  color: #333333;
                  margin-top: 20px;
                }
                .metre {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 10px;
                  .indoor {
                    font-size: 14px;
                    color: #333;
                  }
                  .money {
                    font-size: 18px;
                    color: #d22f2f;
                    font-weight: bold;
                  }
                }
              }
              .sale_li {
                margin-right: 52px;
                width: 365px;
                height: 265px;
                background: url("../../assets/img/index/sale.png") no-repeat
                  center center;
                background-size: 365px 265px;
                &:last-child {
                  margin: 0;
                }
                .sale_name {
                  font-size: 30px;
                  font-weight: bold;
                  color: white;
                  text-align: center;
                  margin-top: 105px;
                  .properties_money {
                    margin-top: 9px;
                    font-size: 16px;
                  }
                }
              }
            }
            .button {
              border: 1px solid #a2a2a2;
              color: #a2a2a2;
              font-size: 14px;
              background: #fff;
              padding: 12px 134px;
              box-sizing: border-box;
              margin: 80px 0;
              margin-left: 40%;
            }
          }
        }
        .introduce {
          margin-left: 44px;
          flex: 1;
          .money_square {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 18px;
            .money {
              font-size: 40px;
              color: #d23535;
              font-weight: bold;
            }
            .square {
              font-size: 16px;
              margin-left: 29px;
              .square_m {
                color: #464646;
              }
              .square_y {
                color: #898989;
              }
              .square_p {
                color: #34b38a;
                font-size: 12px;
              }
            }
            .share {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 12px;
              color: #747474;
              // margin-left: 60px;
              span {
                margin-left: 8px;
              }
            }
          }
          .house_type {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: #454545;
            margin-top: 9px;
            .left {
              margin-right: 80px;
            }
            .floor {
              color: #808080;
              font-size: 12px;
            }
          }
          .top {
            margin-top: 20px;
          }
          .must_see {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            margin-top: 19px;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            .must_text {
              line-height: 38px;
              text-align: center;
              width: 114px;
              font-weight: bold;
              background-color: #34b38a;
              color: white;
            }
            .text {
              flex: 1;
              line-height: 38px;
              color: #737272;
              background-color: #f0f0f0;
              padding-left: 21px;
            }
          }
          .detail_ul {
            border-top: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            margin-top: 19px;
            .detail_li {
              font-size: 14px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 15px;
              .name {
                color: #a2a2a2;
                margin-right: 20px;
              }
              .address {
                color: #454545;
              }
              .left {
                margin-left: 20px;
              }
              .text {
                color: #34b38a;
              }
            }
          }
          .header_img {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            .header {
              width: 68px;
              height: 68px;
            }
            .text_img {
              margin-left: 19px;
              .title_name {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .name {
                  color: #000;
                  font-size: 22px;
                  font-weight: bold;
                  margin-right: 19px;
                }
                .but {
                  width: 46px;
                  height: 23px;
                  text-align: center;
                  line-height: 23px;
                  background-color: #34b38a;
                  color: #fff;
                  font-size: 12px;
                }
              }
              .describe {
                width: 169px;
                color: #9e9e9e;
                font-size: 14px;
              }
            }
          }
          .button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 24px;
            button {
              font-size: 18px;
              font-weight: bold;
              color: #ffffff;
              border: 0;
              background-color: #34b38a;
              outline: none;
            }
            .but1 {
              padding: 16px 36px 14px;
              box-sizing: border-box;
            }
            .but2 {
              padding: 14px 25px;
              box-sizing: border-box;
              margin-left: 38px;
            }
            .text {
              font-weight: 400;
              margin-left: 7px;
            }
          }
          .agent {
            margin-top: 84px;
            .agent_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              .title {
                font-size: 14px;
                color: #454545;
                font-weight: bold;
              }
              .agent_img {
                font-size: 14px;
                color: #8a8a8a;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .title {
                  font-weight: bold;
                }
                .img {
                  width: 17px;
                  height: 17px;
                }
                .refresh {
                  margin-left: 9px;
                }
              }
            }
          }
          .agent_ul {
            .agent_li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              &:last-child {
                border: 0;
              }
              .header_img {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .name_title {
                  font-size: 14px;
                  margin-left: 16px;
                  color: #454545;
                  .name_but {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .title {
                      font-size: 16px;
                      font-weight: bold;
                      color: #000000;
                      margin-right: 19px;
                    }
                    .but {
                      width: 46px;
                      height: 23px;
                      text-align: center;
                      line-height: 23px;
                      background-color: #34b38a;
                      color: #fff;
                      font-size: 12px;
                    }
                  }
                  .comments {
                    margin: 16px 0;
                  }
                  .phone {
                    color: #34b38a;
                    font-weight: bold;
                  }
                }
              }
              .buts {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #34b38a;
                padding: 10px 8px;
                color: white;
                .text {
                  font-size: 12px;
                  margin-left: 7px;
                }
              }
            }
          }
          .buttons {
            width: 100%;
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
  .aa {
    transition: all 1s;
  }
  .go {
    transform: rotate(360deg);
    transition: all 1s;
  }
}
</style>