<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="content">
      <div class="banner">
        <p class="compare">南昌二手房产网>个人中心</p>
        <div class="menu">
          <div class="menu_left">
            <div class="img_name">
              <img class="img" src="" alt="" />
              <p class="name">欢迎你，{{ phone }}</p>
            </div>
            <ul class="list">
              <li
                class="list_li"
                @click="houseSort(index)"
                :class="{ active: houseIndex === index }"
                v-for="(item, index) in list"
                :key="index"
              >
                {{ item.title }}
              </li>
            </ul>
          </div>
          <div class="menu_right">
            <!-- 修改密码 -->
            <div class="modify_password" v-show="isShow == 5">
              <p class="title">修改密码</p>
              <div class="margin marignTop">
                <div class="name_input">
                  <div class="name">请输入旧密码：</div>
                  <input
                    type="password"
                    class="input"
                    v-model.trim="passwordOld"
                    placeholder="请输入密码"
                  />
                </div>
                <div class="name_input">
                  <div class="name">设置新密码：</div>
                  <input
                    type="password"
                    v-model.trim="passwordNew1"
                    class="input"
                    placeholder="请输入新密码"
                  />
                </div>
                <div class="name_input">
                  <div class="name">确认新密码：</div>
                  <input
                    type="password"
                    class="input"
                    placeholder="请再次输入新密码"
                    v-model.trim="passwordNew2"
                  />
                </div>
                <div class="name_input">
                  <div class="name"></div>
                  <button class="button" @click="update">保存修改</button>
                </div>
              </div>
            </div>
            <!-- 购房工具 -->
            <div class="modify_password" v-show="isShow == 4">
              <p class="title">房贷计算</p>
              <div class="margin">
                <div class="loan_type">
                  <div class="name_select">
                    <span class="name">贷款类型</span>
                    <select class="select black_bg border" name="" id="">
                      <option value="">商业贷款</option>
                    </select>
                  </div>
                  <div class="name_select">
                    <span class="name">贷款年限</span>
                    <select class="select black_bg border" name="" id="">
                      <option value="">30年</option>
                    </select>
                  </div>
                </div>
                <div class="loan_type">
                  <div class="name_select">
                    <span class="name">利率方式</span>
                    <select class="select black_bg border" name="" id="">
                      <option value="">最新LPR</option>
                    </select>
                  </div>
                  <div class="name_select">
                    <span class="name">贷款年限</span>
                    <div class="input_icon select">
                      <div class="text_icon select border">
                        <input type="text" class="input border_none" />
                        <span class="text">%</span>
                      </div>
                      <img
                        class="say_icon"
                        src="../../assets/img/personalCenter/say.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="loan_type">
                  <div class="name_select">
                    <span class="name">添加基点</span>
                    <div class="input_icon select">
                      <div class="text_icon select border">
                        <input type="text" class="input border_none" />
                        <span class="text">BP(‰ )</span>
                      </div>
                    </div>
                  </div>
                  <div class="name_select">
                    <span class="name">商贷利率</span>
                    <div class="input_icon select">
                      <div class="text_icon select border">
                        <input
                          type="text"
                          class="input border_none"
                          placeholder="4.75"
                        />
                      </div>
                      <img
                        class="say_icon"
                        src="../../assets/img/personalCenter/say.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="loan_type">
                  <div class="name_select">
                    <span class="name">计算方式</span>
                    <select class="select black_bg border" name="" id="">
                      <option value="">按贷款总额</option>
                    </select>
                  </div>
                  <div class="name_select">
                    <span class="name">贷款年限</span>
                    <div class="input_icon select">
                      <div class="text_icon select border">
                        <input type="text" class="input border_none" />
                        <span class="text">万元</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button_box">
                  <button class="but">清空</button>
                  <button class="but">计算</button>
                </div>
              </div>
            </div>
            <!-- 首页 -->
            <div class="modify_password" v-show="isShow == 0">
              <p class="title">我发布的房源</p>
              <div class="follow">
                <ul class="menu_tab">
                  <li
                    class="menu_li"
                    v-for="(item, index) in menu_tab"
                    :key="index"
                    @click="menuTab(index)"
                    :class="{ active: menuIndex === index }"
                  >
                    {{ item.title }}
                  </li>
                </ul>
                <div class="lists" v-if="myHouseList.length > 0">
                  <ul class="house_left">
                    <li
                      class="house_left_li"
                      v-for="(item, index) in myHouseList"
                      :key="index"
                    >
                      <!-- @click="router()" -->
                      <img class="huose_img" :src="item.src" alt="" />
                      <div class="house_center">
                        <div class="title green">
                          {{ item.communityName }}
                        </div>
                        <div class="address flex">
                          <span class="text">{{ item.address }}</span>
                        </div>
                        <div class="house_img_text color">
                          <span class="text"> {{ item.houseArea }}</span>
                        </div>
                        <!-- <div class="button" v-if='item.houseType=="2"'>
                          <button class="bg">{{ item.button1 }}</button>
                          <button class="bg">{{ item.button2 }}</button>
                        </div> -->
                      </div>
                      <div class="house_right">
                        <p class="money" v-if="item.houseType == '2'">
                          {{ item.expectedPrice }}万
                        </p>
                        <p class="money" v-else>
                          {{ item.expectedPrice }}元/月
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="available" v-else>暂无数据</div>
              </div>
            </div>
            <!-- 我的足迹 -->
            <div class="modify_password" v-show="isShow == 1">
              <p class="title">你浏览的房产记录</p>
              <div class="follow">
                <ul class="menu_tab">
                  <li
                    class="menu_li"
                    v-for="(item, index) in footprint"
                    :key="index"
                    @click="menuTab(index)"
                    :class="{ active: menuIndex === index }"
                  >
                    {{ item.title }}
                  </li>
                </ul>

                <div class="lists" v-if="footPrintList.length > 0">
                  <ul class="house_left">
                    <li
                      class="house_left_li"
                      v-for="(item, index) in footPrintList"
                      :key="index"
                      @click="footprintRouter(item)"
                    >
                      <img class="huose_img" :src="item.coverImage" alt="" />
                      <div class="house_center">
                        <div class="title green">
                          {{ item.titleContent }}
                        </div>
                        <div class="address flex">
                          <span class="text"
                            >{{ item.communityName }}&nbsp;&nbsp;</span
                          >
                          <span class="text" v-if="item.houseUnitType"
                            >/{{ item.houseUnitType }}&nbsp;&nbsp;</span
                          >
                          <span class="text" v-if="item.houseArea"
                            >/&nbsp;&nbsp;{{ item.houseArea }}m²</span
                          >
                          <span class="text" v-if="item.houseOrientation"
                            >/&nbsp;&nbsp;{{ item.houseOrientation }}</span
                          >
                        </div>
                        <div class="house_img_text color">
                          <span class="text" v-if="item.houseHold">
                            {{ item.houseHold }}</span
                          >
                          <span class="text" v-if="item.houseFloor"
                            >/ {{ item.houseFloor }}</span
                          >
                        </div>
                        <div class="button">
                          <button
                            class="bg"
                            v-for="(items, id) in item.tagVOList"
                            :key="id"
                          >
                            {{ items.tagName }}
                          </button>
                        </div>
                      </div>
                      <div class="house_right">
                        <p class="money">{{ item.housePrice }}万</p>
                        <p class="average_price">
                          均价:{{ item.avgPrice }}元/m²
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="available" v-else>暂无数据</div>
              </div>
            </div>
            <!-- 关注的房源 -->
            <div class="modify_password" v-show="isShow == 2">
              <div class="title">
                共关注<span class="red">{{ total }}</span
                >套房源
              </div>
              <div class="follow">
                <ul class="menu_tab">
                  <li
                    class="menu_li"
                    v-for="(item, index) in follow"
                    :key="index"
                    @click="menuTab(index)"
                    :class="{ active: menuIndex === index }"
                  >
                    {{ item.title }}
                  </li>
                </ul>
                <div class="lists" v-if="listing.length > 0">
                  <ul class="house_left">
                    <li
                      class="house_left_li"
                      v-for="(item, index) in listing"
                      :key="index"
                      @click="router(item.id)"
                    >
                      <!-- @click="router()" -->
                      <img class="huose_img" :src="item.coverImage" alt="" />
                      <div class="house_center">
                        <div class="title green">
                          {{ item.title }}
                        </div>
                        <div class="address flex">
                          <span class="text"
                            >{{ item.communityName }}&nbsp;&nbsp;</span
                          >
                          <span class="text" v-if="item.houseUnitType"
                            >/{{ item.houseUnitType }}&nbsp;&nbsp;</span
                          >
                          <span class="text" v-if="item.houseArea"
                            >/&nbsp;&nbsp;{{ item.houseArea }}m²</span
                          >
                          <span class="text" v-if="item.houseOrientation"
                            >/&nbsp;&nbsp;{{ item.houseOrientation }}</span
                          >
                        </div>
                        <div class="house_img_text color">
                          <span class="text" v-if="item.houseHold">
                            {{ item.houseHold }}</span
                          >
                          <span class="text" v-if="item.houseFloor"
                            >/ {{ item.houseFloor }}</span
                          >
                        </div>
                        <div class="button">
                          <button
                            class="bg"
                            v-for="(items, id) in item.tagVOList"
                            :key="id"
                          >
                            {{ items.tagName }}
                          </button>
                        </div>
                      </div>
                      <div class="house_right">
                        <p class="money">{{ item.housePrice }}万</p>
                        <p class="average_price">
                          均价:{{ item.avgPrice }}元/m²
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="available" v-else>暂无数据</div>
              </div>
            </div>
            <!-- 关注的小区 -->
            <div class="modify_password" v-show="isShow == 3">
              <div class="title">
                共关注<span class="red">{{ total }}</span
                >小区
              </div>
              <div class="follow">
                <div class="lists" v-if="listing.length > 0">
                  <ul class="house_left">
                    <li
                      class="house_left_li"
                      v-for="(item, index) in listing"
                      :key="index"
                      @click="router(item.id)"
                    >
                      <!-- @click="router()" -->
                      <img class="huose_img" :src="item.coverImage" alt="" />
                      <div class="house_center">
                        <div class="title green">
                          {{ item.title }}
                        </div>
                        <div class="address flex">
                          <span class="text">{{ item.communityName }}</span>
                        </div>
                        <div class="house_img_text color">
                          <span class="text">
                            {{ item.buildingAge }}&nbsp;&nbsp;{{
                              item.buildingType
                            }}</span
                          >
                        </div>
                        <div class="house_img_text color">
                          <span class="text"> 出售:{{ 0 }} 出租:0</span>
                        </div>
                      </div>
                      <div class="house_right">
                        <p class="money">{{ item.housePrice }}万</p>
                        <p class="average_price">
                          均价:{{ item.avgPrice }}元/m²
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="available" v-else>暂无数据</div>
              </div>
            </div>
            <!-- 绑定账号 -->
            <div class="modify_password" v-show="isShow == 6">
              <div class="title">其它登录方式</div>
              <div class="follow">
                <ul class="ul_user">
                  <li class="li_user" v-if="noBind == 1">
                    <div class="wxImg_name">
                      <img
                        class="wxImg"
                        src="../../assets/img/index/weixin.png"
                        alt=""
                      />
                      <div class="name">微信</div>
                    </div>
                    <div class="cont_text" @click="bindWx">
                      <span class="cont">+</span>
                      <span class="text">绑定</span>
                    </div>
                  </li>
                  <li class="li_user" v-else>
                    <div class="wxImg_name">
                      <img
                        class="wxImg"
                        src="../../assets/img/index/weixin.png"
                        alt=""
                      />
                      <div class="name">
                        <div>微信</div>
                        <div class="wxImg_name_id">ID:{{ user.phone }}</div>
                      </div>
                    </div>
                    <div class="cont_text">
                      <span class="text">已绑定</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 分页 -->
            <div
              class="page publc"
              v-show="houseIndex != 4 && houseIndex != 5 && houseIndex != 6"
            >
              <div class="page_but publc">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  layout="prev, pager, next"
                  :pages="page"
                  :pageSize="pageSize"
                  :total="total"
                  :current-page.sync="currentPage"
                  background
                >
                </el-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
    <!-- 聊天窗口 -->
    <ChatInterface></ChatInterface>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import ChatInterface from "../../components/ChatInterface";
import WxPoup from "../../components/wxPoup/WxPoup.vue";
import {
  querySecondHouseFollow,
  queryRentingFollow,
  queryNewHouseFollow,
  queryCommunityFollow,
  updatePassword,
  exhibitionSecond,
  exhibitionCommunity,
  exhibitionRenting,
  exhibitionNewHouse,
  querySellRent,
  addBrowseSecond,
  bindThird,
  getBindThird,
} from "../../assets/utils/api";
import { Message } from "element-ui";
export default {
  name: "personalCenter",
  components: {
    Header,
    Bootm,
    ChatInterface,
    WxPoup,
  },
  data() {
    return {
      /**添加卖家,买家功能 */
      list: [
        { title: "我的房源" },
        { title: "我的足迹" },
        { title: "关注的房源" },
        { title: "关注的小区" },
        { title: "购房工具" },
        { title: "编辑资料" },
        { title: "绑定账号" },
      ],
      /**一级切换 */
      houseIndex: 0,
      isShow: 0,
      /**二级菜单切换 */
      menu_tab: [{ title: "出租房源" }, { title: "二手房" }],
      menuIndex: 0,
      menuShow: 0,
      /**房源列表 */
      listing: [],
      /**我的足迹 */
      footprint: [
        { title: "租房" },
        { title: "二手房" },
        { title: "小区" },
        { title: "新房" },
      ],
      footPrintList: [],
      /**我的房源 */
      myHouseList: [],
      /**关注的房源 */
      follow: [{ title: "租房" }, { title: "二手房" }, { title: "新房" }],
      phone: "",
      customerId: 0,
      /**分页 */
      page: 1,
      pageSize: 1,
      total: 1,
      currentPage: 1,
      /**密码 */
      passwordOld: "",
      passwordNew1: "",
      passwordNew2: "",
      /**用户信息 */
      user: {},
      /**判断用户是否绑定 */
      noBind: 1,
      /**绑定类型 */
      source: "",
      wxcode: "",
      wxstate: "",
    };
  },
  watch: {
    /**深度监听登录状态 */
    phone: {
      handler() {
        let userMassge = sessionStorage.getItem("userMassge");
        if (userMassge) {
          let user = JSON.parse(userMassge);
          this.customerId = user.id;
          this.phone = user.phone.replace(
            user.phone.substring(3, user.phone.length - 4),
            "****"
          );
        }
      },
      deep: true,
    },
  },
  created() {
    /**修改用户手机号 */
    let userMassge = sessionStorage.getItem("userMassge");

    if (userMassge) {
      let user = JSON.parse(userMassge);
      this.user = user;
      this.customerId = user.id;
      this.phone = user.phone.replace(
        user.phone.substring(3, user.phone.length - 4),
        "****"
      );
    }
    /**初始数据 */
    this.queryLease(1);
  },
  mounted() {
    this.source = localStorage.getItem("source");
    this.wxcode = sessionStorage.getItem("code");
    this.wxstate = sessionStorage.getItem("state");
    if (this.wxcode && this.wxstate) {
      this.loginBind();
    }
    /**调用查询用户账户有无绑定微信 */
    this.queryBind();
  },
  methods: {
    /**菜单的显示和隐藏 */
    houseSort(leve1) {
      this.houseIndex = leve1;
      this.isShow = leve1;
      this.currentPage = 1;
      this.page = 1;
      this.pageSize = 1;
      this.total = 1;
      /**点击一级时重置二级下标 */
      this.menuIndex = 0;
      if (leve1 == 0) {
        /**我的房源 */
        this.queryLease(1, this.menuIndex);
      } else if (leve1 == 1) {
        /**调用我的足迹方法 */
        this.myFootprint(1);
      } else if (leve1 == 2) {
        /**查询关注房源 */
        this.query(1);
      } else if (leve1 == 3) {
        this.queryCommunity(1);
      }
    },
    /**二级切换方法 */
    menuTab(leve2) {
      this.menuIndex = leve2;
      this.menuShow = leve2;
      this.currentPage = 1;
      /**二级切换请求区分 */
      this.distinguish();
    },
    /**二级切换请求区分 */
    distinguish() {
      switch (this.houseIndex) {
        case 0:
          /**我的房源 */
          this.queryLease(1, this.menuIndex);
          break;
        case 1:
          /**调用我的足迹方法 */
          this.myFootprint(1);
          break;
        case 2:
          /**调用关注房源 */
          this.query(1);
          break;
        case 3:
          this.queryCommunity(1);
          break;
      }
    },
    /**分页查询关注的二手房 */
    query(pageNum) {
      // 房源类型:1租房 2:二手房 3:小区 4:楼盘
      let arr = [
        queryRentingFollow,
        querySecondHouseFollow,
        queryNewHouseFollow,
      ];

      let arrType = ["1", "2", "4"];
      let obj = {
        pageNum: pageNum ? pageNum : 1,
        pageSize: 1,
        customerId: this.customerId,
        houseType: arrType[this.menuIndex],
      };
      arr[this.menuIndex](obj).then((res) => {
        if (res.code == 1) {
          this.listing = res.data.list;
          this.pageSize = res.data.pageSize;
          this.total = res.data.total;
          this.page = res.data.page;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**分页查询关注的小区 */
    queryCommunity(pageNum) {
      let obj = {
        pageNum: pageNum ? pageNum : 1,
        pageSize: 1,
        customerId: this.customerId,
        houseType: "3",
      };
      queryCommunityFollow(obj).then((res) => {
        if (res.code == 1) {
          this.listing = res.data.list;
          this.pageSize = res.data.pageSize;
          this.total = res.data.total;
          this.page = res.data.page;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**修改密码 */
    update() {
      let user = sessionStorage.getItem("userMassge");
      user = JSON.parse(user);
      let id = parseInt(user.id);
      let password = sessionStorage.getItem("userPw");
      let oldPassword = this.$md5(this.passwordOld);
      if (this.passwordOld != password) {
        Message({
          showClose: true,
          message: "您的旧密码不正确哦!",
          type: "error",
        });
      } else if (this.passwordNew1 != this.passwordNew2) {
        Message({
          showClose: true,
          message: "新密码不一致",
          type: "error",
        });
      }
      let newPassword = this.$md5(this.passwordNew2);
      let userObj = {
        id: id,
        loginPwd: newPassword,
        phone: user.phone,
      };
      updatePassword(userObj).then((res) => {
        if (res.code == 1) {
          Message({
            showClose: true,
            message: res.msg,
            type: "success",
          });
          this.passwordNew2 = "";
          this.passwordNew1 = "";
          this.passwordOld = "";
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
        console.log(res);
      });
    },
    /**展示我的足迹页面 */
    myFootprint(pageNum) {
      let arrUrl = [
        exhibitionRenting,
        exhibitionSecond,
        exhibitionCommunity,
        exhibitionNewHouse,
      ];

      arrUrl[this.menuIndex]({
        customerId: this.customerId,
        pageNum: pageNum ? pageNum : 1,
        pageSize: 1,
      }).then((res) => {
        if (res.code == 1) {
          if( res.data.list==null){
            this.footPrintList =[];
            }else{
              this.footPrintList = res.data.list;
            }

          this.total = res.data.total;
          this.pageSize = res.data.pageSize;
          this.page = res.data.page;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
        // console.log(res);
      });
    },
    /**点击列表跳转至详情页 */
    router(id) {
      let routerArr = [
        "rentingDetail",
        "houseDetail",
        "quartersDetail",
        "newHouseDetail",
      ];
      //存储详情页的id防止刷新id重置
      sessionStorage.setItem("detailsId", id);
      let router = "";
      /**小区特殊处理 */
      if (this.houseIndex != 3) {
        router = routerArr[this.menuIndex];
      } else {
        router = routerArr[2];
      }
      this.$router.push({ name: router, params: { id: id } });
    },
    /**我的足迹id获取 */
    footprintRouter(item) {
      let id = 0;
      if (item.rentingId) {
        id = item.rentingId;
      } else if (item.secondHandId) {
        id = item.secondHandId;
      } else if (item.communityId) {
        id = item.communityId;
      } else {
        id = item.newHouseId;
      }
      let routerArr = [
        "rentingDetail",
        "houseDetail",
        "quartersDetail",
        "newHouseDetail",
      ];
      //存储详情页的id防止刷新id重置
      sessionStorage.setItem("detailsId", id);
      let router = "";
      /**小区特殊处理 */
      if (this.houseIndex != 3) {
        router = routerArr[this.menuIndex];
      } else {
        router = routerArr[2];
      }
      this.$router.push({ name: router, params: { id: id } });
    },
    /**查询出租/售房列表 */
    queryLease(pageNum, e) {
      querySellRent({
        pageNum: pageNum ? pageNum : 1,
        pageSize: 1,
        houseType: e == 0 ? "1" : "2",
        housePhone: this.user.phone,
      }).then((res) => {
        if (res.code == 1) {
          this.myHouseList = res.data.list;
          this.total = res.data.total;
          this.pageSize = res.data.pageSize;
          this.page = res.data.page;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**调用微信扫描接口 */
    bindWx() {
      /**获取当前页面url路径 */
      let str = this.$route.path.split("/");
      let routUrl = "/" + str[1];
      // source: "wechat_open",
      let data = {
        routUrl: "",
      };
      sessionStorage.setItem("data", data);
      /**保存路由 */
      sessionStorage.setItem("routUrl", routUrl);
      let randomValue = this.randomString(
        36,
        "0123456789ABCDEFGabcdefgopqrstuvwxz"
      );
      /**跳转至微信扫码接口 */
      window.location.href = `https://open.weixin.qq.com/connect/qrconnect?appid=wx7b1df836d810048f&redirect_uri=https://29fc.com&response_type=code&scope=snsapi_login&state=${randomValue}#wechat_redirect`;
    },
    /**第三方绑定 */
    loginBind() {
      let data = {
        thirdId: this.user.thirdId,
        source: this.source,
        phone: this.user.phone,
        customerId: this.customerId,
        callback: {
          code: this.wxcode,
          state: this.wxstate,
        },
      };
      console.log("data", data);
      bindThird(data).then((res) => {
        if (res.code == 1) {
          let userMassge = res.data;
          userMassge = JSON.stringify(userMassge);
          /**将值保存到本地 */
          sessionStorage.setItem("userMassge", userMassge);
          this.$router.push(
            {
              name: "个人中心",
            },
            (onComplete) => {},
            (onAbort) => {}
          );
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
        console.log(res);
      });
    },
    /**生成随机字符串 */
    randomString(len, charSet) {
      charSet =
        charSet ||
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var randomString = "";
      for (var i = 0; i < len; i++) {
        var randomPoz = Math.floor(Math.random() * charSet.length);
        randomString += charSet.substring(randomPoz, randomPoz + 1);
      }
      return randomString;
    },
    /**查询用户有无绑定微信 */
    queryBind() {
      getBindThird(this.customerId).then((res) => {
        if (res.code == 1) {
          // this.wxId=res.
          this.noBind = 2;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**分页 */
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      if (this.houseIndex == 0) {
        this.queryLease(val, this.menuIndex);
      } else if (this.houseIndex == 1) {
        /**调用我的足迹方法 */
        this.myFootprint(val);
      } else if (this.houseIndex == 2) {
        this.query(val);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  .content {
    .banner {
      .compare {
        font-size: 12px;
        color: #787878;
        margin-top: 48px;
      }
      .menu {
        margin-top: 48px;
        display: flex;
        justify-content: flex-start;

        .menu_left {
          width: 230px;
          padding-bottom: 10px;
          box-sizing: border-box;
          background: #f8f8f8;
          box-shadow: 0px 0px 9px 0px rgba(34, 23, 20, 0.19);
          margin-right: 75px;

          .img_name {
            text-align: center;
            .img {
              margin: 50px 58px 0;
              width: 115px;
              height: 115px;
              background-color: #fff;
            }
            .name {
              font-size: 12px;
              color: #787878;
              margin-top: 19px;
            }
          }
          .list {
            margin-top: 22px;
            .list_li {
              height: 40px;
              line-height: 40px;
              text-align: center;
              color: #454545;
              font-size: 14px;
            }
            .active {
              color: white;
              background-color: #489782;
            }
          }
        }
        .menu_right {
          width: 895px;
          padding: 50px 40px 34px;
          background: #f8f8f8;
          box-shadow: 0px 0px 9px 0px rgba(34, 23, 20, 0.19);
          position: relative;
          .title {
            font-size: 22px;
            font-weight: bold;
            color: #34b38a;
            .red {
              color: #d12626;
            }
          }
          .modify_password {
            .margin {
              margin-top: 29px;
              .name_input {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                color: #333333;
                margin-top: 20px;
                &:first-child {
                  margin: 0;
                }
                .name {
                  width: 120px;
                  margin-right: 24px;
                  text-align: right;
                }
                .input {
                  width: 255px;
                  height: 35px;
                  border: 1px solid #d7d7d7;
                  padding-left: 14px;
                  box-sizing: border-box;
                }
                .button {
                  width: 255px;
                  height: 35px;
                }
              }
              .loan_type {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;
                &:first-child {
                  margin: 0;
                }
                .name_select {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  font-size: 14px;
                  font-weight: 400;
                  color: #858585;
                  .select {
                    width: 255px;
                    height: 35px;
                    color: #505050;
                    outline: none;
                    box-sizing: border-box;
                  }
                  .name {
                    margin-right: 22px;
                  }
                  .black_bg {
                    background: #d7d7d7;
                  }
                  .border {
                    border: 1px solid #d7d7d7;
                  }
                  .border_none {
                    background: #f8f8f8;
                    border: 0;
                  }
                  .white_bg {
                    background-color: #fff;
                  }
                  .input {
                    width: 240px;
                    height: 30px;
                  }
                  .input_icon {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .text_icon {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      padding: 0 10px;
                      box-sizing: border-box;
                    }
                    .text {
                      white-space: nowrap;
                      margin-left: 10px;
                    }
                    .say_icon {
                      width: 20px;
                      height: 20px;
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
            .marignTop {
              margin-top: 54px;
            }
            /**首页 */
            .follow {
              margin-top: 25px;
              .menu_tab {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid #34b38a;
                .menu_li {
                  font-size: 14px;
                  font-weight: 400;
                  color: #a2a2a2;
                  margin-right: 92px;
                  padding-bottom: 8px;
                  box-sizing: border-box;
                }
                .active {
                  color: #34b38a;
                  border-bottom: 1px solid #34b38a;
                  font-weight: 400;
                }
              }
              .lists {
                .house_left {
                  .house_left_li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-bottom: 1px solid #c4c4c4;
                    padding-bottom: 30px;
                    box-sizing: border-box;
                    margin-top: 30px;
                    .house_center {
                      margin-left: 30px;
                      flex: 2;
                      .text {
                        font-size: 14px;
                        color: #454545;
                        margin-left: 3px;
                      }
                      .title {
                        font-size: 18px;
                        color: #34b38a;
                        font-weight: bold;
                      }

                      .address {
                        margin-top: 34px;
                        color: #333333;
                      }
                      .house_img_text {
                        margin-top: 12px;
                        .text {
                          color: #919191;
                        }
                      }
                      .button {
                        margin-top: 19px;
                        button {
                          width: 97px;
                          height: 30px;
                          border: 1px solid #34b38a;
                          color: #34b38a;
                          font-weight: 400;
                          background: #f8f8f8;
                          outline: none;
                          margin-right: 15px;
                        }
                      }
                    }

                    .huose_img {
                      width: 232px;
                      height: 174px;
                    }
                    .house_right {
                      flex: 1;
                      text-align: right;
                      margin-top: 4px;
                      .money {
                        font-size: 20px;
                        font-weight: bold;
                        color: #c91d1d;
                      }
                      .average_price {
                        font-size: 14px;
                        color: #7b7b7b;
                      }
                    }
                  }
                }
                /**分页公共样式 */
                .publc {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .page {
                  margin: 31px 0;
                  position: absolute;
                  right: 50px;
                  .page_but {
                    li {
                      width: 30px;
                      height: 25px;
                      line-height: 25px;
                      text-align: center;
                      background-color: #bfbfbf;
                      margin-right: 5px;
                      font-size: 14px;
                      color: #454545;
                    }
                  }
                  button {
                    border: 0;
                    height: 25px;
                    background-color: #bfbfbf;
                  }
                }
              }
              .ul_user {
                .li_user {
                  border-bottom: 1px solid #999999;
                  border-top: 1px solid #999999;
                  padding: 40px 0;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .wxImg_name {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .wxImg {
                      width: 50px;
                      height: 50px;
                    }
                    .name {
                      margin-left: 12px;
                      font-size: 18px;
                      color: #454545;
                      .wxImg_name_id {
                        font-size: 14px;
                        color: #454545;
                      }
                    }
                  }
                  .cont_text {
                    width: 100px;
                    height: 36px;
                    border-radius: 18px;
                    line-height: 36px;
                    text-align: center;
                    border: 2px solid #999999;
                    .cont {
                      font-size: 16px;
                      color: #34b38a;
                      font-weight: bold;
                    }
                    .text {
                      margin-left: 14px;
                      font-size: 14px;
                      color: #999999;
                    }
                  }
                }
              }
            }
            .button_box {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 32px;
              .but {
                width: 90px;
                height: 35px;
                line-height: center;
                border: 1px solid #34b38a;
                border-radius: 5px;
                background: #f8f8f8;
                color: #34b38a;
                margin-right: 47px;
              }
            }
            .available {
              color: #a2a2a2;
              text-align: center;
              font-size: 14px;
              margin-top: 40px;
            }
          }
          /deep/ .el-pagination {
            position: absolute;
            right: 35px;
            bottom: 20px;
            //
          }
          /deep/
            .el-pagination.is-background
            .el-pager
            li:not(.disabled).active {
            background-color: #34b38a;
            color: #454545;
          }
          /deep/ .el-pagination.is-background .el-pager li {
            background-color: #bfbfbf;
          }
        }
      }
    }
  }
  .bootm {
    margin-top: 138px;
  }
}
</style>