<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="./title_icon.png" />

  <title> 二九房产网_二手房|租房|新房|房地产信息网【二九找房】</title>
  <meta name="description" content=" 二九房产网找房提供真实房源的房产信息平台,为买房、 二手房、 新房购买以及 租房需求的用户提供便捷服务.同时有智能找房、VR看房等先进科技找房功能等你来体验，想在买房、购买二手房、新房、租房，想了解到一手房产资讯、房价行情，就来二九找房吧！"/>
  <meta name="keywords" content="买房,二手房,二九房产网, 租房, 二九房地产"/>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong>
  </noscript>
  <div id="app">
    <% if (htmlWebpackPlugin.options.cdnVersion) { %>
      <script
        src="https://cdn.jsdelivr.net/npm/vue-ueditor-wrap@<%= htmlWebpackPlugin.options.cdnVersion %>/lib/vue-ueditor-wrap.min.js"></script>
      <% } %>
  </div> 
  <!-- <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> -->
  <!-- built files will be auto injected -->
  <script type="text/javascript"
    src="https://webapi.amap.com/maps?v=1.4.15&key=28ea298a443434231a835c12fdb16a91"></script>
</body>

</html>
<style type="text/css">
  .amap-logo {
    display: none;
    opacity: 0 !important;
  }

  .amap-copyright {
    opacity: 0;
  }

  .amap-icon img {
    width: 25px;
    height: 34px;
  }

  .amap-marker-label {
    border: 0;
    background-color: transparent;
  }

  .info {
    position: relative;
    top: 0;
    right: 0;
    min-width: 0;
  }
</style>