<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="content">
      <div class="banner">
        <p class="compare">
          南昌二九房产网>南昌二九新房>红谷滩楼盘>九龙湖楼盘>华润昆仑御
        </p>
        <ul class="tab">
          <li
            class="tab_li"
            v-for="(item, index) in menu"
            :key="index"
            @click="houseSort(index)"
            :class="{ active: houseIndex === index }"
          >
            {{ item.title }}
          </li>
        </ul>
        <!-- 楼盘信息 -->
        <Information :form="form" v-show="isShow == 0"></Information>
        <!-- 楼盘动态 -->
        <div class="s">
          <!--  -->
          <Developments
            v-show="isShow == 1"
            :realEstateNews="realEstateNews"
            :pageNum="page"
            :pageSizes="pageSize"
            :totals="total"
            @child-change="change"
          ></Developments>
        </div>
        <!-- 楼盘评论 -->
        <PropertyReview
          :reviewList="reviewList"
          v-show="isShow == 2"
        ></PropertyReview>
        <!-- 楼盘相册 -->
        <PhotoAlbum
          :designList="designList"
          :matchingList="matchingList"
          :pictureList="pictureList"
          v-show="isShow == 3"
        ></PhotoAlbum>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import Information from "../../components/newHouse/Information";
import Developments from "../../components/newHouse/Developments";
import PropertyReview from "../../components/newHouse/PropertyReview";
import PhotoAlbum from "../../components/newHouse/PhotoAlbum";
import {
  newHouseDynamicQuery,
  newHoseQueryId,
  newHouseCommentQuery,
  queryFile,
} from "../../assets/utils/api";
import { Message } from "element-ui";
export default {
  name: "newHouseTab",
  components: {
    Header,
    Bootm,
    Information,
    Developments,
    PropertyReview,
    PhotoAlbum,
  },
  data() {
    return {
      /**效果图 */
      designList: [],
      /**配套 */
      matchingList: [],
      /**实景图 */
      pictureList: [],
      menu: [
        { title: "楼盘信息" },
        { title: "楼盘动态" },
        { title: "楼盘评论" },
        { title: "楼盘相册" },
      ],
      /**标题样式 */
      houseIndex: 0,
      isShow: 0,
      /**楼盘信息 */
      form: {},
      /**楼盘动态 */
      realEstateNews: [],
      /**楼盘评论 */
      reviewList: [],
      /**房源id */
      houseId: 0,
      /**页码 */
      page: 1,
      pageSize: 1,
      total: 0,
    };
  },
  created() {
    let id = sessionStorage.getItem("detailsId");
    if (id) {
      let detailsId = JSON.parse(id);
      this.houseId = detailsId;
    }
  },
  mounted() {
    this.serachId();
    this.dynamic();
    this.review();
    this.queryAlbum();
  },
  methods: {
    /**控制房子排序样式的方法 */
    houseSort(index) {
      this.houseIndex = index;
      this.isShow = index;
    },
    /**请求新房详情接口 */
    serachId() {
      try {
        newHoseQueryId(this.houseId).then((res) => {
          if (res.code == 1) {
            this.form = res.data;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**楼盘动态列表 */
    dynamic(pageNum) {
      try {
        newHouseDynamicQuery({
          pageNum: pageNum ? pageNum : 1,
          pageSize: 20,
          newHouseId: this.houseId,
        }).then((res) => {
          if (res.code == 1) {
            this.realEstateNews = res.data.list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**楼盘评论 */
    review() {
      try {
        newHouseCommentQuery({
          newHouseId: this.houseId,
          pageNum: 1,
          pageSize: 20,
        }).then((res) => {
          if (res.code == 1) {
            this.reviewList = res.data.list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**楼盘相册接口，暂时使用文件查询接口 */
    queryAlbum() {
      queryFile({
        fileLocationType: 1,
        fileName: "img",
        moduleType: "3",
        pageNum: 1,
        pageSize: 1000,
      }).then((res) => {
        this.designList = res.data.list;
      });
    },
    /**分页调用楼盘动态 */
    change(data) {
      this.dynamic(data);
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  overflow: hidden;
  header {
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .content {
    min-height: 600px;
    margin-bottom: 93px;
    /**公共样式 */
    .active {
      color: #454545;
    }
    .banner {
      width: 1200px;
      margin: 0 auto;
      .compare {
        font-size: 12px;
        color: #787878;
        margin-top: 48px;
      }
      .tab {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        color: #9e9e9e;
        font-weight: bold;
        border-bottom: 1px solid #d1d1d1;
        padding-bottom: 20px;
        margin-top: 54px;
        .tab_li {
          margin-right: 59px;
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
}
</style>