<template>
  <div class="temp">
    <header>
      <Header @child-city="citySearch"></Header>
    </header>
    <div class="content">
      <div class="banner">
        <div class="banner">
          <!--复选框 -->
          <More
            ref="getCityName"
            :menu="menu"
            :menuShow="menuShow"
            :region="region"
            :isShow="openShow"
            :selectIndex="selectIndex"
            :houseType="houseType"
            @child-event="parentEvent"
            @child-open="open"
            @child-checkdebox="checkdeboxSearch"
          ></More>
          <div class="sort">
            <!-- 房产列表 -->
            <div class="house_list">
              <Ranking
                ref="getRanking"
                :house_menu="house_menu"
                :listing="listing"
                :routers="src"
                :count="count"
                :text="text"
                :houseIndex="houseIndex"
                :page="page"
                :pageSize="pageSize"
                :total="total"
                :state="state"
                @child-store="storeIndex"
                @child-change="change"
              ></Ranking>
            </div>
            <div class="sort_right">
              <div class="title_code">
                <div class="title">扫描二九房产小程序</div>
                <img
                  class="code"
                  src="../../assets/img/ershoufang/code.png"
                  alt=""
                />
                <div class="describe">扫描上方二维码随时查看新房源</div>
              </div>
              <div class="accurate">
                <p class="title">更多租房房源</p>
                <img
                  class="accurate_img"
                  src="../../assets/img/ershoufang/huose_img.png"
                  alt=""
                />
                <div class="name_box">
                  <div class="name">整租.绿湖豪城</div>
                  <div class="name color">2500元/月</div>
                </div>
                <p class="money">红谷滩/三室两厅</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
    <!-- 遮罩层 -->
    <Room v-show="isShow"></Room>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import More from "../../components/More";
import Ranking from "../../components/Ranking";
import Room from "../../components/newHouse/Room";
import {
  communityQuery,
  dictionaryQuery,
  areaCityQuery,
} from "../../assets/utils/api.js";
import { Message } from "element-ui";
export default {
  name: "renting",
  components: { Header, Bootm, More, Ranking, Room },
  data() {
    return {
      /**路由 */
      src: "quartersDetail",
      /**房源标题类型 */
      houseType: "小区",
      count: 3320,
      text: "小区房源",
      state: "quarters",
      /**li样式 */
      selectIndex: null,
      isShow: false,
      openShow: false,
      region: [],
      /**总价选择 */
      menu: [],
      /**隐藏内容 */
      menuShow: [],
      /**房产排序 */
      house_menu: [
        { title: "默认排序", id: 0 },
        { title: "小区均价", id: 1 },
      ],
      /**选中样式 */
      houseIndex: 0,
      /**遮罩层样式 */
      isShow: false,
      /**房源列表 */
      listing: [],
      /**分页 */
      page: 1,
      pageSize: 1,
      total: 0,
    };
  },
  created() {},
  async mounted() {
    await this.dictionaries();
    /**首次进入加载地区 */
    await this.citySearch();
    await this.query(1, "", "");
  },
  methods: {
    show() {
      this.isShow != this.isShow;
      if (this.isShow) {
        this.isShow = false;
      } else {
        this.isShow = true;
      }
    },
    /**more子组件穿值给父组件 */
    parentEvent(data) {
      this.selectIndex = data.index;
      sessionStorage.setItem("areaId", data.id);
    },
    open(data) {
      this.openShow = data;
    },
    /**store子组件穿值给父组件 */
    storeIndex(data) {
      this.houseIndex = data;
    },

    /**点击复选框进行数据搜索 */
    checkdeboxSearch(data) {
      this.query(1, data, "");
    } /**搜索接口 */,
    query(pageNum, data, id) {
      let dataObject = { cityId: "", areaId: "", provinceId: "" };
      if (data) {
        dataObject = data;
      } else {
        dataObject = {
          pageNum: pageNum ? pageNum : 1,
          pageSize: 10,
        };
      }

      let cityId = sessionStorage.getItem("cityId");
      let provinceId = sessionStorage.getItem("provinceId");
      /**根据城市id进行搜索 */
      dataObject.cityId = cityId;
      dataObject.areaId = id;
      dataObject.provinceId = provinceId;
      communityQuery(dataObject).then((res) => {
        if (res.code === 1) {
          this.listing = res.data.list;
          this.total = res.data.total;
          this.count = res.data.total;
          this.page = res.data.page;
          this.pageSize = res.data.pageSize;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询复选框接口*/
    dictionaries() {
      let obj = {
        pageNum: 1,
        pageSize: 100,
        dictionaryType: "second_hand_house",
      };
      dictionaryQuery(obj).then((res) => {
        if (res.code === 1) {
          for (let item of res.data.list) {
            if (this.menu.length < 6) {
              this.menu.push(item);
            } else {
                 if(item.dictionaryCode!='office'&&item.dictionaryCode!="toilet"&&item.dictionaryCode!='supporting '){
                  this.menuShow.push(item);
                }
            }
          }
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**搜索地域 */
    citySearch(data) {
      let cityId = sessionStorage.getItem("cityId");
      areaCityQuery({
        pageNum: 1,
        pageSize: 200,
        pid: data ? data.id : cityId,
      }).then((res) => {
        if (res.code == 1) {
          this.region = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
      this.getCityName();
    },
    /**调用More组件中的方法 */
    getCityName() {
      this.$refs.getCityName.getMoreCityName();
      this.$refs.getRanking.getMoreCityName();
    },
    /**分页 */
    change(val) {
      this.query(val, "", "");
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(val);
    },
  },
};
</script>

<style scoped lang="scss">
.temp {
  overflow: hidden;
  header {
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .content {
    .banner {
      width: 1200px;
      margin: 0 auto;
      .sort {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .sort_right {
          .accurate {
            .title {
              padding-top: 30px;
              font-size: 18px;
              color: #454545;
              font-weight: bold;
            }
            .accurate_img {
              width: 239px;
              height: 140px;
              margin-top: 19px;
            }
            .name_box {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 18px;
              color: #454545;
              .name {
                font-weight: bold;
                font-size: 14px;
              }
              .color {
                color: #c91d1d;
              }
            }
            .money {
              margin-top: 8px;
              font-size: 12px;
              color: #999999;
            }
          }
          .title_code {
            margin-top: 30px;
            font-size: 18px;
            color: #454545;
            font-weight: bold;
            border-bottom: 1px solid #c4c4c4;
            padding-bottom: 19px;
            box-sizing: border-box;

            .code {
              width: 131px;
              height: 131px;
              margin-top: 20px;
            }
            .describe {
              margin-top: 21px;
              width: 102px;
              font-size: 14px;
              font-weight: 400;
              color: #454545;
            }
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
}
</style>