<template>
  <div class="temp">
    <header>
      <Header @child-city="citySearch"></Header>
    </header>
    <div class="center">
      <div class="banner">
        <!--复选框 -->
        <More
          ref="getCityName"
          :menu="menu"
          :menuShow="menuShow"
          :region="region"
          :isShow="openShow"
          :selectIndex="selectIndex"
          :houseType="houseType"
          @child-event="parentEvent"
          @child-open="open"
          @child-checkdebox="checkdeboxSearch"
        ></More>
        <!-- 房产列表 -->
        <div class="house_list">
          <Ranking
            ref="getRanking"
            :house_menu="house_menu"
            :listing="listing"
            :routers="src"
            :count="count"
            :text="text"
            :state="state"
            :houseIndex="houseIndex"
            :page="page"
            :pageSize="pageSize"
            :total="total"
            @child-store="storeIndex"
            @child-change="change"
          ></Ranking>
          <div class="house_right">
            <div class="title_more">
              <span>二手看点</span>
              <span class="more">更多>></span>
            </div>
            <ul class="list">
              <li class="li" v-for="(item, index) in watch_it" :key="index">
                <div class="title">{{ item.title }}</div>
                <img :src="item.src" alt="" />
              </li>
            </ul>
            <div class="title_code">
              <div class="title">扫描二九房产小程序</div>
              <img
                class="code"
                src="../../assets/img/ershoufang/code.png"
                alt=""
              />
              <div class="describe">扫描上方二维码随时查看新房源</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import Ranking from "../../components/Ranking";
import More from "../../components/More";
import { Message } from "element-ui";
import {
  secondHandHouseQuery,
  dictionaryQuery,
  secondHandHouseSearch,
  areaCityQuery,
} from "../../assets/utils/api.js";
export default {
  name: "house",
  components: { Header, Bootm, Ranking, More },
  data() {
    return {
      /**路由跳转 */
      src: "houseDetail",
      /**房源标题类型 */
      houseType: "二手房",
      /**li样式 */
      selectIndex: null,
      isShow: false,
      openShow: false,
      /**三级城市区域 */
      region: [],
      /**总价选择 */
      menu: [],
      /**隐藏内容 */
      menuShow: [],
      /**房产排序 */
      house_menu: [
        { title: "默认排序", id: 0 },
        { title: "最新发布", id: 1 },
        { title: "房屋总价", id: 2 },
        { title: "房屋面积", id: 3 },
      ],
      houseIndex: 0,
      /**房源列表 */
      listing: [],
      /**二手看点 */
      watch_it: [
        {
          title: "太古地产：停牌因可能出售香港ffffff",
          src: require("../../assets/img/ershoufang/arrow_bottom.png"),
        },
        {
          title: "太古地产：停牌因可能出售香港ffffff",
          src: require("../../assets/img/ershoufang/arrow_bottom.png"),
        },
        {
          title: "太古地产：停牌因可能出售香港ffffff",
          src: require("../../assets/img/ershoufang/arrow_bottom.png"),
        },
      ],
      /**房源户型 */
      typeList: [],
      /**房源朝向 */
      orientationList: [],
      /**房源数量 */
      count: 0,
      text: "二手房",
      /**区分页面 */
      state:"second",
      /**页码 */
      page: 1,
      pageSize: 1,
      total: 0,
    };
  },
  created() {},
  async mounted() {
    await this.dictionaries();
    /**首次进入加载地区 */
    await this.citySearch();
    await this.query(1, "", "");
  },
  methods: {
    /**more子组件传值给父组件 */
    parentEvent(data) {
      this.selectIndex = data.index;
      sessionStorage.setItem("areaId", data.id);
    },
    open(data) {
      this.openShow = data;
    },
    /**store子组件传值给父组件 */
    storeIndex(data) {
      this.houseIndex = data;
    },
    /** 查询列表 */
    async query(pageNum, data, id) {
      try {
        let obj = { cityId: "", areaId: "", provinceId: "" };
        if (data) {
          obj = data;
        } else {
          obj = {
            pageNum: pageNum ? pageNum : 1,
            pageSize: 10,
          };
        }
        let cityId = sessionStorage.getItem("cityId");
        let provinceId = sessionStorage.getItem("provinceId");
        let title=sessionStorage.getItem('title');
        if(title){
          obj.title=title;
        }
        /**根据城市id进行搜索 */
        obj.cityId = cityId;
        obj.areaId = id;
        obj.provinceId = provinceId;
        await secondHandHouseQuery(obj).then((res) => {
          if (res.code === 1) {
            /**从首页搜索跳转过来的，查询成功后赋值为空 */
            sessionStorage.setItem('title','');
            for (let item of res.data.list) {
              /**房屋户型 */
              if (this.typeList[item.houseUnitType]) {
                item.houseUnitType = this.typeList[item.houseUnitType].itemName;
              }
              /**朝向 */
              if (this.orientationList[item.houseOrientation]) {
                item.houseOrientation = this.orientationList[
                  item.houseOrientation
                ].itemName;
              }
            }
            this.listing = res.data.list;
            this.total = res.data.total;
            this.count = res.data.total;
            this.page = res.data.page;
            this.pageSize = res.data.pageSize;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**查询字典*/
    async dictionaries() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "second_hand_house",
        };
        await dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.typeList = res.data.list[0].list;
            this.orientationList = res.data.list[4].list;
            for (let item of res.data.list) {
              if (this.menu.length < 6) {
                this.menu.push(item);
              } else {
                if(item.dictionaryCode!='office'&&item.dictionaryCode!="toilet"&&item.dictionaryCode!='supporting '){
                  this.menuShow.push(item);
                }
              }
            }
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**点击复选框进行数据搜索 */
    checkdeboxSearch(data) {
      this.query(1, data, "");
    },
    /**搜索地域 */
    citySearch(data) {
      let cityId = sessionStorage.getItem("cityId");
      areaCityQuery({
        pageNum: 1,
        pageSize: 200,
        pid: data ? data.id : cityId,
      }).then((res) => {
        if (res.code == 1) {
          this.region = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
      
      this.getCityName();
    },
    /**调用More组件中的方法 */
    getCityName() {
      /**改变城市名称 */
      this.$refs.getCityName.getMoreCityName();
    },
    /**分页 */
    change(val) {
      this.query(val, "", "");
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(val);
    },
  },
};
</script>

<style scoped lang="scss">
.temp {
  overflow: hidden;
  header {
    // margin-top: 45px;
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }

  .center {
    .active {
      color: #34b38a;
    }
    .banner {
      width: 1200px;
      margin: 0 auto;
      .house_list {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .flex {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .house_right {
          margin-top: 58px;
          flex: 1;
          margin-left: 59px;
          .title_more {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            color: #454545;
            font-weight: bold;
            margin-bottom: 19px;
            .more {
              font-size: 14px;
              color: #8f8f8f;
            }
          }
          .list {
            border-bottom: 1px solid #c4c4c4;
            padding-bottom: 20px;

            .li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              color: #8f8f8f;
              font-size: 14px;
              margin-top: 10px;
              &:first-child {
                margin-top: 0;
              }
              .title {
                width: 219px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
          .title_code {
            margin-top: 30px;
            font-size: 18px;
            color: #454545;
            font-weight: bold;
            border-bottom: 1px solid #c4c4c4;
            padding-bottom: 19px;
            box-sizing: border-box;

            .code {
              width: 131px;
              height: 131px;
              margin-top: 20px;
            }
            .describe {
              margin-top: 21px;
              width: 102px;
              font-size: 14px;
              color: #454545;
            }
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
    margin-top: 24px;
  }
}
</style>