<template>
  <div class="temp">
    <header>
      <Header @child-city="citySearch"></Header>
    </header>
    <div class="content">
      <div class="banner">
        <!--复选框 -->
        <More
          ref="getCityName"
          :menu="menu"
          :menuShow="menuShow"
          :region="region"
          :isShow="openShow"
          :selectIndex="selectIndex"
          :houseType="houseType"
          @child-event="parentEvent"
          @child-open="open"
          @child-checkdebox="checkdeboxSearch"
        ></More>
        <!-- 新盘排序 -->
        <div class="sort">
          <div class="sort_left">
            <Ranking
              ref="getRanking"
              :house_menu="house_menu"
              :listing="listing"
              :routers="src"
              :count="count"
              :text="text"
              :state="state"
              :houseIndex="houseIndex"
              :page="page"
              :pageSize="pageSize"
              :total="total"
              @child-store="storeIndex"
              @child-change="change"
            ></Ranking>
          </div>
          <div class="sort_right">
            <div class="img">
              <button class="button" @click="show">精准找房</button>
            </div>
            <div class="accurate">
              <p class="title">热门楼盘</p>
              <img
                class="accurate_img"
                src="../../assets/img/ershoufang/huose_img.png"
                alt=""
              />
              <div class="name_box">
                <div class="name">华润天空城</div>
                <div class="sale pubilc">在售</div>
                <div class="business pubilc">商业类</div>
              </div>
              <p class="money">12000元/m²</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
    <!-- 遮罩层 -->
    <Room v-show="isShow"></Room>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import More from "../../components/More";
import Ranking from "../../components/Ranking";
import Room from "../../components/newHouse/Room";
import {
  newHoseQuery,
  dictionaryQuery,
  areaCityQuery,
} from "../../assets/utils/api.js";
import { Message } from "element-ui";
export default {
  name: "newHouse",
  components: { Header, Bootm, More, Ranking, Room },
  data() {
    return {
      /**路由 */
      src: "newHouseDetail",
      /**房源标题类型 */
      houseType: "新房",
      /**房产排序 */
      house_menu: [
        { title: "默认排序", id: 0 },
        { title: "最新发布", id: 1 },
        { title: "房屋总价", id: 2 },
        { title: "房屋面积", id: 3 },
      ],
      /**选中样式 */
      houseIndex: 0,
      /**遮罩层样式 */
      isShow: false,
      /**房源列表 */
      listing: [],
      /**li样式 */
      selectIndex: 0,
      openShow: false,
      region: [],
      /**总价选择 */
      menu: [],
      /**隐藏内容 */
      menuShow: [],
      count: 0,
      text: "新房源",
      state: "newHouse",
      /**分页 */
      page: 1,
      pageSize: 1,
      total: 0,
      /**房源户型 */
      typeList: [],
    };
  },
  created() {
    // this.dictionaries();
  },
  async mounted() {
    await this.dictionaries();

    await this.query(1, "", "");
    /**首次进入加载地区 */
    await this.citySearch();
  },
  methods: {
    show() {
      this.isShow != this.isShow;
      if (this.isShow) {
        this.isShow = false;
      } else {
        this.isShow = true;
      }
    },
    /**more子组件穿值给父组件 */
    parentEvent(data) {
      this.selectIndex = data.index;
      sessionStorage.setItem("areaId", data.id);
    },
    open(data) {
      this.openShow = data;
    },
    /**store子组件穿值给父组件 */
    storeIndex(data) {
      this.houseIndex = data;
    },
    /**调用More组件中的方法 */
    getCityName() {
      this.$refs.getCityName.getMoreCityName();
      this.$refs.getRanking.getMoreCityName();
    },
    /**点击复选框进行数据搜索 */
    checkdeboxSearch(data) {
      this.query(1, data, "");
    } /**搜索接口 */,
    async query(pageNum, data, id) {
      let dataObject = { cityId: "", areaId: "", provinceId: "" };
      if (data) {
        dataObject = data;
      } else {
        dataObject = {
          pageNum: pageNum ? pageNum : 1,
          pageSize: 10,
        };
      }
      let cityId = sessionStorage.getItem("cityId");
      let provinceId = sessionStorage.getItem("provinceId");
      let title = sessionStorage.getItem("title");
      if (title) {
        dataObject.title = title;
      }
      /**根据城市id进行搜索 */
      dataObject.cityId = cityId;
      dataObject.areaId = id;
      dataObject.provinceId = provinceId;
      await newHoseQuery(dataObject).then((res) => {
        if (res.code === 1) {
          /**从首页搜索跳转过来的，查询成功后赋值为空 */
          sessionStorage.setItem("title", "");
          /**拼接户型 */
          for (let items of res.data.list) {
            let arr = items.realEstateType.split("");
            let str = "";
            for (let i in arr) {
              str += this.typeList[i].itemName + " ";
              items.realEstateType = str;
            }
          }
          this.listing = res.data.list;
          this.total = res.data.total;
          this.count = res.data.total;
          this.page = res.data.page;
          this.pageSize = res.data.pageSize;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询复选框接口*/
    async dictionaries() {
      let obj = {
        pageNum: 1,
        pageSize: 100,
        dictionaryType: "second_hand_house",
      };
      await dictionaryQuery(obj).then((res) => {
        if (res.code === 1) {
          this.typeList = res.data.list[0].list;
          for (let item of res.data.list) {
            if (this.menu.length < 6) {
              this.menu.push(item);
            } else {
              if (
                item.dictionaryCode != "office" &&
                item.dictionaryCode != "toilet" &&
                item.dictionaryCode != "supporting "
              ) {
                this.menuShow.push(item);
              }
            }
          }
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**搜索地域 */
    citySearch(data) {
      let cityId = sessionStorage.getItem("cityId");
      areaCityQuery({
        pageNum: 1,
        pageSize: 200,
        pid: data ? data.id : cityId,
      }).then((res) => {
        if (res.code == 1) {
          this.region = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
      this.getCityName();
    },
    /**分页 */
    change(val) {
      this.query(val, "", "");
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(val);
    },
  },
};
</script>

<style scoped lang="scss">
.temp {
  overflow: hidden;
  header {
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .content {
    .banner {
      width: 1200px;
      margin: 0 auto;
      .sort {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .sort_right {
          .img {
            margin-bottom: 20px;
            width: 240px;
            height: 253px;
            background: url("../../assets/img/newHouse/jingZhun.png") no-repeat
              top center;
            background-size: 240px 253px;
            position: relative;
            .button {
              padding: 10px 36px;
              position: absolute;
              bottom: 12px;
              left: 59px;
            }
          }
          .accurate {
            .title {
              padding-top: 30px;
              font-size: 18px;
              color: #454545;
              font-weight: bold;
              border-top: 1px solid #c4c4c4;
            }
            .accurate_img {
              width: 239px;
              height: 140px;
              margin-top: 19px;
            }
            .name_box {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 18px;
              .pubilc {
                padding: 2px 10px;
                background-color: #34b38a;
                color: white;
                margin-left: 9px;
                font-size: 12px;
              }
              .name {
                font-weight: 400;
                font-size: 14px;
                color: #454545;
              }
            }
            .money {
              margin-top: 8px;
              font-size: 12px;
              color: #c91d1d;
            }
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
}
</style>