<template>
  <div class="bottm">
    <div class="banner">
      <div class="bootm_box">
        <img class="bootm_logo" src="../assets/img/index/logo.png" alt="" />
        <ul class="bootm_ul">
          <li class="bootm_li">关于我们</li>
          <li class="bootm_li">联系我们</li>
          <li class="bootm_li" @click="interfaces">
            <img src="../assets/img/index/customer.png" alt="" /><span
              >官方客服咨询</span
            >
          </li>
        </ul>
      </div>
      <div class="bootm_box2">
        <ul class="left">
          <li class="li">
            <p class="serve text">客服电话：</p>
            <p class="text phone">400-8208820</p>
            <p class="text report">违法和不良信息举报</p>
            <p class="text">电话：4008 515 515</p>
          </li>
          <li class="li">
            <p class="serve text">地理位置：</p>
            <p class="text phone">江西省南昌市绿地国宾1栋</p>
            <p class="text"></p>
            <p class="text">邮箱：Internet@29fc.com</p>
          </li>
          <li class="li">
            <p class="serve text">邮编：</p>
            <p class="text phone">330000</p>
            <p class="text"></p>
            <p class="text">网上有害信息举报专区：www.12377.cn</p>
          </li>
        </ul>
        <div class="right">
          <div class="erweima">
            <img class="img" src="../assets/img/index/erweima.png" alt="" />
            <p class="text">官方公众号</p>
          </div>
          <div class="erweima">
            <img class="img" src="../assets/img/index/erweima.png" alt="" />
            <p class="text">官方公众号</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Bootm",
  data() {
    return {
      isShow: false,
    };
  },
  methods: {
    interfaces() {
      this.isShow != this.isShow;
      if (this.isShow) {
        this.isShow=false;
        this.$store.commit("show", 0);
      } else {
        this.isShow=true;
        this.$store.commit("show", 1);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.bootm {
  .banner {
    width: 1200px;
    margin: 0 auto;
    .bootm_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #767676;
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
      .bootm_ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: white;
        .bootm_li {
          margin-right: 30px;
          &:last-child {
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
      .bootm_logo {
        width: 112px;
        height: 28px;
      }
    }
    .bootm_box2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        color: #8b8181;
        .li {
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
          .text {
            height: 17px;
            margin-top: 8px;
            &:first-child {
              margin-top: 0;
            }
          }
          .report {
            margin-top: 0;
          }
          .phone {
            font-size: 16px;
            margin-bottom: 20px;
          }
        }
      }
      .right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .erweima {
          margin-right: 69px;
          &:last-child {
            margin-right: 0;
          }
          .img {
            width: 90px;
            height: 90px;
          }
          .text {
            color: #f9f9f9;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
}
</style>