<template>
  <div class="header">
    <div class="header_box">
      <div class="left">
        <!-- logo -->
        <img @click="routerIndex" :src="src[getStatus]" class="logo" alt="" />
        <div
          class="but"
          :style="{ border: getStatus === status ? '2px solid #f9f9f9' : '' }"
          @click="getOring"
        >
          <!-- 定位 -->
          <img :src="location[getStatus]" class="icon" alt="" />
          <span
            class="text"
            :style="{ color: getStatus === status ? '' : '#34b38a' }"
            >{{ oringsName }}</span
          >
        </div>
      </div>
      <div class="right">
        <ul class="ul">
          <li
            class="right_li"
            v-for="(item, index) in menu_link"
            :key="index"
            @click="router(index)"
            :class="item.id === getId ? 'active' : ''"
            :style="{ color: getStatus === status ? '' : 'black' }"
          >
            {{ item.name }}
          </li>
        </ul>
        <div class="login_box">
          <img
            class="login_icon"
            @click="router(6)"
            :src="login[getStatus]"
            alt=""
          />
          <div
            v-if="
              userMassge.id == null ||
              userMassge.id == undefined ||
              userMassge.id === ''
            "
          >
            <span
              class="login text"
              :style="{ color: getStatus === status ? '' : 'black' }"
              @click="logins(0)"
              >登录&nbsp;&nbsp;/</span
            ><span
              class="register text"
              :style="{ color: getStatus === status ? '' : 'black' }"
              @click="logins(1)"
              >注册</span
            >
          </div>
          <div class="login text" v-else>
            <span
              :style="{ color: getStatus === status ? '' : 'black' }"
              class=""
              >{{ phone }}</span
            >
            <span
              :style="{ color: getStatus === status ? '' : 'black' }"
              @click="loginOuts"
              >&nbsp;&nbsp;退出</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="bullet" v-show="stateShow">
      <!-- 遮罩层 -->
      <div class="mask"></div>
      <!-- 弹框 -->
      <div class="select">
        <div class="colse" @click="getOring">X</div>
        <div class="title">
          <div>城市选择</div>
        </div>
        <div class="region">
          <div class="region_box">
            <!-- <div class="letter">{{ item.name }}</div> -->
            <ul class="region_ul">
              <!-- 省 -->
              <li
                class="region_li"
                v-for="(item, index) in region"
                :key="index"
                @click="citySearch(item, index)"
                :class="{ active: selectIndex === index }"
              >
                {{ item.name }}
              </li>
            </ul>
            <!-- 市 -->
            <ul class="region_ul">
              <li
                class="region_li"
                v-for="(item, id) in regionCity"
                :key="id"
                @click="citySearchLeve3(item)"
              >
                {{ item.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { areaCityQuery, thirdLogin, loginOut } from "../assets/utils/api.js";
import { Message } from "element-ui";
import vPinyin from "@/assets/utils/vue-py";
export default {
  data() {
    return {
      oringsName: "定位中...",
      /**获取用户的信息 */
      userMassge: { id: "" },
      /**处理过后的手机号 */
      phone: "",
      /**logo路径 */
      src: [
        require("../assets/img/index/logo.png"),
        require("../assets/img/ershoufang/logo2.png"),
      ],
      /**定位路径 */
      location: [
        require("../assets/img/index/location.png"),
        require("../assets/img/ershoufang/location2.png"),
      ],
      /**登录路径 */
      login: [
        require("../assets/img/index/login_icon.png"),
        require("../assets/img/index/login_icon2.png"),
      ],
      menu_link: [
        { name: "二手房", id: 0, active: false },
        { name: "新房", id: 1, active: false },
        { name: "租房", id: 2, active: false },
        { name: "小区", id: 3, active: false },
        { name: "我是业主", id: 4, active: false },
        { name: "研究资料", id: 5, active: false },
      ],
      status: 0,
      /**处理地域(省) */
      region: [],
      /**市 */
      regionCity: [],
      /**选中的城市样式 */
      selectIndex: 0,
      /**控制区域显示的状态 */
      stateShow: false,
      /**存储三级id */
      id: 0,
      /**省级id */
      provinceId: 0,
      /**路由城市名称 */
      cityRouteName: " ",
      /**微信code */
      wxcode: "",
      wxstate: "",
      source: "",
      seoKeyword: "",
      seoTitle: "",
    };
  },
  computed: {
    getId() {
      return this.$store.state.id;
    },
    getStatus() {
      return this.$store.state.status;
    },
  },
  watch: {
    /**深度监听登录状态 */
    phone: {
      handler() {
        let userMassge = sessionStorage.getItem("userMassge");
        userMassge = JSON.parse(userMassge);
        if (
          userMassge.xaccessToken != null &&
          userMassge.xaccessToken != undefined &&
          userMassge.xaccessToken != ""
        ) {
          this.getMsassge();
        }
      },
      deep: true,
    },
    /**首次登录用vuex来监听登录状态 */
    "$store.state.successful": function (val, oldVal) {
      if (val) {
        this.getMsassge();
      }
    },
  },

  created() {
    /**判断路由是否为空 */
    if (this.$route.name.indexOf("首页") === -1) {
      this.$store.commit("state", 1);
    }
    let cityName = sessionStorage.getItem("cityName");
    if (cityName) {
      this.oringsName = cityName;
    }
    this.getMsassge();
    this.regionQuery();
  },
  mounted() {
    /**获取微信信息 */
    this.wxcode = sessionStorage.getItem("code");
    this.wxstate = sessionStorage.getItem("state");
    this.source = localStorage.getItem("source");
    if (this.wxcode && this.wxstate) {
      this.wxLoginUser();
    }
  },
  methods: {
    /**获取用户信息 */
    getMsassge() {
      let userMassge = sessionStorage.getItem("userMassge");
      if (userMassge) {
        userMassge = JSON.parse(userMassge);
        this.userMassge = userMassge;
        // console.log("userMassge", this.userMassge);
        if (
          this.userMassge.phone != null &&
          this.userMassge.phone != undefined &&
          this.userMassge.phone != ""
        ) {
          /**号码处理 */
          this.phone = this.userMassge.phone.replace(
            this.userMassge.phone.substring(
              3,
              this.userMassge.phone.length - 4
            ),
            "****"
          );
          console.log("header调用了", this.phone);
        }
      }
    },
    /**第三方绑定 */
    wxLoginUser() {
      let data = {
        code: this.wxcode,
        source: this.source,
        state: this.wxstate,
      };
      /**发送请求 */
      thirdLogin(data).then((res) => {
        console.log(res);
        if (res.code == 1) {
          let userMassge = res.data;
          userMassge = JSON.stringify(userMassge);
          /**将值保存到本地 */
          sessionStorage.setItem("userMassge", userMassge);
          if (
            res.data.phone == null ||
            res.data.phone == "" ||
            res.data.phone == undefined
          ) {
            this.$router.push({ name: "callback", params: { id: 13 } });
          } else {
            /**号码处理 */
            this.phone = res.data.phone.replace(
              res.data.phone.substring(3, res.data.phone.length - 4),
              "****"
            );
            this.$router.push({ name: "首页" });
          }
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },

    /**返回首页 */
    routerIndex() {
      this.cityRouteName = sessionStorage.getItem("cityRouteName");
      let address = vPinyin.chineseToPinYin(this.cityRouteName); //全拼
      this.$router.push(
        {
          name: "首页",params:{meat:'logo',address:address}
        },
        (onComplete) => {},
        (onAbort) => {}
      );
    },
    /**路由跳转 */
    router(index) {
      /**判断路由是否为空 */
      if (this.$route.name.indexOf("首页") === -1) {
        this.$store.commit("state", 1);
      }
      /**判断用户是否登录 */
      if (
        index == 6 &&
        (this.userMassge.id == "" ||
          this.userMassge.id == null ||
          this.userMassge.id == undefined)
      ) {
        this.$store.commit("loginPop", true);
        Message({
          message: "您还未登录，请先登录",
          showClose: true,
          type: "error",
        });
        return false;
      }
      let arr = [
        "二手房",
        "新房",
        "租房",
        "小区",
        "我是业主",
        "研究资料",
        "个人中心",
      ];
      this.cityRouteName = sessionStorage.getItem("cityRouteName");
      let address = vPinyin.chineseToPinYin(this.cityRouteName); //全拼
      this.$router.push(
        {
          name: arr[index],
          params: {
            id: index,
            status: 1,
            address: address,
          },
        },
        (onComplete) => {},
        (onAbort) => {}
      );
    },
    /**登录弹框 */
    logins(e) {
      if (e) {
        this.$store.commit("registers", {
          states: true,
          registersType: "registers",
        });
      } else {
        this.$store.commit("loginPop", true);
      }
    },
    /**用户退出登录 */
    loginOuts() {
      /**获取vuex中存储的用户id */
      let id = this.userMassge.id;
      loginOut(id).then((res) => {
        console.log(res);
        if (res.code === 1) {
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
          // 删除
          sessionStorage.removeItem("userMassge");
          setTimeout(() => {
            /**登出成功后强制刷新页面 */
            location.reload();
          }, 600);
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**搜索地域 */
    regionQuery() {
      /**将省级城市id保存至缓存中 */
      sessionStorage.setItem("provinceId", 36);
      /**查询一级菜单 */
      areaCityQuery({ pageNum: 1, pageSize: 200, pid: 36 }).then((res) => {
        if (res.code == 1) {
          this.region = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**点击二级的时候进行数据传递 */
    citySearchLeve3(item, e) {
      // 市级id
      sessionStorage.setItem("areaId", item.id);
      sessionStorage.setItem("cityName", item.name);
      sessionStorage.setItem("cityRouteName", item.name);
      this.$emit("child-city", item);
      this.oringsName = item.name;

      if (e != "one") {
        this.stateShow = false;
      }
      /**判断是否可以调用查询接口 */
      if (
        this.$route.path.indexOf("ershoufang") == 1 ||
        this.$route.path.indexOf("xingfang") == 1 ||
        this.$route.path.indexOf("zhufang") == 1 ||
        this.$route.path.indexOf("xiaoqu") == 1
      ) {
        this.$parent.query(1, "", "");
        /**调用父组件的方法 */
        this.$parent.getCityName();
      }
    },
    /**点击一级时进行数据请求 */
    citySearch(item, index) {
      /**设置地址关键字 */
      if (item.seoTitle && item.seoDirection && item.seoKeyword) {
        document.title = item.seoTitle;
        this.seoDirection = item.seoDirection;
        let oMeta = document.getElementsByTagName("meta")[3];
        oMeta.content = this.seoDirection;
        let oMeta2 = document.getElementsByTagName("meta")[4];
        oMeta2.content = item.seoKeyword;
      }

      this.selectIndex = index;
      /**查询二级菜单 */
      areaCityQuery({
        pageNum: 1,
        pageSize: 100,
        pid: item.id,
      }).then((res) => {
        if (res.code == 1) {
          this.regionCity = res.data.list;
          // this.citySearchLeve3(res.data.list[0], "one");
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
      // 市级id
      sessionStorage.setItem("cityId", item.id);
      sessionStorage.setItem("cityName", item.name);
      sessionStorage.setItem("cityRouteName", item.name);
      this.$emit("child-city", item);
      this.oringsName = item.name;
      /**判断是否可以调用查询接口 */
      if (
        this.$route.path.indexOf("ershoufang") == 1 ||
        this.$route.path.indexOf("xingfang") == 1 ||
        this.$route.path.indexOf("zhufang") == 1 ||
        this.$route.path.indexOf("xiaoqu") == 1
      ) {
        this.$parent.query(1, "", "");
        /**调用父组件的方法 */
        this.$parent.getCityName();
      }
    },
    getOring() {
      /**点击按钮时进行查询 */
      this.stateShow != this.stateShow;
      if (this.stateShow) {
        this.stateShow = false;
      } else {
        // this.regionQuery();
        this.stateShow = true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.header {
  width: 100%;
  min-width: 1200px;
  position: relative;
  top: 45px;
  left: 100px;
  z-index: 1;

  .header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 212px;
    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .logo {
        width: 283px;
        height: 70px;
      }
      .but {
        padding: 8px 18px;
        border: 2px solid #34b38a;
        border-radius: 19px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 32px;
        .icon {
          width: 18px;
          height: 22px;
        }
        .text {
          font-size: 14px;
          color: white;
          margin-left: 18px;
        }
      }
    }
    .right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .active {
        color: #34b38a !important;
        border-bottom: 3px solid #34b38a;
      }
      .ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .right_li {
          &:first-child {
            margin-left: 0;
          }
          font-size: 18px;
          color: white;
          font-weight: bold;
          margin-left: 18px;
          padding-bottom: 2px;
          box-sizing: border-box;
        }
      }
      .login_box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 36px;
        .login,
        .register {
          margin-left: 5px;
        }
        .text {
          font-size: 18px;
          color: white;
        }
      }
    }
  }
}
.bullet {
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.75;
    z-index: 10;
  }
  .select {
    width: 650px;
    min-height: 450px;
    position: fixed;
    top: 100px;
    left: 30%;
    background-color: #fff;
    z-index: 99;
    padding: 35px 25px 23px;
    box-sizing: border-box;
    overflow: hidden;
    .colse {
      position: absolute;
      top: 0px;
      right: 10px;
    }

    .title {
      text-align: left;
      font-size: 22px;
      line-height: 22px;
      color: #101d37;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }
    .title_box,
    ul {
      display: flex;
      justify-content: flex-start;
    }
    .ul,
    .text {
      font-size: 14px;
      font-weight: 400;
      margin-left: 10px;
      color: #101d37;
      li {
        margin-left: 22px;
      }
    }
    .active {
      color: #34b38a;
    }
    .region {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;
      .region_box {
        .letter {
          color: #999;
        }
        .region_ul {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-flow: wrap;
          &:first-child {
            padding-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
          }
          .region_li {
            margin-top: 20px;
            margin-right: 20px;
          }
          .region_li:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.colse,
.right_li,
.but,.login,.register:hover {
  cursor: pointer;
}
</style>