<template>
  <div class="temp">
    <!-- 勾选组件 -->
    <div class="search">
      <div class="name">
        {{ cityName }}二九房产网>{{ cityName }}{{ houseType }}
      </div>
      <div class="input_box">
        <input type="text" class="input" placeholder="请输入关键字进行搜索" v-model="inputValue" />
        <button class="button" @click="inputSearch">搜索</button>
      </div>
    </div>
    <div class="bgc">
      <div class="table">
        <div class="title">
          <span>位置</span>
          <span class="active" @click="search">区域</span>
        </div>
      </div>
      <div class="position">
        <ul class="ul_region" v-if="region">
          <li
            class="li_region"
            v-for="(item, index) in region"
            :key="index"
            @click="setCenter(index, item)"
            :class="{ active: selectIndex === index }"
          >
            {{ item.name }}
          </li>
        </ul>
        <div v-else>暂无数据</div>
      </div>
      <!-- 总价 -->
      <div class="total_price" v-for="(item, index) in menu" :key="index">
        <span class="title">{{ item.dictionaryName }}</span>
        <ul class="ul_check">
          <li class="li_checkBox" v-for="(items, id) in item.list" :key="id">
            <input
              type="checkBox"
              @click="checkdebox(items, item.dictionaryCode)"
            />

            <span>{{ items.itemName }}</span>
          </li>
        </ul>
        <div v-show="priceState">
          <div class="range" v-if="item.dictionaryCode === 'total_price'">
            <input
              type="text"
              class="input"
              v-model.number="priceMin"
              placeholder="价钱(万)"
            />
            <span>-</span>
            <input
              type="text"
              class="input"
              v-model.number="priceMax"
              placeholder="价钱(万)"
            />
            <button class="submit">确定</button>
          </div>
        </div>
        <div v-show="areaState">
          <div class="range" v-if="item.dictionaryCode === 'area'">
            <input
              type="text"
              class="input"
              v-model.number="areaMin"
              placeholder="平米"
            />
            <span>-</span>
            <input
              type="text"
              class="input"
              v-model.number="areaMax"
              placeholder="平米"
            />
            <button class="submit">确定</button>
          </div>
        </div>
      </div>
      <!-- 隐藏菜单 -->
      <div class="open" v-show="isShow">
        <div class="total_price" v-for="(item, index) in menuShow" :key="index">
          <span class="title">{{ item.dictionaryName }}</span>
          <ul class="ul_check">
            <li class="li_checkBox" v-for="(items, id) in item.list" :key="id">
              <input
                type="checkBox"
                @click="checkdebox(items, item.dictionaryCode)"
              />
              <span>{{ items.itemName }}</span>
            </li>
          </ul>
          <div v-show="priceState">
            <div class="range" v-if="item.dictionaryCode === 'total_price'">
              <input
                type="text"
                class="input"
                v-model.number="priceMin"
                placeholder="价钱(万)"
              />
              <span>-</span>
              <input
                type="text"
                class="input"
                v-model.number="priceMax"
                placeholder="价钱(万)"
              />
              <button class="submit" @click="submit">确定</button>
            </div>
          </div>
          <div v-show="areaState">
            <div class="range" v-if="item.dictionaryCode === 'area'">
              <input
                type="text"
                class="input"
                v-model.number="areaMin"
                placeholder="平米"
              />
              <span>-</span>
              <input
                type="text"
                class="input"
                v-model.number="areaMax"
                placeholder="平米"
              />
              <button class="submit" @click="submit">确定</button>
            </div>
          </div>
        </div>
      </div>
      <div class="put" v-if="isShow == false" @click="open">
        <span>更多选项</span
        ><img
          class="arrow"
          src="../assets/img/ershoufang/arrow_bottom.png"
          alt=""
        />
      </div>
      <div class="put" v-else @click="open">
        <span>收起选项</span
        ><img
          class="arrow"
          src="../assets/img/ershoufang/arrow_top.png"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "More",
  props: {
    /**显示样式 */
    menu: {
      type: Array,
      default: () => [],
    },
    /**隐藏样式 */
    menuShow: {
      type: Array,
      default: () => [],
    },
    /**区域 */
    region: { type: Array, default: () => [] },
    isShow: { type: Boolean, default: false },
    /**选择区域的样式 */
    selectIndex: { type: Number, default: 0 },
    /**标题类型 */
    houseType: { type: String, default: "" },
    /**城市名称 */
  },
  data() {
    return {
      form: {},
      /**楼龄 */
      floorAgeList: [],
      /** 楼层*/
      houseFloorList: [],
      /** 朝向*/
      houseOrientationList: [],
      /**户型 */
      houseUnitTypeList: [],
      /**用途*/
      housingPurposesList: [],
      /**装修 */
      renovationConditionList: [],
      /**标签 */
      tagList: [],
      /**总价区间 */
      priceList: [],
      /**总价输入区间 */
      queryPrice: {},
      /**面积区间 */
      areaList: [],
      /**面积输入区间 */
      queryArea: {},
      title: "",
      searchCount: true,
      pageNum: 1,
      pageSize: 10,
      /**价格 */
      priceArr: [],
      /**面积数组 */
      areaArr: [],
      priceMax: null,
      priceMin: null,
      areaMin: null,
      areaMax: null,
      /**控制价格自定义区间 */
      priceState: true,
      /**控制面积自定义区间 */
      areaState: true,
      /**城市名称 */
      cityName: "",
      /**输入搜索的值 */
      inputValue:null
    };
  },
  computed: {},
  mounted() {
    this.cityName = sessionStorage.getItem("cityName");
  },
  methods: {
    setCenter(index, item) {
      let obj = {
        index: index,
        id: item.id,
      };
      this.$emit("child-event", obj);
      this.search(obj);
    },
    search(obj) {
      /**调用父组件中的方法 */
      let id = JSON.stringify(obj.id);
      this.$parent.query(1, "", id);
    },
    /**点击搜索按钮进行查询 */
    inputSearch(){
      if(this.inputValue){
        sessionStorage.setItem('title',this.inputValue);
        this.$parent.query();
      } else {
        this.$message("输入点东西吧！");
      }
    },
    /**改变城市名称 */
    getMoreCityName() {
      this.cityName = sessionStorage.getItem("cityName");
    },
    /**收起/隐藏方法 */
    open() {
      this.isShow != this.isShow;
      if (this.isShow) {
        this.$emit("child-open", false);
      } else {
        this.$emit("child-open", true);
      }
    },
    /**点击复选框 */
    checkdebox(e, name) {
      // console.log(name);
      switch (name) {
        /**户型 */
        case "unit_type":
          this.select(e, this.houseUnitTypeList);
          this.form = {
            houseUnitTypeList: this.houseUnitTypeList,
            pageNum: 1,
            pageSize: 10,
          };
          break;
        /**用途 */
        case "house_purposes":
          this.select(e, this.housingPurposesList);
          this.form = {
            housingPurposesList: this.housingPurposesList,
            pageNum: 1,
            pageSize: 10,
          };
          break;
        /**楼层 */
        case "floor":
          this.select(e, this.houseFloorList);
          this.form = {
            houseFloorList: this.houseFloorList,
            pageNum: 1,
            pageSize: 10,
          };
          break;
        /**标签 */
        case "tag":
          this.select(e, this.tagList);
          this.form = {
            tagList: this.tagList,
            pageNum: 1,
            pageSize: 10,
          };
          break;
        /**朝向 */
        case "house_orientation":
          this.select(e, this.houseOrientationList);
          this.form = {
            houseOrientationList: this.houseOrientationList,
            pageNum: 1,
            pageSize: 10,
          };

          break;
        /**楼龄 */
        case "building_age":
          this.select(e, this.floorAgeList, "building_age");
          this.form = {
            floorAgeList: this.floorAgeList,
            pageNum: 1,
            pageSize: 10,
          };
          break;
        /**装修 */
        case "decoration":
          this.select(e, this.renovationConditionList);
          this.form = {
            renovationConditionList: this.renovationConditionList,
            pageNum: 1,
            pageSize: 10,
          };

          break;
        /**总价 */
        case "total_price":
          this.totalFun(e, "total_price");
          if (this.priceList.length > 0) {
            this.priceState = false;
          } else {
            this.priceState = true;
          }
          this.form = {
            priceList: this.priceList,
            pageNum: 1,
            pageSize: 10,
          };
          break;
        /**面积 */
        case "area":
          this.totalFun(e, "area");
          if (this.areaList.length > 0) {
            this.areaState = false;
          } else {
            this.areaState = true;
          }
          this.form = {
            areaList: this.areaList,
            pageNum: 1,
            pageSize: 10,
          };
          break;
      }
      this.$emit("child-checkdebox", this.form);
    },
    /**点击区间按钮 */
    submit() {
      /**判断价格 */
      if (this.priceMin != null || this.priceMax != null) {
        if (this.priceMin === null) {
          this.priceMin = 0;
        } else if (this.priceMax === null) {
          this.priceMax = 0;
        }
        /**将用户输入的值传进去 */
        let priceObj = {
          housePriceDown: this.priceMin,
          housePriceTop: this.priceMax,
        };
        this.queryPrice = priceObj;
        this.form.queryPrice = this.queryPrice;
      }
      /**判断面积 */
      if (this.areaMin != null || this.areaMax != null) {
        if (this.areaMin === null) {
          this.areaMin = 0;
        } else if (this.areaMax === null) {
          this.areaMax = 0;
        }
        /**将用户输入的值传进去 */
        let priceObj = {
          houseAreaDown: this.areaMin,
          houseAreaTop: this.areaMax,
        };
        this.queryArea = priceObj;
        this.form.queryArea = this.queryArea;
      }

      this.totalFun();

      this.$emit("child-checkdebox", this.form);
    },

    /**截取选中或未选择的值 */
    select(e, name, itemName) {
      if (event.target.checked === true) {
        let tagObj = e.itemValue;
        /**楼龄转换成int类型 */
        if (itemName === "building_age") {
          tagObj = parseInt(e.itemValue);
        }
        name.push(tagObj);
      } else {
        for (let i = 0; i < name.length; i++) {
          name = name.splice(i, 1);
        }
      }
    },
    /**等于面积或总价进行处理 */
    totalFun(item, name) {
      if (name == undefined) return;
      if (name == "total_price") {
        /**处理总价 */
        this.selectFun(item, this.priceArr);
        /**调用处理最大值最小值的方法 */
        this.priceList = this.comparison(this.priceArr, name);
      } else {
        /**面积 */
        this.selectFun(item, this.areaArr);
        /**调用处理最大值最小值的方法 */
        this.areaList = this.comparison(this.areaArr, name);
      }
    },
    /**数据转换 */
    comparison(arr, name) {
      let numArr = [];
      let intArr = [];
      let intervalObj = {};
      arr.forEach((item, index) => {
        let arrs = item.itemValue.match(/\d+/g);
        if (name == "total_price") {
          intervalObj = {
            housePriceDown: arrs[0],
            housePriceTop: arrs[1],
          };
        } else {
          intervalObj = {
            houseAreaDown: arrs[0],
            houseAreaTop: arrs[1],
          };
        }
        numArr.push(intervalObj);
      });
      let obj = {};
      /**将String数组 转换成int数组*/
      numArr.forEach((item, index) => {
        if (name == "total_price") {
          obj = {
            housePriceTop: parseInt(item.housePriceTop),
            housePriceDown: parseInt(item.housePriceDown),
          };
        } else {
          obj = {
            houseAreaTop: parseInt(item.houseAreaTop),
            houseAreaDown: parseInt(item.houseAreaDown),
          };
        }

        intArr.push(obj);
      });
      return intArr;
    },
    /**单独处理面积区间和总价区间选未选中方法 */
    selectFun(item, arr) {
      if (event.target.checked === true) {
        arr.push(item);
      } else {
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id == item.id) {
            arr.splice(i, 1);
          }
        }
      }
    },

  },
};
</script>

<style scoped lang="scss">
.temp {
  .bgc {
    padding-bottom: 18px;
    background-color: #f7f7f7;
  }
  .active {
    color: #34b38a;
  }
  .banner {
    width: 1200px;
    margin: 0 auto;
    /**搜索框样式 */
    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 36px;
      .name {
        font-size: 14px;
      }
      .input_box {
        width: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
          width: 100%;
          height: 40px;
          border: 1px solid #cdcdcd;
          outline: none;
          font-size: 12px;
          padding-left: 23px;
        }
        .button {
          width: 154px;
          height: 44px;
          outline: none;
          border: 0;
          background: #34b38a;
          color: white;
          font-size: 14px;
        }
      }
    }
    /**区域选择样式 */
    .bgc {
      margin-top: 56px;
    }
    .table {
      border-bottom: 1px solid #e0e0e0;
      font-size: 14px;
      color: #333;
      font-weight: bold;
      padding: 20px 0;
      box-sizing: border-box;
      span {
        margin-left: 21px;
      }
    }
    .position {
      padding-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
      box-sizing: border-box;
      .ul_region {
        width: 694px;
        margin-left: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        .li_region {
          margin: 14px 20px 0 0;
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
    .total_price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 15px;
      padding: 0 20px;
      box-sizing: border-box;
      .title {
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
      }
      .ul_check {
        width: 850px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .li_checkBox {
          white-space: nowrap;
          margin-left: 15px;
          flex: 1;
        }
      }
      .range {
        margin-left: 6px;
        white-space: nowrap;
        .input,
        button {
          width: 77px;
          height: 20px;
          outline: none;
          padding: 0;
          border: 1px solid black;
          text-align: center;
        }
        button {
          height: 23px;
          border: 0;
          color: white;
          background-color: #34b38a;
          margin-left: 5px;
        }
      }
    }
    .put {
      width: 100%;
      font-size: 12px;
      color: #7c7c7c;
      text-align: center;
      margin-top: 20px;
      .arrow {
        width: 13px;
        height: 7px;
      }
    }
  }
}
</style>