<template>
  <div class="temp">
    <!-- 默认排序 -->
    <div class="sort">
      <ul class="house_ul">
        <li
          class="house_li"
          v-for="(item, index) in house_menu"
          :key="index"
          @click="houseSort(index)"
          :class="{ active: houseIndex === index }"
        >
          {{ item.title }}
        </li>
      </ul>
      <div class="count">
        <span>共找到 </span><span class="number">{{ count }}</span
        ><span> 个{{ cityName }}{{ text }}</span>
      </div>
    </div>
    <!-- 房产列表 -->
    <div class="house_list">
      <ul class="house_left" v-if="listing.length > 0">
        <li
          class="house_left_li"
          v-for="(item, index) in listing"
          :key="index"
          @click="router(item.id)"
        >
          <!-- 二手房 -->
          <div class="house_center" v-if="state == 'second'">
            <img class="huose_img" v-lazy="item.coverImage" alt="二手房图片" />
            <div class="list">
              <div class="title">
                {{ item.title }}
              </div>
              <div class="address flex">
                <img
                  class="house_icon"
                  src="../assets/img/ershoufang/location.png"
                  alt=""
                />
                <span class="text">{{ item.yourRegion }}</span>
              </div>
              <div class="house_img_text">
                <img
                  class="house_img"
                  src="../assets/img/ershoufang/house_icon.png"
                  alt=""
                />
                <span class="text">
                  {{ item.houseFloor }}&nbsp;&nbsp;{{
                    item.houseUnitType
                  }}&nbsp;&nbsp;|&nbsp;&nbsp;{{
                    item.houseArea
                  }}平米&nbsp;&nbsp;|&nbsp;&nbsp;{{
                    item.houseOrientation
                  }}</span
                >
              </div>
              <div class="house_img_text">
                <img
                  class="house_img"
                  src="../assets/img/ershoufang/follow.png"
                  alt=""
                />
                <span class="text">10人关注 / 4天前发布</span>
              </div>
              <div class="button">
                <button v-for="(items, index) in item.tagList" :key="index">
                  {{ items.tagName }}
                </button>
              </div>
            </div>
          </div>
          <!-- 新房 -->
          <div class="house_center" v-else-if="state == 'newHouse'">
            <img class="huose_img" v-lazy="item.coverImage" alt="新房图片" />
            <div class="list">
              <div class="title">
                <span> {{ item.title }}</span>
                <span class="tag">下期待开</span>
                <span class="tag">住宅</span>
              </div>
              <div class="address flex">
                <img
                  class="house_icon"
                  src="../assets/img/ershoufang/location.png"
                  alt=""
                />
                <span class="text">{{ item.realEstateAddress }}</span>
              </div>
              <div class="house_img_text">
                <img
                  class="house_img"
                  src="../assets/img/ershoufang/house_icon.png"
                  alt=""
                />
                <span class="text">
                  户型：{{
                    item.realEstateType
                  }}&nbsp;&nbsp;&nbsp;&nbsp;建面：{{
                    item.buildingArea
                  }}m²</span
                >
              </div>

              <div class="button">
                <!-- <button v-for="(items, index) in item.tagVOList" :key="index">
                  {{ items.tagName }}
                </button> -->
                <button>在在售中</button>
                <button>大型社区</button>
                <button>购物方便</button>
                <button>绿化率高</button>
              </div>
            </div>
          </div>
          <!-- 租房 -->
          <div class="house_center" v-else-if="state == 'renting'">
            <img class="huose_img" v-lazy="item.coverImage" alt="租房图片" />
            <div class="list">
              <div class="title">
                {{ item.title }}
              </div>
              <div class="address flex">
                <span class="text"
                  >{{ item.yourRegion }}&nbsp;-&nbsp;{{
                    item.houseArea
                  }}&nbsp;-&nbsp;{{ item.houseOrientation }}&nbsp;-&nbsp;{{
                    item.houseUnitType
                  }}</span
                >
              </div>
              <div class="address flex">
                <img
                  class="house_icon"
                  src="../assets/img/ershoufang/time_icon.png"
                  alt=""
                />
                <span class="text">今日维护</span>
              </div>
              <div class="house_img_text">
                <img
                  class="house_img"
                  src="../assets/img/ershoufang/follow.png"
                  alt=""
                />
                <span class="text">10人关注 / 4天前发布</span>
              </div>
              <div class="button">
                <button v-for="(items, index) in item.tagVOList" :key="index">
                  {{ items.tagName }}
                </button>
              </div>
            </div>
          </div>
          <!-- 小区 -->
          <div class="house_center" v-else-if="state == 'quarters'">
            <img class="huose_img" v-lazy="item.coverImage" alt="小区图片" />
            <div class="list">
              <div class="title">
                {{ item.communityName }}
              </div>
              <div class="house_img_text">
                <img
                  class="house_img"
                  src="../assets/img/ershoufang/house_icon.png"
                  alt=""
                />
                <span class="text"
                  >90天成交12套&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;36套正在租</span
                >
              </div>
              <div class="address flex">
                <img
                  class="house_icon"
                  src="../assets/img/ershoufang/location.png"
                  alt=""
                />
                <span class="text"
                  >{{ item.yourRegion }}/{{ item.buildingAge }}年建成</span
                >
              </div>

              <div class="house_img_text">
                <img
                  class="house_img"
                  src="../assets/img/ershoufang/follow.png"
                  alt=""
                />
                <span class="text">10人关注 / 4天前发布</span>
              </div>
              <div class="button">
                <button v-for="(items, index) in item.tagVOList" :key="index">
                  {{ items.tagName }}
                </button>
              </div>
            </div>
          </div>
          <div class="house_right_box" v-if="state == 'quarters'">
            <div class="house_right">
              <p class="money" style="white-space: nowrap;">{{ item.housePrice }}元/m²</p>
              <p class="average_price">
                {{ item.createTime | filterTime(item.createTime)
                }}月{{ cityName }}二手房参考价
              </p>
            </div>
            <div class="house_right">
              <p class="sets" v-if="item.secondHandHouseVOList">
                {{ item.secondHandHouseVOList.length }}套
              </p>
              <p class="sets" v-else>0套</p>
              <p class="resources">在售二手房源</p>
            </div>
          </div>
          <div class="house_right_box" v-if="state == 'renting'">
            <div class="house_right">
              <p class="money">{{ item.housePrice }}元/月</p>
            </div>
          </div>
          <div class="house_right_box" v-if="state == 'second'">
            <div class="house_right">
              <p class="money">{{ item.housePrice }}万</p>
              <p class="average_price">均价:{{ item.avgPrice }}元/m²</p>
            </div>
          </div>
          <div class="house_right_box" v-if="state == 'newHouse'">
            <div class="house_right">
              <div v-if="item.housePrice">
                <p class="money">均价:{{ item.housePrice }}元/m²</p>
                <p class="average_price">总价:{{ item.avgPrice }}万/套</p>
              </div>
              <p class="money" v-else>价格待定</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="tips" v-else>暂无数据</div>
    </div>
    <div class="page publc">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        layout="prev, pager, next"
        :pages="page"
        :pageSize="pageSize"
        :total="total"
        background
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  name: "Ranking",
  props: {
    house_menu: {
      type: Array,
      default: () => [],
    },
    listing: {
      type: Array,
      default: () => [],
    },
    houseIndex: {
      type: Number,
      default: 0,
    },
    routers: {
      type: String,
      default: "",
    },
    /**总计 */
    count: {
      type: Number,
      default: 0,
    },
    text: {
      type: String,
      default: "",
    },
    /**小区做区分 */
    /**做四个页面内容区分 */
    state: { type: String, default: "" },
    /**分页 */
    page: { type: Number, default: 0 },
    pageSize: { type: Number, default: 0 },
    total: { type: Number, default: 0 },
  },
  filters: {
    filterTime(val) {
      var timearr = val.replace(" ", ":").replace(/\:/g, "-").split("-");
      let month = timearr[1];
      month = month.replace(/\b(0+)/gi, "");
      return month;
    },
  },
  data() {
    return {
      cityName: "",
    };
  },
  created() {
    /**获取城市名称 */
    this.cityName = sessionStorage.getItem("cityName");
  },
  methods: {
    /**控制房子排序样式的方法 */
    houseSort(index) {
      this.$emit("child-store", index);
      // this.houseIndex = index;
    },
    router(id) {
      //存储详情页的id防止刷新id重置
      sessionStorage.setItem("detailsId", id);
      this.$router.push({ name: this.routers, params: { id: id } });
    },
    /**改变城市名称 */
    getMoreCityName() {
      this.cityName = sessionStorage.getItem("cityName");
    },
    /**分页 */
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.$emit("child-change", val);
    },
    //    /**根据城市id查询城市名称 */
    // cityNmae(){
    //   areaCityId().then((res)=>{
    //     console.log(res);
    //   });
    // },
  },
};
</script>

<style scoped lang="scss">
.temp {
  /**房屋排序样式 */
  .sort {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #34b38a;
    .house_ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;
      color: #454545;
      font-weight: bold;
      .house_li {
        width: 90px;
        height: 40px;
        margin-left: 16px;
        text-align: center;
        line-height: 40px;
      }
      .active {
        background-color: #34b38a;
        color: white;
      }
    }
    .count {
      font-size: 14px;
      font-weight: bold;

      .number {
        color: #34b38a;
      }
    }
  }
  .house_list {
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    .flex {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .house_left {
      width: 900px;
      .house_left_li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 30px;
        box-sizing: border-box;
        margin-top: 30px;
        .house_center {
          display: flex;
          justify-content: flex-start;
          flex: 3;
          .list {
            margin-left: 20px;
            .text {
              font-size: 14px;
              color: #454545;
              margin-left: 3px;
            }
            .title {
              font-size: 18px;
              color: #454545;
              font-weight: bold;
              white-space: nowrap;
              .tag {
                padding: 3px 10px;
                font-size: 12px;
                color: #fff;
                margin-left: 7px;
                background-color: #34b38a;
              }
            }
            .address {
              margin-top: 19px;
            }
            .house_img_text {
              margin-top: 12px;
            }
            .button {
              margin-top: 19px;
              button {
                width: 97px;
                height: 30px;
                border: 0;
                color: white;
                background-color: #87bfad;
                outline: none;
                margin-right: 10px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
          .huose_img {
            width: 232px;
            height: 174px;
          }
        }
        .house_right_box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: right;
          margin-top: 4px;
          flex: 1;
          .house_right {
            flex: 1;
            .money {
              font-size: 20px;
              font-weight: bold;
              color: #c91d1d;
            }
            .average_price {
              font-size: 12px;
              white-space: nowrap;
              color: #7b7b7b;
            }
            .sets {
              font-size: 20px;
              color: #454545;
              font-weight: bold;
            }
            .resources {
              font-size: 12px;
              color: #b1b1b1;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .house_right {
      flex: 1;
      margin-left: 30px;
      .title_more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #454545;
        font-weight: bold;
        margin-bottom: 19px;
        .more {
          font-size: 14px;
          color: #8f8f8f;
        }
      }
      .list {
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 20px;

        .li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #8f8f8f;
          font-size: 14px;
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
          .title {
            width: 219px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .title_code {
        margin-top: 30px;
        font-size: 18px;
        color: #454545;
        font-weight: bold;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 19px;
        box-sizing: border-box;

        .code {
          width: 131px;
          height: 131px;
          margin-top: 20px;
        }
        .describe {
          margin-top: 21px;
          width: 102px;
          font-size: 14px;
          color: #454545;
        }
      }
    }
    .tips {
      width: 100%;
      margin-top: 40px;
      text-align: center;
    }
  }
  /**分页公共样式 */
  .publc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .page {
    margin: 50px 0;
    .page_but {
      li {
        width: 30px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: #bfbfbf;
        margin-right: 5px;
        font-size: 14px;
        color: #454545;
      }
    }
    button {
      border: 0;
      height: 25px;
      background-color: #bfbfbf;
    }
  }
}
</style>