<template>
  <div class="temp">
    <!-- 楼盘动态 -->
    <div class="information">
      <div class="exemption">
        <span>楼盘资讯</span><span class="exemption_text">《免责声明》</span>
      </div>
      <div class="title">
        <span>楼盘动态</span>
      </div>
      <div v-if="realEstateNews.length > 0">
        <div
          class="deposit"
          v-for="(item, index) in realEstateNews"
          :key="index"
        >
          <div class="deposit_box">
            <div class="courtesy">{{ item.dynamicTitle }}</div>
            <div class="news">{{ item.dynamicTag }}</div>
          </div>
          <p class="paragraph">
            {{ item.dynamicContent }}
          </p>
          <p class="time">{{ item.releaseDate }}</p>
        </div>
      </div>
      <div v-else class="available">暂无数据</div>
      <div class="page">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :pages="pageNum"
          :pageSize="pageSizes"
          :total="totals"
          background
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Developments",
  props: {
    /**动态列表 */
    realEstateNews: {
      type: Array,
      default: () => [],
    },
    /**分页 */
    pageNum: { type: Number, default: 0 },
    pageSizes: { type: Number, default: 0 },
    totals: { type: Number, default: 0 },
  },
  data() {
    return {};
  },
  methods: {
    /**分页 */
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.$emit("child-change", val);
    },
  },
};
</script>

<style scoped lang='scss'>
.temp {
  /**楼盘动态 */
  .information {
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #454545;
      margin-top: 29px;
    }
    .exemption {
      margin-top: 28px;
      font-size: 12px;
      color: #8d8d8d;
      .exemption_text {
        color: #8eb8aa;
      }
    }
    .deposit {
      border-bottom: 1px solid #c4c4c4;
      padding-bottom: 20px;
      .deposit_box {
        font-size: 14px;
        color: #454545;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;
        .courtesy {
          font-weight: bold;
          margin-right: 10px;
        }
        .news {
          width: 65px;
          height: 17px;
          color: white;
          background-color: #34b38a;
          font-size: 12px;
          line-height: 17px;
          text-align: center;
        }
      }
      .paragraph {
        width: 515px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: #454545;
        margin-top: 16px;
      }
      .time {
        margin-top: 14px;
        font-size: 12px;
        text-align: right;
      }
    }
    .available {
      color: #9e9e9e;
      font-size: 14px;
      margin-top: 20px;
    }
  }
}
</style>