<template>
  <div class="temp">
    <!-- 楼盘信息 -->
    <div class="information">
      <div class="title">
        <span>楼盘信息</span>
      </div>
      <div class="basic">基本信息</div>
      <div class="attribute">
        <ul class="attribute_ul">
          <li class="attribute_li">
            <span class="text"> 物业类型： </span>
            <span class="content">
              {{ form.propertyType || "暂无数据" }}
            </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 参考价格： </span>
            <span class="content"> {{ form.type || "暂无数据" }} </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 项目特色： </span>
            <span class="content">
              {{ form.programFeatures || "暂无数据" }}
            </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 区域位置： </span>
            <span class="content"> {{ form.type || "暂无数据" }} </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 楼盘地址： </span>
            <span class="content">
              {{ form.realEstateAddress || "暂无数据" }}
            </span>
          </li>
        </ul>
        <ul class="attribute_ul">
          <li class="attribute_li">
            <span class="text"> 售楼处地址： </span>
            <span class="content">
              {{ form.salesAddress || "暂无数据" }}
            </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 开发商： </span>
            <span class="content">
              {{ form.developer || "暂无数据" }}
            </span>
          </li>
        </ul>
      </div>
      <div class="basic">规划信息</div>
      <div class="attribute">
        <ul class="attribute_ul">
          <li class="attribute_li">
            <span class="text"> 建筑类型： </span>
            <span class="content">{{ form.buildingType || "暂无数据" }} </span>
          </li>

          <li class="attribute_li">
            <span class="text"> 占地面积： </span>
            <span class="content">{{ form.buildingArea || "暂无数据" }} </span>
          </li>

          <li class="attribute_li">
            <span class="text"> 建筑面积： </span>
            <span class="content"
              >{{ form.landOccupationArea || "暂无数据" }}
            </span>
          </li>

          <li class="attribute_li">
            <span class="text"> 规划户数： </span>
            <span class="content">{{ "暂无数据" }} </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 产权年限： </span>
            <span class="content">
              {{ form.propertyRights || "暂无数据" }}</span
            >
          </li>
          <li class="attribute_li">
            <span class="text"> 楼盘户型： </span>
            <span class="content">
              {{ form.realEstateType || "暂无数据" }}</span
            >
          </li>
          <li class="attribute_li">
            <span class="text"> 最近交房： </span>
            <span class="content">
              {{ form.recentlyHandedOver || "暂无数据" }}</span
            >
          </li>
        </ul>
        <ul class="attribute_ul">
          <li class="attribute_li">
            <span class="text"> 绿化率： </span>
            <span class="content"> {{ form.greeningRate || "暂无数据" }}</span>
          </li>
          <li class="attribute_li">
            <span class="text"> 容积率： </span>
            <span class="content"> {{ form.volumeRate || "暂无数据" }}</span>
          </li>
          <li class="attribute_li">
            <span class="text"> 物业类型： </span>
            <span class="content"> {{ form.propertyType || "暂无数据" }}</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- 楼盘纪事 -->
    <div class="information">
      <div class="basic">楼盘纪事</div>
      <div class="record">
        <div class="estate_box bg">
          <div class="estate" v-for="(item, index) in estate" :key="index">
            {{ item.title }}
          </div>
        </div>
        <div class="estate_box border">
          <div class="estate" v-for="(item, index) in estate" :key="index">
            {{ item.title }}
          </div>
        </div>
      </div>
    </div>
    <!-- 售卖资格 -->
    <div class="information">
      <div class="basic">售卖资格</div>
      <table class="table">
        <tr>
          <th>售卖资格</th>
          <th>发证时间</th>
          <th>绑定楼栋</th>
          <th>网上销控表</th>
        </tr>
        <tr>
          <td>楼盘暂未取得预售许可证</td>
          <td>-</td>
          <td>-</td>
          <td>暂无信息</td>
        </tr>
      </table>
    </div>
    <!-- 配套信息 -->
    <div class="information">
      <div class="basic">配套信息</div>
      <div class="attribute">
        <ul class="attribute_ul">
          <li class="attribute_li">
            <span class="text"> 物业公司： </span>
            <span class="content">
              {{ form.propertyCompany || "暂无数据" }}
            </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 物业费： </span>
            <span class="content"> {{ form.propertyCosts || "暂无数据" }} </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 供水方式： </span>
            <span class="content">
              {{ form.waterSupplyMethod || "暂无数据" }}
            </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 车位： </span>
            <span class="content"> {{ form.parkingSpace || "暂无数据" }} </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 周边规划： </span>
            <span class="content"> {{ form.peripheralPlan || "暂无数据" }} </span>
          </li>
        </ul>
        <ul class="attribute_ul">
          <li class="attribute_li">
            <span class="text"> 车位配比： </span>
            <span class="content">
              {{ form.parkingSpaceRatio || "暂无数据" }}
            </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 供暖方式： </span>
            <span class="content">
              {{ form.heatingMethod || "暂无数据" }}
            </span>
          </li>
          <li class="attribute_li">
            <span class="text"> 供电方式： </span>
            <span class="content">
              {{ form.powerSupplyMethod || "暂无数据" }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "information",
  props: {
    /**楼盘信息 */
    form: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      /**基本属性 */
      information: [
        {
          name: "物业类型：",
          type: "住宅",
        },
        { name: "项目特色", type: "视频看房 VR看房 大型社区 购物方便" },
        { name: "楼盘地址：", type: "汽车大道鸿海水岸之城" },
        {
          name: "售楼处地址：",
          type:
            " 红谷滩区省委党校旁（规划虎形山公园以西）（接待时间 9:00 - 21:00）",
        },
        {
          name: "开发商：",
          type: "华润置地（南昌）开发有限公司，南昌润投房地产开发有限公司",
        },
      ],
      information2: [
        {
          name: "所在楼层",
          type: "低层楼10楼（共32层）",
        },
        { name: "户型结构", type: "平层" },
      ],
      /**交易属性 */
      transaction: [
        {
          name: "挂牌时间",
          type: "2019-12-25",
        },
        {
          name: "上次交易",
          type: "暂无数据",
        },
        {
          name: "房屋年限",
          type: "70年",
        },
        {
          name: "抵押信息",
          type: "有抵押35万元 ",
        },
      ],
      transaction2: [
        {
          name: "交易属性",
          type: "商品房",
        },
        {
          name: "房屋用途",
          type: "精装住宅",
        },
        {
          name: "产权所属",
          type: "共有",
        },
        {
          name: "房本备件",
          type: "详情请咨询经纪人",
        },
      ],
      /**楼盘纪事 */
      estate: [{ title: "时间" }, { title: "开盘/交房" }, { title: "楼栋" }],
    };
  },
};
</script>

<style scoped lang='scss'>
.temp {
  .information {
    margin-top: 29px;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #454545;
      margin-bottom: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .more {
        font-size: 14px;
        color: #8d8d8d;
      }
    }
    .basic {
      font-size: 18px;
      color: #8d8d8d;
    }
    .attribute {
      &:nth-child(3) {
        border: 0;
      }
      .text {
        flex: 1;
        margin-top: 16px;
        font-size: 14px;
        color: #454545;
        font-weight: bold;
      }
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 20px;
      box-sizing: border-box;
      .attribute_ul {
        flex: 2;
        .attribute_li {
          margin-top: 19px;
          white-space: nowrap;
          .content {
            color: #8d8d8d;
            margin-left: 20px;
            white-space: nowrap;
          }
        }
      }
    }
    .record {
      width: 703px;
      .bg {
        font-weight: bold;
        background-color: #e6e6e6;
      }
      .estate_box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        color: #454545;
        height: 35px;

        .border {
          border-bottom: 1px solid #e6e6e6;
        }
        .estate {
          margin-right: 130px;
          padding-left: 20px;
        }
      }
    }
    table,
    table tr th,
    table tr td {
      border: 1px solid#9E9E9E;
    }
    th {
      font-weight: bold;
      background-color: #e6e6e6;
      color: #454545;
    }
    td {
      height: 69px;
    }
    table {
      width: 703px;
      line-height: 35px;
      margin-top: 20px;
      text-align: center;
      border-collapse: collapse;
      font-size: 14px;
      color: #9e9e9e;
    }
  }
}
</style>