<template>
  <div class="temp">
    <!-- 楼盘相册 -->
    <div class="photo">
      <div class="title">楼盘相册</div>
      <div class="photo_album">
        <p class="text">效果图({{designList.length}})</p>
        <ul class="img_ul" v-if="designList.length>0">
          <li
            class="img_li"
            v-for="(item, id) in designList"
            :key="id"
            @click="colse(item.filePath)"
          >
            <img class="img" :src="item.filePath" alt="" />
          </li>
          <span class="text_span">查看更多>></span>
        </ul>
         <div class="pictures" v-else>暂无图片</div>
      </div>
      <div class="photo_album">
        <p class="text">小区及周边配套({{matchingList.length}})</p>
        <ul class="img_ul" v-if="matchingList.length>0">
          <li
            class="img_li"
            v-for="(item, id) in matchingList"
            :key="id"
            @click="colse(item.filePath)"
          >
            <img class="img" :src="item.filePath" alt="" />
          </li>
          <span class="text_span">查看更多>></span>
        </ul>
         <div class="pictures" v-else>暂无图片</div>
      </div>
      <div class="photo_album" >
        <p class="text">实景图（{{pictureList.length}}）</p>
        <ul class="img_ul" v-if="pictureList.length>0">
          <li
            class="img_li"
            v-for="(item, id) in pictureList"
            :key="id"
            @click="colse(item.filePath)"
          >
            <img class="img" :src="item.filePath" alt="" />
          </li>
          <span class="text_span">查看更多>></span>
        </ul>
      <div  class="pictures" v-else>暂无图片</div>
      </div>
    </div>
    <div class="mask" v-show="isShow"></div>
    <div class="img_box" v-show="isShow">
      <img class="img" :src="src" alt="" />
      <img
        class="close"
        @click="colse()"
        src="../../assets/img/newHouse/close.png"
        alt=""
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "propertyReview",
  props: {
    /**效果图 */
    designList: {
      type: Array,
      default: () => [],
    },
    /**配套 */
    matchingList: {
      type: Array,
      default: () => [],
    },
    /**实景图 */
    pictureList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      isShow: false,
      imgList: [
        {
          title: "效果图",
          num: 15,
          img: [
            { src: require("../../assets/img/newHouse/matching.png") },
            { src: require("../../assets/img/newHouse/photo.png") },
            { src: require("../../assets/img/newHouse/photo.png") },
            { src: require("../../assets/img/newHouse/photo.png") },
            { src: require("../../assets/img/newHouse/photo.png") },
          ],
        },
        {
          title: "小区及周边配套",
          num: 2,
          img: [
            { src: require("../../assets/img/newHouse/photo.png") },
            { src: require("../../assets/img/newHouse/matching.png") },
            { src: require("../../assets/img/newHouse/photo.png") },
          ],
        },
      ],
      /**遮罩层图片 */
      src: "",
    };
  },
  methods: {
    colse(e) {
      this.src = e;
      this.isShow != this.isShow;
      if (this.isShow) {
        this.isShow = false;
      } else {
        this.isShow = true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.temp {
  .photo {
    color: #454545;
    font-weight: bold;
    .title {
      font-size: 24px;
      margin-top: 39px;
    }
    .photo_album {
      .text {
        font-size: 16px;
        margin-top: 29px;
      }
      .img_ul {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-flow: wrap;
        .img_li {
          .img {
            width: 235px;
            height: 178px;
            margin-right: 60px;
            margin-top: 19px;
          }
          &:nth-child(4n) {
            margin-right: 0;
          }
        }
        .text_span {
          font-size: 14px;
          font-weight: 400;
        }
      }
      .pictures{
        color: #9E9E9E;
        font-size: 14px;
        margin-top: 20px;
      }
    }
  }
  //   查看图片样式
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.75;
    z-index: 10;
  }
  .img_box {
    position: fixed;
    top: 269px;
    left: 30%;
    z-index: 99;
    display: flex;
    justify-content: flex-start;
    .img {
      width: 750px;
      height: 518px;
    }
    .close {
      width: 19px;
      height: 19px;
      margin-top: -20px;
      margin-left: 38px;
    }
  }
}
</style>