<template>
  <div class="temp">
    <!-- 楼盘评论 -->
    <div class="feedback">
      <div class="feedback_title">
        <div class="title">楼盘评论({{reviewList.length}})</div>
      </div>
      <ul class="comment_list">
        <li
          class="list_li"
          v-for="(item, index) in list"
          :key="index"
          @click="houseSort(index)"
          :class="{ active: houseIndex === index }"
        >
          {{ item.title }}({{ item.num }})
        </li>
      </ul>
      <ul class="feedback_ul" v-if="reviewList.length>0">
        <li
          class="feedback_li flex_start"
          v-for="(item, index) in reviewList"
          :key="index"
        >
          <img class="img" :src="item.src" alt="" />
          <div class="feedback_phone">
            <div class="name_phone flex_space">
              <div class="name">{{ item.customerName }}</div>
              <div class="star">{{item.star}}</div>
              <div class="phone_buts flex_start">
                <div class="phone">{{ item.phone }}</div>
                <div class="buts">
                  <img
                    src="../../assets/img/ershoufang/consulting.png"
                    alt=""
                  />
                  <div class="text">在线咨询</div>
                </div>
              </div>
            </div>
            <p class="content">
              {{ item.content }}
            </p>
            <div class="img_box">
              <div v-for="(items, id) in item.img" :key="id">
                <img class="imgs" :src="items.img_src" alt="" />
              </div>
            </div>
            <div class="time_text">
              <span class="tiem">{{ item.commentDate }}</span>
              <div class="button_box">
                <button class="butt">
                  <img src="../../assets/img/newHouse/consulting.png" alt="" />
                  <div class="number">15</div>
                </button>
                <button class="butt">
                  <img src="../../assets/img/newHouse/give.png" alt="" />
                  <div class="number">15</div>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="available" v-else> 暂无数据</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PropertyReview",
  props:{
    reviewList:{
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      /** 评论列表*/
      list: [
        { title: "全部评论", num: 0 },
        { title: "实看用户", num: 0 },
        { title: "好评", num: 0 },
        { title: "有图", num: 0 },
      ],
      houseIndex: 0,
    };
  },
  methods: {
    /**添加样式 */
    houseSort(index) {
      this.houseIndex = index;
    },
  },
};
</script>

<style scoped lang="scss">
.temp {
  /**楼盘评论 */
  .feedback {
    .comment_list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 24px;

      .list_li {
        margin-right: 70px;
        color: #454545;
      }
      .active {
        color: #34b38a;
      }
    }
    .feedback_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 37px;

      .title {
        color: #454545;
        font-size: 24px;
        font-weight: bold;
      }
    }
    .feedback_ul {
      .flex_start {
        display: flex;
        justify-content: flex-start;
      }
      .flex_space {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .feedback_li {
        margin-top: 22px;
        padding-bottom: 20px;
        border-bottom: 1px solid #d8d8d8;
        box-sizing: border-box;
        .img {
          width: 68px;
          height: 68px;
        }
        .feedback_phone {
          flex: 1;
          margin-left: 16px;
          .name_phone {
            flex: 1;
            .name {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 16px;
              color: #000;
              font-weight: bold;
              .erju {
                width: 43px;
                height: 20px;
                background-color: #34b38a;
                font-size: 12px;
                color: white;
                line-height: 20px;
                text-align: center;
                margin-left: 15px;
              }
            }
            .buts {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: #34b38a;
              padding: 8px 10px;
              color: white;
              .text {
                font-size: 12px;
                margin-left: 7px;
              }
            }
            .phone {
              color: #34b38a;
              font-size: 14px;
              font-weight: bold;
              margin-right: 41px;
            }
          }
          .img_box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: wrap;
            .imgs {
              width: 70px;
              height: 70px;
              margin: 19px 10px 0;
            }
          }
          .content {
            font-size: 14px;
            color: #454545;
            margin-top: 16px;
          }
          .time_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            color: #b9b9b9;
            font-size: 12px;
            .button_box {
              display: flex;
              justify-content: center;
              align-items: center;
              .butt {
                padding: 4px 19px;
                border-radius: 13px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #c4c4c4;
                color: #c4c4c4;
                margin-left: 10px;
                .number {
                  margin-left: 4px;
                }
              }
            }
          }
        }
      }
    }
     .available {
      color: #9e9e9e;
      font-size: 14px;
      margin-top: 20px;
    }
  }
}
</style>