<template>
  <div class="temp" v-show="isShow">
    <div class="mask"></div>
    <div class="looking">
      <div class="title_close">
        <div class="title">帮我找房</div>
        <div class="close" @click="show">X</div>
      </div>
      <div class="slider">
        <div class="img_box">
          <img
            class="img_ellipse"
            src="../../assets/img/newHouse/ellipse.png"
            alt=""
          />
          <img
            class="img_ellipse"
            src="../../assets/img/newHouse/ellipse.png"
            alt=""
          />
          <img
            class="img_ellipse"
            src="../../assets/img/newHouse/ellipse.png"
            alt=""
          />
          <img
            class="img_ellipse"
            src="../../assets/img/newHouse/ellipse.png"
            alt=""
          />
        </div>
      </div>
      <div class="slider_title">
        <div class="text">首付预算</div>
        <div class="text">户型要求</div>
        <div class="text">意向区域</div>
        <div class="text">联系方式</div>
      </div>
      <!-- 首付预算 -->
      <div class="payment_budget" style="display: none">
        <p class="budget">你的首付预算是多少？</p>
        <p class="number">50-1000万</p>
        <div class="block">
          <el-slider v-model="value2" :max="200"></el-slider>
        </div>
        <div class="number_box">
          <span>50万</span>
          <span>2000万</span>
        </div>
      </div>
      <!-- 户型需要 -->
      <div class="payment_budget" style="display: none">
        <p class="budget">你的户型要求是什么？</p>
        <ul class="but_ul">
          <li class="but_li">1居室</li>
          <li class="but_li">2居室</li>
          <li class="but_li">3居室</li>
          <li class="but_li">4居室</li>
          <li class="but_li">5居室</li>
          <li class="but_li">5居以上</li>
        </ul>
      </div>
      <!-- 意向区域 -->
      <div class="payment_budget" style="display: none">
        <p class="budget">你的意向购房区域是哪里？</p>
        <ul class="but_ul scroll">
          <li class="but_li">不限</li>
          <li class="but_li">东湖区</li>
          <li class="but_li">西湖区</li>
          <li class="but_li">青山湖...</li>
          <li class="but_li">进贤县</li>
          <li class="but_li">红谷滩</li>
          <li class="but_li">青云谱...</li>
        </ul>
      </div>
      <!-- 联系方式 -->
      <div class="payment_budget">
        <p class="budget">你的联系方式？</p>
        <p class="secrecy">你的个人信息将被严格保密，请放心填写</p>
        <input type="text" class="input" placeholder="请输入你的手机号码" />
        <div class="checkbox_text">
          <input type="checkbox" class="checkbox" />
          <span class="secrecy">我已阅读《二九房产用户协议》</span>
        </div>
        <button class="submit">确认提交</button>
        <p class="secrecy">提交后将有二九专业经纪人致电联系并提供服务</p>
      </div>
      <div class="btn">
        <button class="button none">上一步</button>
        <button class="button">下一步</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Room",
  data() {
    return {
      value2: 200,
      isShow: false,
    };
  },
  methods: {
    show() {
      this.isShow != this.isShow;
      if (this.isShow) {
        this.isShow = false;
      } else {
        this.isShow = true;
      }
    },
  },
};
</script>

<style scoped lang='scss'>
.temp {
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.75;
    z-index: 10;
  }
  .looking {
    position: fixed;
    top: 10%;
    left: 40%;
    z-index: 99;
    background-color: #fff;
    padding: 39px 41px;
    .title_close {
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 20px;
        color: #454545;
        font-weight: bold;
      }
      .colse {
        margin-top: -10px;
        font-size: 14px;
      }
    }
    .slider {
      width: 445px;
      border-bottom: 1px solid #bdbdbd;
      margin-top: 40px;
      .img_box {
        position: relative;
        .img_ellipse {
          width: 14px;
          height: 14px;
          position: absolute;
          top: -7px;
          left: 54px;
          &:nth-child(2) {
            position: absolute;
            top: -7px;
            left: 160px;
          }
          &:nth-child(3) {
            position: absolute;
            top: -7px;
            left: 270px;
          }
          &:last-child {
            position: absolute;
            top: -7px;
            left: 375px;
          }
        }
      }
    }

    .slider_title {
      width: 445px;
      display: flex;
      justify-content: space-between;
      margin-top: 13px;
      padding: 0 35px 0 38px;
      box-sizing: border-box;
      .text {
        font-size: 12px;
        color: #bdbdbd;
      }
      .active {
        color: #34b38a;
      }
    }
    .payment_budget {
      .budget {
        font-size: 14px;
        color: #454545;
        margin-top: 39px;
      }
      .number {
        font-size: 16px;
        color: #34b38a;
        font-weight: bold;
        text-align: center;
        margin-top: 39px;
      }
      .number_box {
        display: flex;
        justify-content: space-between;
        color: #c9c9c9;
        font-size: 12px;
      }
      .scroll {
        overflow-y: scroll;
      }
      .but_ul {
        width: 445px;
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;

        .but_li {
          background-color: #d6d6d6;
          width: 71px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          color: white;
          font-size: 14px;
          margin-right: 27px;
          margin-top: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .secrecy {
        font-size: 12px;
        color: #c8c8c8;
        margin-top: 13px;
      }
      .input {
        width: 100%;
        height: 40px;
        border: 1px solid#34B38A;
        padding-left: 12px;
        margin-top: 29px;
      }
      .checkbox_text {
        margin-top: 29px;
        .checkbox {
          border: 1px solid#C9C9C9;
        }
      }
      .submit {
        width: 100%;
        height: 40px;
        margin-top: 54px;
        font-size: 16px;
      }
    }
    .btn {
      margin-top: 196px;
      .button {
        padding: 8px 38px;
        font-size: 14px;
        color: white;
        border-radius: 16px;
        &:last-child {
          margin-left: 70%;
        }
      }
      .left {
        margin-left: 127px;
      }
      .none {
        display: none;
      }
    }
  }
}
</style>