<template>
  <div class="root">
    <header>
      <Header @child-city="citySearch" ref="tabCityBus"></Header>
    </header>
    <div class="content">
      <div class="banner">
        <p class="compare">{{form.city }}二手房产网>我是业主</p>
        <ul class="tab">
          <li
            class="tab_li"
            v-for="(item, index) in menu"
            :key="index"
            @click="houseSort(index)"
            :class="{ active: houseIndex === index }"
          >
            {{ item.title }}
          </li>
        </ul>
        <!-- 我要卖房 -->
        <div v-show="isShow == 0">
          <div class="public">
            <div class="title">发布房源</div>
            <p class="text">可靠线下门店 · 快速全城推广 · 专业经纪人服务</p>
          </div>
          <div class="listing">
            <div class="listing_right">
              <div class="name_input">
                <div class="name">房屋所在的城市</div>
                <div class="input">
                  <span>{{ form.city }}</span
                  ><span class="tab_text" @click="tabCity">切换城市</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">小区名称</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="form.communityName"
                  placeholder="请输入小区名称"
                />
              </div>
              <div class="name_input">
                <div class="name">房屋地址</div>
                <div class="input_address padding">
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingOne"
                    placeholder="楼栋号"
                  />
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingTwo"
                    placeholder="单元号"
                  />
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingThree"
                    placeholder="门牌号"
                  />
                </div>
              </div>
              <div class="name_input">
                <div class="name">期望售价</div>
                <div class="input">
                  <input
                    class="price"
                    type="text"
                    placeholder="请输入希望房屋出售的价钱"
                    v-model.number="form.expectedPrice"
                  /><span>万元</span>
                  <span class="green" @click="houseSort(1)"
                    >如果不太清楚，可以先估价</span
                  >
                </div>
              </div>
              <div class="name_input">
                <div class="name">你的名字</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="form.housePublisherName"
                  placeholder="请输入你的名字"
                />
              </div>
              <div class="name_input">
                <div class="name">手机号码</div>
                <input
                  class="input"
                  type="text"
                  placeholder="请输入你的联系方式"
                  v-model.trim="form.housePhone"
                />
              </div>
              <div class="name_input">
                <div class="name">验证号码</div>
                <div class="input">
                  <input
                    class="code"
                    type="text"
                    v-model.trim="form.phoneCode"
                    placeholder="请输入验证码"
                  />
                  <div class="code_but" v-show="!show">
                    {{ count }}s重新获取
                  </div>
                  <button class="code_but" v-show="show" @click="getCode(1)">
                    获取验证码
                  </button>
                </div>
              </div>
              <button class="submit" @click="submit(2)">确认发布</button>
              <p class="explain">
                您点击“确认发布”后，若房源通过初步审核，将会由二九房产网上的经纪人和您取得联系，并对您的房源进行再次核实，核实无误后将与您建立服务关系。二九房产网仅提供信息展示和网络技术服务。
              </p>
            </div>
            <div class="listing_left">
              <div class="title_text">
                <p class="titles">南昌市 成交均价</p>
                <p class="area">11025元/平米</p>
              </div>
              <ul class="list">
                <li
                  class="list_li"
                  v-for="(item, index) in listing"
                  :key="index"
                >
                  <p class="list_title">{{ item.title }}</p>
                  <div class="time_money">
                    <div class="time">签约时间：{{ item.time }}</div>
                    <div class="money">{{ item.money }}万</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="selling">
            <div class="line"></div>
            <p class="selling_title">卖房全流程</p>
            <div class="line"></div>
          </div>
          <ul class="process_ul">
            <li
              class="process_li"
              v-for="(item, index) in process"
              :key="index"
            >
              <img class="bigimg" :src="item.img" alt="" />
              <div class="icon_list">
                <div class="icon_name">
                  <div class="name">{{ item.name }}</div>
                  <img class="icon" :src="item.icon" alt="" />
                </div>
                <p class="describe">{{ item.describe }}</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- 房屋估价 -->
        <div v-show="isShow == 1">
          <div class="public">
            <div class="title">看看自己的房子值多少钱？</div>
            <p class="text">添加房屋信息，查看房屋估值</p>
          </div>
          <div class="listing width">
            <div class="listing_right">
              <div class="name_input">
                <div class="name">房屋所在的城市</div>
                <div class="input">
                  <span>{{ homeAppraisal.city }}</span
                  ><span class="tab_text" @click="tabCity">切换城市</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">小区名称</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="homeAppraisal.communityName"
                  placeholder="请输入小区名称"
                />
              </div>
              <div class="name_input">
                <div class="name">房屋户型</div>
                <div class="input_address padding">
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingOne"
                    placeholder="室"
                  />
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingTwo"
                    placeholder="厅"
                  />
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingThree"
                    placeholder="卫"
                  />
                </div>
              </div>
              <div class="name_input">
                <div class="name">房屋面积</div>
                <div class="input">
                  <input
                    class="price"
                    type="text"
                    v-model.number="homeAppraisal.houseArea"
                    placeholder="请输入大于0的数字"
                  /><span>平方米</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">建筑年代</div>
                <div class="input">
                  <input
                    class="price"
                    type="text"
                    v-model.number="homeAppraisal.constructionAge"
                    placeholder="请输入房子的建成年代"
                  /><span>年</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">房屋楼层</div>
                <div class="input_address padding">
                  <input
                    class="unit"
                    type="text"
                    v-model.number="homeAppraisal.houseOfFloor"
                    placeholder="层"
                  />
                  <div>
                    <span>共&nbsp;</span>
                    <input
                      class="unit"
                      v-model.number="homeAppraisal.houseFloor"
                      type="text"
                      placeholder="层"
                    />
                  </div>
                </div>
              </div>
              <div class="name_input">
                <div class="name">房屋朝向</div>
                <div class="input padding">
                  <select
                    class="select"
                    name=""
                    id=""
                    @change="selectValue($event)"
                  >
                    <option
                      :value="item.itemValue"
                      v-for="(item, index) in select"
                      :key="index"
                    >
                      {{ item.itemName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="name_input">
                <div class="name">房源特色</div>
                <div class="input padding">
                  <div
                    class="checked"
                    v-for="(item, index) in housingSupply"
                    :key="index"
                  >
                    <input type="checkbox" @click="checked(item)" />
                    <span>{{ item.itemName }}</span>
                  </div>
                </div>
              </div>
              <div class="name_input">
                <div class="name">你的名字</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="homeAppraisal.housePublisherName"
                  placeholder="请输入你的名字"
                />
              </div>
              <div class="name_input">
                <div class="name">手机号码</div>
                <input
                  class="input"
                  type="text"
                  placeholder="请输入你的联系方式"
                  v-model.trim="homeAppraisal.housePhone"
                />
              </div>
              <button class="submit" @click="evaluation">确认发布</button>
              <p class="explain">
                您点击“确认发布”后，若房源通过初步审核，将会由二九房产网上的经纪人和您取得联系，并对您的房源进行再次核实，核实无误后将与您建立服务关系。二九房产网仅提供信息展示和网络技术服务。
              </p>
            </div>
          </div>
        </div>
        <!-- 委托租房 -->
        <div v-show="isShow == 2">
          <div class="public">
            <div class="title">发布出租房源</div>
            <p class="text">可靠线下门店 · 快速全城推广 · 专业经纪人服务</p>
          </div>
          <div class="listing width">
            <div class="listing_right">
              <div class="name_input">
                <div class="name">房屋所在的城市</div>
                <div class="input">
                  <span>{{ form.city }}</span
                  ><span class="tab_text" @click="tabCity">切换城市</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">小区名称</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="form.communityName"
                  placeholder="请输入小区名称"
                />
              </div>
              <div class="name_input">
                <div class="name">房屋地址</div>
                <div class="input_address padding">
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingOne"
                    placeholder="楼栋号"
                  />
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingTwo"
                    placeholder="楼栋号"
                  />
                  <input
                    class="unit"
                    type="text"
                    v-model.trim="buildingThree"
                    placeholder="楼栋号"
                  />
                </div>
              </div>
              <div class="name_input">
                <div class="name">期望租价</div>
                <div class="input">
                  <input
                    class="price"
                    type="text"
                    v-model.number="form.expectedPrice"
                    placeholder="请输入希望房屋出租的价钱"
                  /><span>元 / 月</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">出租方式</div>
                <div class="input padding">
                  <!--      v-model.number="form.expectedPrice" -->
                  <select class="select" name="整租" id="整租">
                    <option value="1">整租</option>
                  </select>
                </div>
              </div>
              <div class="name_input">
                <div class="name">你的名字</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="form.housePublisherName"
                  placeholder="请输入你的名字"
                />
              </div>
              <div class="name_input">
                <div class="name">手机号码</div>
                <input
                  class="input"
                  type="text"
                  placeholder="请输入你的联系方式"
                  v-model.trim="form.housePhone"
                />
              </div>
              <div class="name_input">
                <div class="name">验证号码</div>
                <div class="input">
                  <input
                    class="code"
                    type="text"
                    v-model.trim="form.phoneCode"
                    placeholder="请输入验证码"
                  />
                  <div class="code_but" v-show="!show">
                    {{ count }}s重新获取
                  </div>
                  <button class="code_but" v-show="show" @click="getCode(1)">
                    获取验证码
                  </button>
                </div>
              </div>
              <button class="submit" @click="submit(1)">确认发布</button>
              <p class="explain">
                您点击“确认发布”后，若房源通过初步审核，将会由二九房产网上的经纪人和您取得联系，并对您的房源进行再次核实，核实无误后将与您建立服务关系。二九房产网仅提供信息展示和网络技术服务。
              </p>
            </div>
          </div>
        </div>
        <!-- 发布求购 -->
        <div v-show="isShow == 3">
          <div class="public">
            <div class="title">发布求购房源</div>
            <p class="text">海量大数据快速匹配您需要的房源</p>
          </div>
          <div class="listing width">
            <div class="listing_right">
              <div class="name_input">
                <div class="name">目标城市</div>
                <div class="input">
                  <span>{{ form.city }}</span
                  ><span class="tab_text" @click="tabCity">切换城市</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">期望城区</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="purchase.community"
                  placeholder="请输入您期望的城区"
                />
              </div>
              <div class="name_input">
                <div class="name">期望小区</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="purchase.communityName"
                  placeholder="请输入您期望的小区"
                />
              </div>
              <div class="name_input">
                <div class="name">求购形式</div>
                <div class="input" @click="selectShow">
                  <span>{{ rent || "请选择" }}</span>
                  <img
                    src="../../assets/img/ershoufang/arrow_bottom.png"
                    alt=""
                  />
                </div>
              </div>
              <transition name="draw">
                <div class="name_input margin" v-show="downShow">
                  <div class="name" style="visibility: hidden">求购形式</div>
                  <ul class="select_ul">
                    <li
                      class="select_li"
                      v-for="(item, index) in askingList"
                      :key="index"
                      @click="asking(item)"
                    >
                      {{ item.title }}
                    </li>
                  </ul>
                </div>
              </transition>

              <div class="name_input">
                <div class="name">期望价格</div>
                <div class="input">
                  <input
                    class="price"
                    type="text"
                    v-model.number="purchase.expectedPrice"
                  /><span>{{ company }}</span>
                </div>
              </div>
              <div class="name_input">
                <div class="name">你的名字</div>
                <input
                  class="input"
                  type="text"
                  v-model.trim="purchase.housePublisherName"
                  placeholder="请输入你的名字"
                />
              </div>
              <div class="name_input">
                <div class="name">手机号码</div>
                <input
                  class="input"
                  type="text"
                  placeholder="请输入你的联系方式"
                  v-model.trim="purchase.housePhone"
                />
              </div>
              <div class="name_input">
                <div class="name">验证号码</div>
                <div class="input">
                  <input
                    class="code"
                    type="text"
                    v-model.trim="purchase.phoneCode"
                    placeholder="请输入验证码"
                  />
                  <div class="code_but" v-show="!show">
                    {{ count }}s重新获取
                  </div>
                  <button class="code_but" v-show="show" @click="getCode(3)">
                    获取验证码
                  </button>
                </div>
              </div>
              <button class="submit" @click="purchaseHouse">立即求购</button>
              <!-- <p class="explain">
                您点击“确认发布”后，若房源通过初步审核，将会由二九房产网上的经纪人和您取得联系，并对您的房源进行再次核实，核实无误后将与您建立服务关系。二九房产网仅提供信息展示和网络技术服务。
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import { Message } from "element-ui";
import {
  addRenting,
  code,
  dictionaryQuery,
  addAppraisal,
} from "../../assets/utils/api";
export default {
  name: "newHouseTab",
  components: {
    Header,
    Bootm,
  },
  data() {
    return {
      /**用户信息 */
      user: {},
      form: {
        /**用户Id */
        customerId: "",
        /**出租:1,买房:2*/
        houseType: "1",
        /** 房屋地址*/
        houseArea: "",
        /**期望租价 */
        expectedPrice: 0,
        /**出租方式 1:整租 */
        rentalMethod: "1",
        housePublisherName: "",
        communityName: "",
        housePhone: "",
        city: "",
        cityId: 0,
      },
      /**房屋估价 */
      homeAppraisal: { propertyFeatures: "" },
      /**发布求购 */
      purchase: {},
      buildingOne: "",
      buildingTwo: "",
      buildingThree: "",
      /**房源特色 */
      housingSupply: [
        { value: 1, name: "满五年" },
        { value: 2, name: "精装修" },
        { value: 3, name: "地铁房" },
        { value: 4, name: "学区房" },
      ],
      /**已勾选中的数组 */
      housingSupplyList: [],
      /**切换头部样式 */
      menu: [
        { title: "我要卖房" },
        { title: "房屋估价" },
        { title: "委托租房" },
        { title: "发布求购" },
      ],
      /**标题样式 */
      houseIndex: 0,
      isShow: 0,
      /** 我要卖房*/
      process: [
        {
          name: "发布房源",
          img: require("../../assets/img/ovner/1.png"),
          icon: require("../../assets/img/ovner/icon1.png"),
          describe: "在线上免费发布房源",
        },
        {
          name: "核对房源",
          img: require("../../assets/img/ovner/2.png"),
          icon: require("../../assets/img/ovner/icon2.png"),
          describe: "30分钟内经纪人联系",
        },
        {
          name: "在线销售",
          img: require("../../assets/img/ovner/3.png"),
          icon: require("../../assets/img/ovner/icon3.png"),
          describe: "在二九房产线上线下双销售",
        },
        {
          name: "签约出售",
          img: require("../../assets/img/ovner/4.png"),
          icon: require("../../assets/img/ovner/icon4.png"),
          describe: "签约过户全程专业服务",
        },
      ],
      listing: [
        {
          title: "红岭花园三期 - 三室两厅/125.34m²",
          time: "2020 - 10 - 6",
          money: 350,
        },
        {
          title: "红岭花园三期 - 三室两厅/125.34m²",
          time: "2020 - 10 - 6",
          money: 350,
        },
        {
          title: "红岭花园三期 - 三室两厅/125.34m²",
          time: "2020 - 10 - 6",
          money: 350,
        },
      ],
      /**房屋朝向 */
      select: [],
      count: "",
      timer: null,
      timeCount: 60,
      show: true,
      /**求租/求售 */
      rent: null,
      /**单位 */
      company: "元 / 月",
      /**下拉显示/隐藏 */
      downShow: false,
      /**求租/求售 列表*/
      askingList: [
        { title: "求租", houseType: "3", company: "元 / 月" },
        { title: "求售", houseType: "4", company: "万" },
      ],
    };
  },
  watch: {
    /**深度监听登录信息状态 */
    form: {
      handler() {
        let userMassge = sessionStorage.getItem("userMassge");
        if (userMassge) {
          this.user = JSON.parse(userMassge);
          this.form.customerId = this.user.id;
          this.homeAppraisal.customerId = this.user.id;
          this.purchase.customerId = this.user.id;
        }
      },
      deep: true,
    },
  },

  created() {
    let userMassge = sessionStorage.getItem("userMassge");
    this.form.city = sessionStorage.getItem("cityRouteName");
    this.homeAppraisal.city = this.form.city;
    this.purchase.city = this.form.city;
    if (userMassge) {
      this.user = JSON.parse(userMassge);
      this.form.customerId = this.user.id;
      this.homeAppraisal.customerId = this.user.id;
    }
    this.dictionaries();
    this.dictionariesHousingSupply();
  },

  methods: {
    /**控制房子排序样式的方法 */
    houseSort(index) {
      this.houseIndex = index;
      this.isShow = index;
    },
    /**切换城市 */
    tabCity() {
      /**调用头部弹框组件 */
      this.$refs.tabCityBus.getOring();
    },
    /**添加租房 */
    submit(meat) {
      if (!this.user.id) {
        this.$store.commit("loginPop", true);
        Message({
          showClose: true,
          message: "您还未登录，请先登录！",
          type: "error",
        });
        return false;
      }
      this.form.houseType = meat;
      this.form.houseArea =
        this.buildingOne + "-" + this.buildingTwo + "-" + this.buildingThree;
      let boole = this.blankForm(meat);
      if (!boole) return false;
      let phone = this.validatePhone(this.form);
      if (!phone) return false;
      if (
        this.form.phoneCode === undefined ||
        this.form.phoneCode === null ||
        this.form.phoneCode === ""
      ) {
        Message({
          showClose: true,
          message: "验证码不能为空",
          type: "error",
        });
        return false;
      }
      // 删除不需要的属性
      delete this.form.phoneCode;
      addRenting(this.form).then((res) => {
        if (res.code == 1) {
          /**将数据清空 */
          Object.keys(this.form).forEach((key) => {
            this.form[key] = "";
          });
          this.buildingOne = "";
          this.buildingTwo = "";
          this.buildingThree = "";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**添加估房 */
    evaluation() {
      let boole = this.blankForm(3);
      if (!boole) return false;
      this.homeAppraisal.houseUnitType =
        this.buildingOne +
        "室-" +
        this.buildingTwo +
        "厅-" +
        this.buildingThree +
        "卫";
      /**循环拼接字符串 */
      for (let item of this.housingSupplyList) {
        this.homeAppraisal.propertyFeatures += item.itemValue;
      }
      console.log(this.homeAppraisal.propertyFeatures);
      addAppraisal(this.homeAppraisal).then((res) => {
        if (res.code == 1) {
          /**将数据清空 */
          Object.keys(this.homeAppraisal).forEach((key) => {
            this.homeAppraisal[key] = "";
          });
          this.buildingOne = "";
          this.buildingTwo = "";
          this.buildingThree = "";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**求购租房/售房 */
    purchaseHouse() {
      if (!this.user.id) {
        this.$store.commit("loginPop", true);
        Message({
          showClose: true,
          message: "您还未登录，请先登录！",
          type: "error",
        });
        return false;
      }
      let bool = this.validatePhone(this.purchase);
      if (!bool) return false;
      if (
        this.purchase.phoneCode === undefined ||
        this.purchase.phoneCode === null ||
        this.purchase.phoneCode === ""
      ) {
        Message({
          showClose: true,
          message: "验证码不能为空",
          type: "error",
        });
        return false;
      }
      console.log(this.purchase);
      // 删除不需要的属性
      delete this.purchase.phoneCode;
      delete this.purchase.community;
      addRenting(this.purchase).then((res) => {
        if (res.code == 1) {
          /**将数据清空 */
          Object.keys(this.purchase).forEach((key) => {
            this.purchase[key] = "";
          });

          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**获取验证码 */
    getCode(e) {
      let obj;
      if (e === 3) {
        let bool = this.validatePhone(this.purchase);
        if (!bool) return false;
        obj = {
          phone: this.purchase.housePhone,
          status: "2",
        };
      } else {
        let bool = this.validatePhone(this.form);
        if (!bool) return false;
        obj = {
          phone: this.form.housePhone
            ? this.form.housePhone
            : this.homeAppraisal.housePhone,
          status: "2",
        };
      }
      this.time();
      code(obj).then((res) => {
        if (res.code == 1) {
          this.form.phoneCode = res.data;
          this.code = res.data;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /***验证手机号 */
    validatePhone(obj) {
      let bool = false;
      let reg = /^1[0-9]{10}$/;
      if (reg.test(obj.housePhone) == false) {
        Message({
          showClose: true,
          message: "请输入正确的手机号！",
          type: "error",
        });
      } else {
        bool = true;
      }
      return bool;
    },

    /**倒计时方法 */
    time() {
      /**倒计时 */
      if (!this.timer) {
        this.count = this.timeCount;
        this.show = false;
        this.timer = setInterval(() => {
          if (this.count > 0 && this.count <= this.timeCount) {
            this.count--;
          } else {
            this.show = true;
            clearInterval(this.timer);
            this.timer = null;
          }
        }, 1000);
      }
    },
    /**搜索地域 */
    citySearch(data) {
      this.form.city = data.name;
      this.form.cityId = data.id;
      this.homeAppraisal.city = data.name;
      this.homeAppraisal.cityId = data.id;
    },
    /**调用字典接口 */
    dictionaries() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "second_hand_house",
        };
        dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.select = res.data.list[4].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**查询房源特色字典 */
    dictionariesHousingSupply() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "owner",
        };
        dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.housingSupply = res.data.list[0].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**朝向选中 */
    selectValue(event) {
      // 房屋朝向 1东 2南 3西 4北 5南北 其他0
      console.log(event.target.value);
      this.homeAppraisal.houseOrientation = event.target.value;
    },
    /**表单的判空 */
    blankForm(e) {
      if (e == 2 || e == 1) {
        let boole = false;
        if (this.form.communityName == "") {
          Message({
            showClose: true,
            message: "小区名称不能为空",
            type: "error",
          });
        } else if (this.form.expectedPrice == 0) {
          console.log(this.form.houseType);
          if (this.form.houseType == "1") {
            Message({
              showClose: true,
              message: "期望租价不能为空",
              type: "error",
            });
          } else {
            Message({
              showClose: true,
              message: "期望售价不能为空",
              type: "error",
            });
          }
        } else if (this.form.housePublisherName == "") {
          Message({
            showClose: true,
            message: "姓名不能为空",
            type: "error",
          });
        } else {
          boole = true;
        }
        return boole;
      } else {
        let booles = false;
        if (this.homeAppraisal.communityName == "") {
          Message({
            showClose: true,
            message: "小区名称不能为空",
            type: "error",
          });
        } else if (!this.homeAppraisal.houseArea) {
          Message({
            showClose: true,
            message: "房屋面积不能为空",
            type: "error",
          });
        } else if (!this.homeAppraisal.constructionAge) {
          Message({
            showClose: true,
            message: "建筑年代不能为空",
            type: "error",
          });
        } else if (!this.homeAppraisal.houseOfFloor) {
          Message({
            showClose: true,
            message: "房屋楼层不能为空",
            type: "error",
          });
        } else if (!this.homeAppraisal.houseFloor) {
          Message({
            showClose: true,
            message: "房屋总楼层不能为空",
            type: "error",
          });
        } else {
          booles = true;
        }
        return booles;
      }
    },
    /**处理勾选中的房源特色 */
    checked(item) {
      if (event.target.checked === true) {
        this.housingSupplyList.push(item);
      } else {
        for (let i = 0; i < this.housingSupplyList.length; i++) {
          if (this.housingSupplyList[i].id == item.id) {
            this.housingSupplyList.splice(i, 1);
          }
        }
      }
    },
    /**求租/求售下拉框显示/隐藏  */
    selectShow() {
      this.downShow != this.downShow;
      if (this.downShow) {
        this.downShow = false;
      } else {
        this.downShow = true;
      }
    },
    /**选择求租/求售 */
    asking(item) {
      this.downShow = false;
      this.rent = item.title;
      this.company = item.company;
      this.purchase.houseType = item.houseType;
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  overflow: hidden;
  header {
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .content {
    min-height: 600px;
    margin-bottom: 93px;
    /**公共样式 */
    .active {
      color: #34b38a;
    }
    .banner {
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      color: #333333;
      .compare {
        font-size: 12px;
        color: #787878;
        margin-top: 48px;
        text-align: left;
      }
      .tab {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        color: #9e9e9e;
        font-weight: bold;
        margin-top: 54px;
        .tab_li {
          margin-right: 59px;
        }
      }
      /**我要买房模块 */
      .public {
        padding-bottom: 41px;
        border-bottom: 1px solid #d6d6d6;
        .title {
          font-size: 36px;
          font-weight: bold;
          margin-top: 30px;
        }
        .text {
          margin-top: 16px;
          font-size: 14px;
        }
      }
      .listing {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        margin-top: 36px;
        .listing_right {
          width: 620px;
          color: #333333;
          font-size: 14px;
          .name_input {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 36px;
            .input,
            .input_address {
              flex: 4;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: 1px solid #cacaca;
              height: 45px;
              padding: 0 20px;
            }
            .checked {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              span {
                font-size: 14px;
                color: #7c7c7c;
                margin-left: 14px;
              }
            }
            .price {
              border: 0;
              margin-top: 0;
            }
            .green {
              color: #34b38a;
            }
            .name {
              text-align: left;
              flex: 1;
              font-weight: 400;
            }
            .tab_text {
              color: #34b38a;
            }
            .name {
              text-align: left;
              flex: 1;
              font-weight: 400;
            }
            .padding {
              border: 0;
              padding: 0 !important;
            }
            .unit {
              padding: 0;
              width: 160px;
              height: 45px;
              border: 1px solid #cacaca;
              text-align: center;
              &:last-child {
                margin: 0;
              }
            }
            .code {
              border: 0;
              width: 229px;
            }
            .code_but {
              width: 158px;
              height: 20px;
              border-left: 1px solid #cacaca;
              color: #7a7a7a;
              background-color: #fff;
            }
            .select {
              width: 186px;
              height: 45px;
              border: 1px solid #cacaca;
              outline: none;
              color: #7a7a7a;
            }
          }

          .submit {
            height: 50px;
            width: 100%;
            margin-top: 36px;
            font-size: 16px;
            font-weight: bold;
          }
          .explain {
            color: #bbbbbb;
            font-size: 14px;
            text-align: left;
            margin-top: 33px;
          }
        }
        .listing_left {
          margin-left: 108px;
          flex: 1;
          .title_text {
            padding: 24px 30px;
            height: 110px;
            background: #444444;
            box-shadow: 0px 0px 13px 0px rgba(34, 23, 20, 0.19);
            margin-top: 36px;
            box-sizing: border-box;
            text-align: left;
            .titles {
              font-size: 14px;
              color: white;
            }
            .area {
              font-size: 20px;
              margin-top: 18px;
              font-weight: bold;
              color: #ffffff;
            }
          }
          .list {
            background: #f9f9f9;
            box-shadow: 0px 0px 13px 0px rgba(34, 23, 20, 0.19);
            padding: 24px 30px;
            box-sizing: border-box;
            .list_li {
              text-align: left;
              margin-top: 19px;
              &:first-child {
                margin: 0;
              }
              .list_title {
                font-size: 14px;
                font-weight: bold;
                color: #333333;
              }
              .time_money {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 8px;
                border-bottom: 1px solid #ababab;
                padding-bottom: 19px;
                .tiem {
                  font-size: 12px;
                  font-weight: 400;
                  color: #4d4d4d;
                }
                .money {
                  font-size: 16px;
                  font-weight: bold;
                  color: #c51d1d;
                }
              }
            }
          }
        }
      }
      .width {
        width: 620px;
        margin: 0 auto;
      }
      .selling {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        .line {
          flex: 1;
          height: 1px;
          background-color: #c7c9bc;
        }
        .selling_title {
          font-size: 16px;
          font-weight: bold;
          color: #4c4c4c;
          margin: 0 20px;
        }
      }
      .process_ul {
        margin-top: 47px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .process_li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 130px;
          &:last-child {
            margin-right: 0;
          }
          .icon_list {
            margin-left: 20px;
            .icon_name {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .icon {
                width: 24px;
                height: 22px;
                margin-left: 5px;
              }
            }
            .describe {
              font-size: 14px;
              font-weight: 400;
              color: #959595;
              margin-top: 17px;
            }
          }
        }
      }
      .margin {
        margin-top: 0 !important;
        position: relative;
      }
      .select_ul {
        width: 506px;
        height: 100px !important;
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 999;
        background-color: #fff;
        .select_li {
          width: 100%;
          line-height: 47px;
          height: 47px;
          border: 1px solid #cacaca;
          border-top: 0;
        }
        .select_li:hover {
          background-color: #34b38a;
        }
      }
    }
  }
  /**下拉框动画 */
  .draw-enter-active,
  .draw-leave-active {
    transition: max-height 0.5s linear;
  }
  .draw-enter,
  .draw-leave-to {
    transition: all 0.2s ease;
    height: 0;
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
}
</style>