<template>
  <div class="popup" v-show="wxShow">
    <!-- 遮罩层 -->
    <div class="mask"></div>
    <!-- 第三方登录弹框 -->
    <div class="form">
      <div>
        <div class="close_img" @click="close">
          <img class="img" src="../../assets/img/index/close.png" alt="" />
        </div>
        <div class="title">
          <p class="title_t">微信绑定</p>
        </div>
        <div class="tabLogin">
          <div class="passwordLogin">
            <input
              class="input"
              type="text"
              v-model.trim="form.phone"
              autocomplete="off"
              name="phone"
              placeholder="手机号码"
            />
            <div class="input_img">
              <input
                class="input"
                type="text"
                v-model.trim="form.phoneCode"
                autocomplete="off"
                name="name"
                placeholder="验证码"
              />
              <div
                class="but"
                :class="show === false ? 'color' : ''"
                v-show="!show"
              >
                {{ count }}s重新获取
              </div>
              <div class="but" @click="getCode(3)" v-show="show">
                获取验证码
              </div>
            </div>
            <!-- <div class="input_img">
              <input
                class="input"
                type="password"
                v-model.trim="loginPwd"
                 autocomplete="off"
                  name="test" 
                placeholder="密码"
              />
              <img class="img" src="../../assets/img/index/eye.png" alt="" />
            </div> -->
            <button class="submits" @click="loginBind()">立即绑定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { code, bindThird } from "../../assets/utils/api.js";
import { Message } from "element-ui";
export default {
  props: {
    wxShow: {
      type: Boolean,
      default: false,
    },
    binState: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      show: true,
      count: "",
      timer: null,
      timeCount: 60,
      form: {},

      //   loginPwd: "",
      userMassge: {},
      /**第三方类型 */
      source: "",
      wxcode: "",
      wxstate: "",
    };
  },

  created() {
    /**判断第三方登录有无绑定手机号 */
    let userMassge = sessionStorage.getItem("userMassge");
    this.source = localStorage.getItem("source");
    this.wxcode = sessionStorage.getItem("code");
    this.wxstate = sessionStorage.getItem("state");
    if (userMassge) {
      this.userMassge = JSON.parse(userMassge);
    }
  },
  methods: {
    /**调用微信登录 */
    loginBind() {
      //   this.userMassge.thirdId
      this.form.thirdId = this.userMassge.thirdId;
      this.form.source = this.source;
      //   this.form.pwd = this.loginPwd;
      this.form.customerId = 0;
      //   this.form.callback = {
      //     code: this.wxcode,
      //     state: this.wxstate,
      //   };
      let reg = /^1[0-9]{10}$/;
      if (reg.test(this.form.phone) == false) {
        Message({
          showClose: true,
          message: "请输入正确的手机号！",
          type: "error",
        });
        return false;
      } else if (
        this.form.phoneCode == undefined ||
        this.form.phoneCode == null ||
        this.form.phoneCode == ""
      ) {
        Message({
          showClose: true,
          message: "验证码不能为空",
          type: "error",
        });
        return false;
      }
        /**判断是扫码绑定还是点击个人中心绑定 */
      if (this.binState == "bindwx") {
        let userMassge = sessionStorage.getItem("userMassge");
        userMassge = JSON.parse(userMassge);
        this.form.customerId = userMassge.id;
        // this.form.callback = {
        //   code: this.wxcode,
        //   state: this.wxstate,
        // };
      }
      bindThird(this.form).then((res) => {
        if (res.code == 1) {
            // sessionStorage.setItem('');
          localStorage.setItem("wxPop", false);
          this.wxPop=false;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
        console.log(res);
      });
    },
    /**获取验证码 */
    getCode() {
      let bool = this.validatePhone(this.form);
      if (!bool) return false;
      this.time();
      /**1登录，2注册 */
      let obj = {
        phone: this.form.phone,
        status: 2,
      };
      code(obj).then((res) => {
        if (res.code == 1) {
          this.form.phoneCode = res.data;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /***验证手机号 */
    validatePhone(obj) {
      let bool = false;
      let reg = /^1[0-9]{10}$/;
      if (reg.test(obj.phone) == false) {
        Message({
          showClose: true,
          message: "请输入正确的手机号！",
          type: "error",
        });
      } else {
        bool = true;
      }
      return bool;
    },
    /**验证密码 */
    validatePassword() {
      let bool = false;
      if (
        this.loginPwd == undefined ||
        this.loginPwd == null ||
        this.loginPwd == ""
      ) {
        Message({
          showClose: true,
          message: "密码不能为空",
          type: "error",
        });
      } else {
        bool = true;
      }
      return bool;
    },
    /**验证验证码 */
    validatePhoneCode(obj) {
      console.log(obj);
      let bool = false;
      if (
        obj.phoneCode == undefined ||
        obj.phoneCode == null ||
        obj.phoneCode == ""
      ) {
        Message({
          showClose: true,
          message: "验证码不能为空",
          type: "error",
        });
      }
      return bool;
    },
    /**倒计时方法 */
    time() {
      /**倒计时 */
      if (!this.timer) {
        this.count = this.timeCount;
        this.show = false;
        this.timer = setInterval(() => {
          if (this.count > 0 && this.count <= this.timeCount) {
            this.count--;
          } else {
            this.show = true;
            clearInterval(this.timer);
            this.timer = null;
          }
        }, 1000);
      }
    },
    /**关闭弹框 */
    close() {
      this.$emit("change-event", false);
      /**将数据清空 */
      Object.keys(this.form).forEach((key) => {
        this.form[key] = "";
      });
    },
  },
};
</script>

<style scoped lang="scss">
.popup {
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.75;
    z-index: 10;
  }
  .form {
    width: 480px;
    position: fixed;
    top: 200px;
    left: 40%;
    background-color: #fff;
    z-index: 99;
    padding: 60px 60px 42px;
    box-sizing: border-box;
    .close_img {
      position: absolute;
      top: -30px;
      right: -30px;
      .img {
        width: 22px;
        height: 22px;
      }
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      color: #222;
      text-align: center;
      .title_t {
        font-size: 16px;
        color: #999;
        margin-top: 20px;
        font-weight: 400;
      }
    }
    .tabLogin {
      margin-top: 39px;
      .active {
        border-bottom: 2px solid #222222;
        border-radius: 1px;
      }
      .color {
        color: #999 !important;
      }
      .tab_login_title {
        font-size: 16px;
        color: #222;
        border-bottom: 1px solid #cccccc;

        span {
          width: 50%;
          display: inline-block;
          text-align: center;
          height: 38px;
        }
      }

      .passwordLogin,
      .smsLogin {
        .input {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #cccccc;
          margin-top: 44px;
          height: 20px;
        }
        .input_img {
          position: relative;
          .img {
            position: absolute;
            top: 40px;
            right: 0;
            width: 20px;
            height: 14px;
          }

          .but {
            position: absolute;
            top: 45px;
            right: 0;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            font-size: 12px;
            color: #34b38a;
            white-space: nowrap;
          }
        }
        .forgetPassword {
          font-size: 14px;
          color: #999;
          margin-top: 12px;
          text-align: right;
        }
        .wei_xin_login {
          width: 40px;
          height: 40px;
          margin-top: 30px;
          margin-left: 46%;
        }
        .submits {
          width: 100%;
          height: 40px;
          border-radius: 20px;
          // background: #cccccc;
          background: #34b38a;
          font-weight: 400;
          margin-top: 40px;
        }
        .register {
          text-align: center;
          margin-top: 21px;
          .texts {
            color: #999999;
          }
        }
        .reputationCheckbox {
          display: flex;
          justify-content: flex-start;
          align-items: top;
          color: #999999;
          font-size: 14px;
          margin-top: 10px;
          .reputation_text {
            color: #34b38a;
          }
        }
      }
    }
  }
}
</style>