<template>
  <div id="app">
    <router-view> </router-view>
    <!-- 登录 -->
    <LoginPop :isShow="this.$store.state.loginShow"></LoginPop>
  </div>
</template>

<script>
import LoginPop from "./components/loding/LoginPop";

export default {
  name: "App",
  components: {
    LoginPop,
  },
  data() {
    return {
      boole: false
    };
  },

  created() {
   
    this.$router.beforeEach((to, from, next) => {
      // 捕获路由的id，进行头部样式改变
      let obj = {
        id: to.params.id,
        status: 1,
      };
      this.$store.commit("sytleFun", to.params.id);
      if (to.name === "首页" || Object.keys(this.$route.params).length != 0) {
        this.$store.commit("state", 0);
      } else {
        this.$store.commit("state", 1);
      }
      next();
    });
  },
  methods: {

  },
};
</script>

<style lang="scss">
html,
body,
ul,
li,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
input {
  outline: none;
}
button {
  font-weight: bold;
  color: #ffffff;
  border: 0;
  background-color: #34b38a;
  outline: none;
}
.content {
  .banner {
    width: 1200px;
    margin: 0 auto;
  }
}
.root {
  overflow: hidden;
  header {
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
}
.temp {
  /deep/ .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #34b38a;
    color: #454545;
  }
  /deep/ .el-pagination.is-background .el-pager li {
    background-color: #bfbfbf;
  }
}
</style>
