<template>
  <div class="popup" v-show="isShow">
    <!-- 遮罩层 -->
    <div class="mask"></div>
    <!-- 注册 -->
    <div
      class="form"
      v-show="registersData != '' ? true : state === 3 && state != 5"
    >
      <div>
        <div class="close_img" @click="close">
          <img class="img" src="../../assets/img/index/close.png" alt="" />
        </div>
        <div class="title" v-show="state != 4">
          <p>欢迎来到二九房产网</p>
          <p class="title_t">首先，创建一个自己的账号吧</p>
        </div>
        <div class="tabLogin">
          <div class="passwordLogin">
            <input
              class="input"
              type="text"
              v-model.trim="formRegisters.phone"
              autocomplete="off"
              placeholder="手机号码"
            />
            <div class="input_img">
              <input
                class="input"
                type="text"
                v-model.trim="formRegisters.phoneCode"
                autocomplete="off"
                placeholder="验证码"
              />
              <div
                class="but"
                :class="show === false ? 'color' : ''"
                v-show="!show"
              >
                {{ count }}s重新获取
              </div>
              <div class="but" @click="getCode(3)" v-show="show">
                获取验证码
              </div>
            </div>
            <div class="input_img">
              <!-- formRegisters.loginPwd -->
              <input
                class="input"
                type="password"
                v-model.trim="loginPwd"
                autocomplete="off"
                placeholder="密码"
              />
              <img class="img" src="../../assets/img/index/eye.png" alt="" />
            </div>
            <button class="submits" @click="submits(3)">立即注册</button>
            <div class="reputationCheckbox">
              <input type="checkbox" @click="checked()" />
              <div class="reputation">
                <span> 我已仔细阅读并同意 </span>
                <span class="reputation_text"> 《二九房产网隐私政策》 </span>
                <span>及</span>
                <span class="reputation_text"> 《 二九房产网服务协议》 </span>
              </div>
            </div>
            <img
              v-if="state != 5"
              class="wei_xin_login"
              @click="tab(5)"
              src="../../assets/img/index/weixin.png"
              alt=""
            />
            <div class="register" @click="tab(2)" v-show="state == 3">
              <span class="texts">去</span><span> 登录</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form" v-show="state != 3 && state != 5">
      <div class="close_img" @click="close">
        <img class="img" src="../../assets/img/index/close.png" alt="" />
      </div>
      <div v-show="state != 5">
        <div class="title" v-show="state != 4 && state != 3">
          <p>欢迎来到二九房产网</p>
          <p class="title_t">看房子 上二九房产</p>
        </div>
        <div class="tabLogin" v-show="state != 4 && state != 3">
          <div class="tab_login_title">
            <span
              class="text"
              :class="state === 2 ? 'active' : ''"
              @click="tab(2)"
              >密码登录</span
            >
            <span
              class="text"
              :class="state === 1 ? 'active' : ''"
              @click="tab(1)"
              >短信登录</span
            >
          </div>
          <!-- 密码登录 -->
          <div class="passwordLogin" v-show="state === 2">
            <input
              class="input"
              type="text"
              v-model.trim="form.phone"
              placeholder="手机号码"
              autocomplete="off"
            />
            <div class="input_img">
              <!-- form.loginPwd -->
              <input
                class="input"
                type="password"
                v-model.trim="loginPwd"
                autocomplete="off"
                placeholder="密码"
              />
              <img class="img" src="../../assets/img/index/eye.png" alt="" />
            </div>
            <p class="forgetPassword" @click="tab(4)">忘记密码？</p>
            <button class="submits" @click="submits(2)">立即登录</button>
            <img
              class="wei_xin_login"
              @click="tab(5)"
              src="../../assets/img/index/weixin.png"
              alt=""
            />
            <div class="register" @click="tab(3)">
              <span class="texts">去</span><span> 注册</span>
            </div>
          </div>
          <!-- 短信登录 -->
          <div class="smsLogin" v-show="state === 1">
            <input
              class="input"
              type="text"
              v-model.trim="form.phone"
              autocomplete="off"
              placeholder="手机号码"
            />
            <div class="input_img">
              <input
                class="input"
                type="text"
                v-model.trim="form.phoneCode"
                autocomplete="off"
                placeholder="验证码"
              />
              <div
                class="but"
                :class="show === false ? 'color' : ''"
                v-show="!show"
              >
                {{ count }}s重新获取
              </div>
              <div class="but" @click="getCode(1)" v-show="show">
                获取验证码
              </div>
            </div>
            <button class="submits" @click="submits(1)">立即登录</button>
            <img
              class="wei_xin_login"
              @click="tab(5)"
              src="../../assets/img/index/weixin.png"
              alt=""
            />
            <div class="register" @click="tab(3)">
              <span class="texts">去</span><span> 注册</span>
            </div>
          </div>
        </div>

        <!-- 忘记密码 -->
        <div class="title" v-show="state === 4">
          <p>忘记密码</p>
          <p class="title_t">请收到短信3分钟内进行填写并进行验证</p>
        </div>
        <div class="tabLogin" v-show="state === 4">
          <div class="passwordLogin">
            <input
              class="input"
              type="text"
              v-model.trim="formRegisters.phone"
              autocomplete="off"
              placeholder="手机号码"
            />
            <div class="input_img">
              <input
                class="input"
                type="text"
                v-model.trim="formRegisters.phoneCode"
                autocomplete="off"
                name="test"
                placeholder="验证码"
              />
              <div
                class="but"
                :class="show === false ? 'color' : ''"
                v-show="!show"
              >
                {{ count }}s重新获取
              </div>
              <div class="but" @click="getCode(4)" v-show="show">
                获取验证码
              </div>
            </div>
            <div class="input_img">
              <!-- formRegisters.loginPwd -->
              <input
                class="input"
                type="password"
                v-model.trim="loginPwd"
                autocomplete="off"
                placeholder="密码"
              />
              <img class="img" src="../../assets/img/index/eye.png" alt="" />
            </div>
            <div class="input_img">
              <input
                class="input"
                type="password"
                v-model.trim="loginPwds"
                autocomplete="off"
                placeholder="确认密码"
              />
              <img class="img" src="../../assets/img/index/eye.png" alt="" />
            </div>
            <button class="submits" @click="submits(4)">重置密码</button>
            <div class="register" @click="tab(2)">
              <span class="texts">去</span><span> 登录</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  login,
  register,
  code,
  forgetPassword,
  codeHtml,
} from "../../assets/utils/api.js";
import { Message } from "element-ui";
export default {
  name: "LoginPop",
  props: {
    isShow: { type: Boolean, default: false },
  },

  data() {
    return {
      //密码登录：2、短信登录：1、忘记密码：4、注册:3
      state: 2,
      form: { loginType: 1 },
      formRegisters: {},
      show: true,
      count: "",
      timer: null,
      timeCount: 60,
      checkbox: false,
      loginPwd: null,
      /**忘记密码 */
      loginPwds: null,
      /**验证码 */
      code: "",
      source:"",
  
    };
  },
  computed: {
    registersData() {
      if (this.$store.state.registersType != "") {
        this.state = 3;
      }
      return this.$store.state.registersType && this.$store.state.registersType;
    },
  },
  created() {
    this.source = localStorage.getItem("source");
  },
  mounted() {},
  methods: {
    //点击登录
    submits(e) {
      if (e == 1 || e == 2) {
        if (e == 1) {
          let bool = this.validatePhone(this.form);
          if (!bool) return false;
          let phoneCode = this.validatePhoneCode(this.form);
          if (!phoneCode) return false;
        } else {
          var bool = this.validatePhone(this.form);
          if (!bool) return bool;
          let password = this.validatePassword(this.form);
          if (!password) return password;
        }
        /**调用短信登录接口 */
        this.logins(e);
      } else if (e == 3) {
        let bool = this.validatePhone(this.formRegisters);
        if (!bool) return false;
        let phoneCode = this.validatePhoneCode(this.formRegisters);
        if (!phoneCode) return false;
        let password = this.validatePassword(this.formRegisters);
        if (!password) return false;
        if (!this.checkbox) {
          Message({
            showClose: true,
            message: "请先选择为同意状态",
            type: "error",
          });
          return false;
        }
        /**调用注册登录 */
        this.registers(e);
      } else if (e === 4) {
        var bool = this.validatePhone(this.formRegisters);
        if (!bool) return bool;
        let phoneCode = this.validatePhoneCode(this.formRegisters);
        if (!phoneCode) return phoneCode;
        let password = this.validateForgetPassword();
        if (!password) return false;
        /**忘记密码 */
        this.forgetPasswordFun();
      }
    },
    /**短信登录/密码登录 */
    logins(e) {
      this.form.loginType = e;
      if (e === 2) {
        /**使用md5加密 */
        this.form.loginPwd = this.$md5(this.loginPwd);
        sessionStorage.setItem("userPw", this.form.loginPwd);
      }
      login(this.form).then((res) => {
        if (res.code === 1) {
          /**将数据存在本地 */
          let userInfo = JSON.stringify(res.data);
          sessionStorage.setItem("userMassge", userInfo);
          /**vuex */
          // this.$store.commit("loginSuccessful",userInfo)
          this.$store.commit("tokenFun", true);
          /**发完请求后将数据清空 */
          Object.keys(this.form).forEach((key) => {
            this.form[key] = "";
          });
          this.loginPwd = null;
          /**关闭弹框 */
          this.$store.commit("loginPop", false);
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**注册 */
    registers() {
      /**使用md5加密 */
      this.formRegisters.loginPwd = this.$md5(this.loginPwd);
      register(this.formRegisters).then((res) => {
        if (res.code == 1) {
          /**注册成功后跳转至登录界面 */
          this.tab(2);
          this.loginPwd = null;
          /**发完请求后将数据清空 */
          Object.keys(this.formRegisters).forEach((key) => {
            this.formRegisters[key] = "";
          });
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**忘记密码 */
    forgetPasswordFun() {
      /**使用md5加密 */
      this.formRegisters.loginPwd = this.$md5(this.loginPwd);
      forgetPassword(this.formRegisters).then((res) => {
        if (res.code == 1) {
          /**忘记成功后跳转至登录界面 */
          this.tab(2);
          this.loginPwd = null;
          this.loginPwds = null;
          /**发完请求后将数据清空 */
          Object.keys(this.formRegisters).forEach((key) => {
            this.formRegisters[key] = "";
          });
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
        console.log(res);
      });
    },
    /**获取验证码 */
    getCode(e) {
      let obj = {};
      if (e == 3 || e == 4) {
        let bool = this.validatePhone(this.formRegisters);
        if (!bool) return false;
        obj.phone = this.formRegisters.phone;
        obj.status = 2;
      } else {
        let bool = this.validatePhone(this.form);
        if (!bool) return false;
        obj.phone = this.form.phone;
        obj.status = 1;
      }
      this.time();
      code(obj).then((res) => {
        if (res.code == 1) {
          this.formRegisters.phoneCode = res.data;
          this.form.phoneCode = res.data;
          this.code = res.data;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },

    /***验证手机号 */
    validatePhone(obj) {
      let bool = false;
      let reg = /^1[0-9]{10}$/;
      if (reg.test(obj.phone) == false) {
        Message({
          showClose: true,
          message: "请输入正确的手机号！",
          type: "error",
        });
      } else {
        bool = true;
      }
      return bool;
    },
    /**忘记密码验证 */
    validateForgetPassword() {
      let boole = false;
      if (this.loginPwd == this.loginPwds) {
        boole = true;
      } else {
        Message({
          showClose: true,
          message: "两次密码不一致哦!",
          type: "error",
        });
      }
      return boole;
    },
    /**验证密码 */
    validatePassword(obj) {
      let bool = false;
      if (this.loginPwd == undefined || this.loginPwd == null) {
        Message({
          showClose: true,
          message: "密码不能为空",
          type: "error",
        });
      } else {
        bool = true;
      }
      return bool;
    },
    /**验证验证码 */
    validatePhoneCode(obj) {
      let codeBool = true;
      if (obj.phoneCode == undefined || obj.phoneCode == null) {
        Message({
          showClose: true,
          message: "验证码不能为空",
          type: "error",
        });
        codeBool = false;
      } 
      return codeBool;
    },
    /**关闭弹框 */
    close() {
      this.state = 2;
      this.$store.commit("registers", {
        states: true,
        registersType: "",
      });
      this.show = true;
      /**将数据清空 */
      Object.keys(this.form).forEach((key) => {
        this.form[key] = "";
      });
      Object.keys(this.formRegisters).forEach((key) => {
        this.formRegisters[key] = "";
      });
      this.$store.commit("loginPop", false);
    },
    /**切换弹框 */
    tab(state) {
      this.state = state;
      if (state == 5) {
        this.source = "wechat_open";
        localStorage.setItem("source", this.source);
        this.wxLogin();
      }
    },
    /**调用微信扫描接口 */
    wxLogin() {
      /**获取当前页面url路径 */
      let str = this.$route.path.split("/");
      let routUrl = "/" + str[1];
      // source: "wechat_open",
      let data = {
        routUrl: "",
      };
      sessionStorage.setItem("data", data);
      /**保存路由 */
      sessionStorage.setItem("routUrl", routUrl);
      let randomValue = this.randomString(
        36,
        "0123456789ABCDEFGabcdefgopqrstuvwxz"
      );
      /**跳转至微信扫码接口 */
      window.location.href = `https://open.weixin.qq.com/connect/qrconnect?appid=wx7b1df836d810048f&redirect_uri=https://29fc.com&response_type=code&scope=snsapi_login&state=${randomValue}#wechat_redirect`;
      // codeHtml(data).then((res) => {
      //   if (res.code == 1) {
      //     location.href = res.data;
      //   } else {
      //     Message({
      //       showClose: true,
      //       message: res.msg,
      //       type: "error",
      //     });
      //   }
      // });
    },
 
    /**生成随机字符串 */
    randomString(len, charSet) {
      charSet =
        charSet ||
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var randomString = "";
      for (var i = 0; i < len; i++) {
        var randomPoz = Math.floor(Math.random() * charSet.length);
        randomString += charSet.substring(randomPoz, randomPoz + 1);
      }
      return randomString;
    },
    /**倒计时方法 */
    time() {
      /**倒计时 */
      if (!this.timer) {
        this.count = this.timeCount;
        this.show = false;
        this.timer = setInterval(() => {
          if (this.count > 0 && this.count <= this.timeCount) {
            this.count--;
          } else {
            this.show = true;
            clearInterval(this.timer);
            this.timer = null;
          }
        }, 1000);
      }
    },
    /**注册判断有无勾选 */
    checked() {
      if (event.target.checked) {
        this.checkbox = true;
      } else {
        this.checkbox = true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.popup {
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.75;
    z-index: 10;
  }
  .form {
    width: 480px;
    position: fixed;
    top: 200px;
    left: 40%;
    background-color: #fff;
    z-index: 99;
    padding: 60px 60px 42px;
    box-sizing: border-box;
    .close_img {
      position: absolute;
      top: -30px;
      right: -30px;
      .img {
        width: 22px;
        height: 22px;
      }
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      color: #222;
      text-align: center;
      .title_t {
        font-size: 16px;
        color: #999;
        margin-top: 20px;
        font-weight: 400;
      }
    }
    .tabLogin {
      margin-top: 39px;
      .active {
        border-bottom: 2px solid #222222;
        border-radius: 1px;
      }
      .color {
        color: #999 !important;
      }
      .tab_login_title {
        font-size: 16px;
        color: #222;
        border-bottom: 1px solid #cccccc;

        span {
          width: 50%;
          display: inline-block;
          text-align: center;
          height: 38px;
        }
      }

      .passwordLogin,
      .smsLogin {
        .input {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #cccccc;
          margin-top: 44px;
          height: 20px;
        }
        .input_img {
          position: relative;
          .img {
            position: absolute;
            top: 40px;
            right: 0;
            width: 20px;
            height: 14px;
          }

          .but {
            position: absolute;
            top: 45px;
            right: 0;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            font-size: 12px;
            color: #34b38a;
            white-space: nowrap;
          }
        }
        .forgetPassword {
          font-size: 14px;
          color: #999;
          margin-top: 12px;
          text-align: right;
        }
        .wei_xin_login {
          width: 40px;
          height: 40px;
          margin-top: 30px;
          margin-left: 46%;
        }
        .submits {
          width: 100%;
          height: 40px;
          border-radius: 20px;
          // background: #cccccc;
          background: #34b38a;
          font-weight: 400;
          margin-top: 40px;
        }
        .register {
          text-align: center;
          margin-top: 21px;
          .texts {
            color: #999999;
          }
        }
        .reputationCheckbox {
          display: flex;
          justify-content: flex-start;
          align-items: top;
          color: #999999;
          font-size: 14px;
          margin-top: 10px;
          .reputation_text {
            color: #34b38a;
          }
        }
      }
    }
  }
}
</style>