<template>
  <div class="temp">
    <ul class="estate_network">
      <li>南昌房产网</li>
      <li>九江房产网</li>
      <li>上饶房产网</li>
      <li>赣州房产网</li>
      <li>吉安房产网</li>
      <li>萍乡房产网</li>
      <li>宜春房产网</li>
      <li>共青城房产网</li>
      <li>鹰潭房产网</li>
      <li>新余房产网</li>
      <li>抚州房产网</li>
      <li>抚州房产网</li>
      <li>抚州房产网</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "EstateNetwork",
};
</script>

<style scoped lang="scss">
.temp {
  .estate_network {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    color: #454545;
    font-size: 14px;
    overflow: hidden;
    li {
      white-space: nowrap;
      margin: 24px 40px 0 0;
    }
  }
}
</style>