<template>
  <div class="temp">
     <a class="link" target="_blank" href="https://www.0797rc.com/">九七人才网</a>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss" >
.link{
  color: #454545;
  text-decoration:none;
}
</style>