<template>
  <div class="root">
    <header>
      <Header></Header>
    </header>
    <div class="center">
      <div class="banner">
        <!-- 搜索框 -->
        <div class="search">
          <div class="name">
            {{ cityName || "暂无数据" }}二九房产网>{{
              cityName || "暂无数据"
            }}二手房>{{ form.yourRegion || "暂无数据" }}二手房>{{
              form.communityName || "暂无数据"
            }}二手房
          </div>
          <div class="input_box">
            <input
              type="text"
              class="input"
              placeholder="请输入关键字进行搜索"
            />
            <button class="button">搜索</button>
          </div>
        </div>
        <!-- 关注房源 -->
        <div class="follow">
          <div class="follow_title">
            <div class="title">
              {{ form.title || "暂无数据" }}
            </div>
            <div class="describe">
              {{ form.titleContent || "暂无数据" }}
            </div>
          </div>
          <button class="but" @click="clickeFollow">
            <img class="img" :src="src" alt="" /><span>{{ text }}</span>
          </button>
        </div>
        <!-- 图片轮播 -->
        <div class="property_details">
          <div class="rotation">
            <div class="rotation_img">
              <Swiper :list="banners"></Swiper>
              <div class="identification">客厅</div>
            </div>
            <div class="next_page"></div>

            <div class="explain">
              <div class="fidelity_text">
                <img
                  class="fidelity"
                  src="../../assets/img/ershoufang/fidelity.png"
                  alt=""
                />
                <div>真实存在，真实在售，真实价格，真实图片，假一赔百元</div>
              </div>
              <span class="report">我要举报</span>
            </div>
            <!-- 房源基本信息 -->
            <div class="information">
              <div class="title">房源基本信息</div>
              <div class="attribute">
                <div class="text">基本属性</div>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text">房屋户型</span>
                    <span class="content">
                      {{ form.houseStructure || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text">所在楼层</span>
                    <span class="content">
                      {{ form.houseFloor || "暂无数据" }} 层</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">建筑面积</span>
                    <span class="content">
                      {{ form.constructionArea || "暂无数据" }}平米</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">户型结构</span>
                    <span class="content">
                      {{ form.houseStructure || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">建筑结构</span>
                    <span class="content">
                      {{ form.buildingStructure || "暂无数据" }}</span
                    >
                  </li>
                </ul>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text">房屋朝向 </span>
                    <span class="content">
                      {{ form.houseOrientation || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">建筑类型 </span>
                    <span class="content">
                      {{ form.buildingType || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">装修情况 </span>
                    <span class="content">
                      {{ form.renovationCondition || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">梯户比例 </span>
                    <span class="content">
                      {{ form.houseHold || "暂无数据" }}</span
                    >
                  </li>
                  <li class="attribute_li">
                    <span class="text">配备电梯</span>
                    <span class="content" v-if="form.elevatorStatus == 1">
                      有</span
                    >
                    <span class="content" v-else> 没有</span>
                  </li>
                </ul>
              </div>
              <div class="attribute">
                <div class="text">交易属性</div>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text"> 挂牌时间 </span>
                    <span class="content">
                      {{ form.listedTime || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 交易属性 </span>
                    <span class="content">
                      {{ form.transactionOwnership || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 上次交易 </span>
                    <span class="content">
                      {{ form.lastTransaction || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 房屋用途 </span>
                    <span class="content">
                      {{ form.housingPurposes || "暂无数据" }}
                    </span>
                  </li>
                </ul>
                <ul class="attribute_ul">
                  <li class="attribute_li">
                    <span class="text"> 房屋年限 </span>
                    <span class="content" v-if="form.houseAge">
                      {{ form.houseAge }}年
                    </span>
                    <span class="content" v-else> 暂无数据 </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 产权所属 </span>
                    <span class="content">
                      {{ form.ownership || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 抵押信息 </span>
                    <span class="content">
                      {{ form.mortgageInformation || "暂无数据" }}
                    </span>
                  </li>
                  <li class="attribute_li">
                    <span class="text"> 房本备件 </span>
                    <span class="content">
                      {{ form.roomBook || "暂无数据" }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <p class="paragraph">
              特别提示：本房源所示信息仅供参考，购房时请以该房屋档案登记信息、产权证信息以及所签订合同条款约定为准；本房源公示信息不做为合同条款，不具有合同约束力。
            </p>
            <!-- 本房源特色 -->
            <div class="supply">
              <div class="title">本房源特色</div>
              <ul class="supply_ul">
                <li class="supply_li">
                  <div class="describe">房源特色</div>
                  <div class="conter">
                    {{ form.propertyFeatures || "暂无数据" }}
                  </div>
                </li>
                <li class="supply_li">
                  <div class="describe">核心卖点</div>
                  <div class="conter">
                    {{ form.coreSellingPoint || "暂无数据" }}
                  </div>
                </li>
                <li class="supply_li">
                  <div class="describe">小区介绍</div>
                  <div class="conter">
                    {{ form.communityIntroduction || "暂无数据" }}
                  </div>
                </li>
                <li class="supply_li">
                  <div class="describe">周边配套</div>
                  <div class="conter">
                    {{ form.peripheralSupporting || "暂无数据" }}
                  </div>
                </li>
              </ul>
            </div>
            <p class="paragraph">
              注：1.房源介绍中的周边配套、在建设施、规划设施、地铁信息、绿化率、得房率、容积率等信息为通过物业介绍、房产证、实勘、政府官网等渠道获取，因时间、政策会发生变化，与实际情况可能略有偏差，房源介绍仅供参考。
              2.房源介绍中与距离相关的数据均来源于百度地图。
              3.土地使用起止年限详见业主土地证明材料或查询相关政府部门的登记文件。
            </p>
            <!-- 经纪人带看反馈 -->
            <div class="feedback" v-if="feedback.length > 0">
              <div class="feedback_title">
                <div class="title">经纪人带看反馈</div>
                <div class="newest_most">
                  <span class="newest">最新</span
                  ><span class="most">带看最多</span>
                </div>
              </div>
              <ul class="feedback_ul">
                <li
                  class="feedback_li flex_start"
                  v-for="(item, index) in feedback"
                  :key="index"
                >
                  <div v-if="item.brokerVO">
                    <img :src="item.brokerVO.imageIcon" alt="" />
                    <div class="feedback_phone">
                      <div class="name_phone flex_space">
                        <div class="name flex_start">
                          <div>{{ item.brokerName }}</div>
                          <div class="erju">
                            {{ item.brokerVO.companyName }}
                          </div>
                        </div>
                        <div class="phone_buts flex_start">
                          <div class="phone">
                            {{ item.brokerVO.brokerPhone }}
                          </div>
                          <div class="buts">
                            <img
                              src="../../assets/img/ershoufang/consulting.png"
                              alt=""
                            />
                            <div class="text">在线咨询</div>
                          </div>
                        </div>
                      </div>
                      <p class="content">
                        {{ item.feedbackContent }}
                      </p>
                      <div class="time_text">
                        <span class="tiem">{{ item.feedbackDate }}</span>
                        <span class="text">{{ item.brokerDirection }}</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 小区简介 -->
            <div class="brief">
              <div class="brief_title">
                <div class="title">小区简介</div>
                <div class="see" v-if="form.communityId" @click="router">查看小区详情>></div>
                <div class="see" v-else>查看小区详情>></div>
              </div>
              <div class="brief_box">
                <img class="brief_img" :src="communityForm.coverImage" alt="" />
                <div class="brief_span">
                  <div class="name_conter">
                    <span class="name">小区均价</span>
                    <span class="red" v-if="communityForm.housePrice"
                      >{{ communityForm.housePrice }}/m²</span
                    >
                    <span class="conter" v-else> 暂无数据</span>
                  </div>
                  <div class="name_conter">
                    <span class="name"> 建筑年代 </span>
                    <span class="conter" v-if="communityForm.buildingAge">
                      {{ communityForm.buildingAge }}年建成
                    </span>
                    <span class="conter" v-else> 暂无数据</span>
                  </div>
                  <div class="name_conter">
                    <span class="name"> 建筑类型 </span>
                    <span class="conter">
                      {{ communityForm.buildingType || "暂无数据" }}</span
                    >
                  </div>
                  <div class="name_conter">
                    <span class="name"> 楼栋总数 </span>
                    <span class="conter" v-if="communityForm.houseTotalNumber">
                      {{ communityForm.houseTotalNumber }}栋
                    </span>
                    <span class="conter" v-else> 暂无数据 </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 参考首付 -->
            <div class="payments">
              <p class="title">参考首付</p>
              <div class="payments_box">
                <div class="payments_left">
                  <div class="calculation">
                    <div class="name">房屋套数</div>
                    <select class="select">
                      <option>首套</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <div class="name">成交价</div>
                    <input class="input" type="text" />
                  </div>
                  <div class="calculation">
                    <div class="name">评估价</div>
                    <input class="input" type="text" />
                  </div>
                  <div class="calculation">
                    <div class="name">贷款类型</div>
                    <select class="select">
                      <option>商业贷款</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <div class="name">贷款比例</div>
                    <select class="select">
                      <option>70%</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <div class="name">商贷年限</div>
                    <select class="select">
                      <option>30年</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <div class="name">商贷利率</div>
                    <select class="select">
                      <option>基准利率(4.9%)</option>
                    </select>
                  </div>
                  <div class="calculation">
                    <button class="button">开始计算</button>
                  </div>
                  <span class="text">
                    本次计算仅作为购房参考，不能作为最终的购房依据。了解更准确的方案，建议
                  </span>
                  <span class="consulting"> 咨询经纪人 </span>
                </div>
                <div class="payments_right">
                  <div class="total">
                    <span class="total_name bold">首付总计</span>
                    <span class="number">37.5万</span>
                  </div>
                  <div class="total">
                    <span class="total_name">净首付</span>
                    <span class="number">37.5万</span>
                  </div>
                  <div class="total">
                    <span class="total_name">税费总计</span>
                    <span class="number green">请咨询经纪人</span>
                  </div>
                  <div class="total">
                    <span class="total_name">月供（等额本息）</span>
                    <span class="number">4700元</span>
                  </div>
                  <div class="total">
                    <span class="total_name">月供（等额本金）</span>
                    <span class="number">5000元</span>
                  </div>
                  <p class="decline">每月递减8.33元</p>
                </div>
              </div>
            </div>
            <!-- 周边配套 -->
            <div class="matching">
              <p class="title">周边配套</p>
              <div
                style="width: 1200px; height: 600px; margin-top: 30px"
                id="container"
              ></div>
            </div>
            <!-- 优质房源 -->
            <div class="quality">
              <p class="title">为你推荐优质房源</p>
              <ul class="quality_ul">
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
                <li class="li">
                  <img
                    class="img"
                    src="../../assets/img/index/house.png"
                    alt=""
                  />
                  <p class="community_name">红谷滩.岭口路盛世经典</p>
                  <div class="metre">
                    <div class="indoor">三室两厅 108.32平米</div>
                    <div class="money">198万</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="introduce">
            <div class="money_square">
              <div class="money">{{ form.housePrice || "0" }}万</div>
              <div class="square">
                <div class="square_m">
                  <span>{{ form.avgPrice || "0" }}</span
                  ><span class="square_y">元/m²</span>
                </div>
                <p class="square_p">首付及税费情况请咨询经纪人</p>
              </div>
              <div class="share">
                <img src="../../assets/img/ershoufang/share.png" alt="" />
                <span>分享此房源</span>
              </div>
            </div>
            <div class="house_type top">
              <div class="type left">
                {{ form.houseUnitType || "暂无数据" }}
              </div>
              <div class="orientation left">
                {{ form.houseOrientation || "暂无数据" }}
              </div>
              <div class="metre left" v-if="form.houseArea">
                {{ form.houseArea }}平米
              </div>
              <div class="metre left" v-else>暂无数据</div>
            </div>
            <div class="house_type">
              <div class="floor left">
                {{ form.houseFloor || "暂无数据" }}
              </div>
              <div class="floor left">
                {{ form.houseStructure }}/{{
                  form.renovationCondition || "暂无数据"
                }}
              </div>
              <div class="floor">{{ form.buildingType || "暂无数据" }}</div>
            </div>
            <div class="must_see">
              <div class="must_text">必看好房</div>
              <div class="text">手续快，诚心卖，放心买</div>
            </div>
            <ul class="detail_ul">
              <li class="detail_li">
                <div class="name">小区名称</div>
                <div class="address">
                  {{ form.communityName || "暂无数据" }}
                </div>
              </li>
              <li class="detail_li">
                <div class="name">所在区域</div>
                <div class="address">{{ form.yourRegion || "暂无数据" }}</div>
              </li>
              <li class="detail_li">
                <div class="name">看房时间</div>
                <div class="address">
                  {{ form.viewTime || "暂无数据" }}看房 看房前请联系经纪人
                </div>
              </li>
              <li class="detail_li">
                <div class="name">房屋编号</div>
                <div class="address">{{ form.houseNumber || "暂无数据" }}</div>
                <span class="text left"> 举报 </span>
              </li>
              <li class="detail_li">
                <div class="name">风险提示</div>
                <div class="text">二九房产用户风险提示</div>
              </li>
            </ul>
            <div class="header_img">
              <img
                class="header"
                src="../../assets/img/ershoufang/header.png"
                alt=""
              />
              <div class="text_img">
                <div class="title_name">
                  <div class="name">帅隆花</div>
                  <div class="but">二九</div>
                </div>
                <div class="describe">我带看该房1次，非常清楚 该房屋特色</div>
              </div>
            </div>
            <!-- 咨询按钮 -->
            <div class="button">
              <button class="but1">4006163287 转 3396</button>
              <button class="but2">
                <img
                  src="../../assets/img/ershoufang/consulting.png"
                  alt=""
                /><span class="text">在线咨询</span>
              </button>
            </div>
            <!-- 联系经济人 -->
            <div class="agent">
              <div class="agent_title">
                <div class="title">联系经纪人</div>
                <div class="agent_img" @click="queryBorker">
                  <img
                    class="img"
                    :class="{ go: rotate, aa: !rotate }"
                    src="../../assets/img/ershoufang/refresh.png"
                    alt=""
                  />
                  <div class="refresh">刷新换一换</div>
                </div>
              </div>
            </div>
            <ul class="agent_ul">
              <li
                class="agent_li"
                v-for="(item, index) in brokerList"
                :key="index"
              >
                <div class="header_img">
                  <img src="../../assets/img/ershoufang/header.png" alt="" />
                  <div class="name_title">
                    <div class="name_but">
                      <div class="title">{{ item.name || "帅隆花" }}</div>
                      <div class="but">{{ item.gongSi || "二九" }}</div>
                    </div>
                    <p class="comments">{{ item.conten || "好评经纪人" }}</p>
                    <p class="phone">{{ item.phone || "40006856转4569" }}</p>
                  </div>
                </div>
                <div class="buts">
                  <img
                    src="../../assets/img/ershoufang/consulting.png"
                    alt=""
                  />
                  <div class="text">在线咨询</div>
                </div>
              </li>
            </ul>
            <button class="buttons">关注房源</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import Swiper from "../../components/Swiper";
import {
  secondHandHouseQueryId,
  addHouseFollow,
  dictionaryQuery,
  deleteByIdsFollow,
  queryHouseFollow,
  addBrowseSecond,
  brokerRecord,
  brokerPage,
  communityQueryId,
} from "../../assets/utils/api.js";
import { Message } from "element-ui";
export default {
  name: "houseDetail",
  components: { Header, Bootm, Swiper },
  data() {
    return {
      /**所属有数据 */
      form: {},
      /**经纪人带看反馈 */
      feedback: [],
      banners: [
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/map.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
        { img: require("../../assets/img/ershoufang/huose_img.png") },
      ],
      /**经济人列表 */
      brokerList: [],
      /**关注 */
      src: require("../../assets/img/ershoufang/follow.png"),
      followState: false,
      text: "关注房源",
      housingSupply: [],
      /**房源id */
      houseId: 0,
      /**用户id */
      customerId: 0,
      /**城市名称 */
      cityName: "",
      /**刷新动画状态 */
      rotate: false,
      /**存储取消关注的id*/
      arrId: 0,
      /**房源户型 */
      typeList: [],
      /**房源朝向 */
      orientationList: [],
      /**装修 */
      decoration: [],
      /**定时器 */
      timer: null,
      /**小区详情 */
      communityForm: {},
    };
  },
  watch: {
    /**深度监听房源id */
    houseId: {
      handler() {
        let id = sessionStorage.getItem("detailsId");
        if (id) {
          let detailsId = JSON.parse(id);
          this.houseId = detailsId;
        }
      },
      deep: true,
    },
  },
  created() {
    let id = sessionStorage.getItem("detailsId");
    this.cityName = sessionStorage.getItem("cityName");
    let userMassge = sessionStorage.getItem("userMassge");
    if (userMassge) {
      userMassge = JSON.parse(userMassge);
      this.customerId = userMassge.id;
    }
    if (id) {
      let detailsId = JSON.parse(id);
      this.houseId = detailsId;
    }
  },
  async mounted() {
    await this.dictionaries();
    await this.serachId();
    this.takeLook();
    this.dictionariesHousingSupply();
    this.queryFollow();
    this.addBrowse();
    clearTimeout(this.timer);
    this.timer = setTimeout(() => {
      if (!this.form.lat || !this.form.lon) {
        this.form.lat = 25.825811;
        this.form.lon = 114.934376;
      }

      this.map();
    }, 1000);
  },

  computed: {},

  methods: {
    /**查询详情 */
    serachId() {
      secondHandHouseQueryId(this.houseId).then((res) => {
        if (res.code == 1) {
          /**房屋户型 */
          if (this.typeList[res.data.houseUnitType]) {
            res.data.houseUnitType = this.typeList[
              res.data.houseUnitType
            ].itemName;
          }
          /**朝向 */
          if (this.orientationList[res.data.houseOrientation]) {
            res.data.houseOrientation = this.orientationList[
              res.data.houseOrientation
            ].itemName;
          }

          /**装修 */
          if (this.decoration[res.data.renovationCondition]) {
            res.data.renovationCondition = this.decoration[
              res.data.renovationCondition
            ].itemName;
          }
          /**用途 */
          if (this.housingPurposes[res.data.housingPurposes]) {
            res.data.housingPurposes = this.housingPurposes[
              res.data.housingPurposes
            ].itemName;
          }
          this.form = res.data;
          /**查询小区详情 */
          this.communityDetail();
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询小区详情 */
    communityDetail() {
      communityQueryId(this.form.communityId).then((res) => {
        if (res.code === 1) {
          this.communityForm = res.data;
        }
      });
    },
    /**跳转至小区详情页 */
    router(){
      sessionStorage.setItem("detailsId",this.form.communityId);
      this.$router.push({name:'quartersDetail'});
    },
    /**点击关注请求按钮 */
    clickeFollow() {
      /**判断用户是否登录 */
      if (this.customerId == 0) {
        this.$store.commit("loginPop", true);
        Message({
          message: "您还未登录，请先登录",
          showClose: true,
          type: "error",
        });
        return false;
      }
      this.followState != this.followState;
      if (this.followState) {
        this.followState = false;
        /**取消关注请求 */
        this.cancelAttention();
      } else {
        /**发送关注请求 */
        this.follow();
        this.followState = true;
      }
    },
    /**查询房源关注字典*/
    dictionariesHousingSupply() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "global",
        };
        dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.housingSupply = res.data.list[0].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**查询二手房字典*/
    async dictionaries() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "second_hand_house",
        };
        await dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            /**户型 */
            this.typeList = res.data.list[0].list;
            /**朝向 */
            this.orientationList = res.data.list[4].list;
            /**装修 */
            this.decoration = res.data.list[6].list;
            /**用途 */
            this.housingPurposes = res.data.list[1].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**关注请求 */
    follow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let obj = {
        customerId: this.customerId,
        houseId: this.houseId,
        houseType: this.housingSupply[1].itemValue,
      };
      addHouseFollow(obj).then((res) => {
        console.log(res);
        if (res.code == 1) {
          this.arrId = res.data.id;
          this.src = require("../../assets/img/publicImg/attention.png");
          this.text = "已关注";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**取消关注 */
    cancelAttention() {
      let arr = [];
      arr.push(this.arrId);
      deleteByIdsFollow(arr).then((res) => {
        if (res.code == 1) {
          this.src = require("../../assets/img/ershoufang/follow.png");
          this.text = "关注房源";
          Message({
            message: res.msg,
            showClose: true,
            type: "success",
          });
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**创建二手房浏览记录 */
    addBrowse() {
      addBrowseSecond({
        secondHandId: this.houseId,
        customerId: this.customerId,
      }).then((res) => {
        if (res.code == 1) {
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**经济人列表 */
    queryBorker() {
      this.rotate = !this.rotate;
      brokerPage({ pageNum: 1, pageSize: 2 }).then((res) => {
        if (res.code == 1) {
          this.brokerList = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**经纪人带看反馈 */
    takeLook() {
      brokerRecord({
        pageNum: 1,
        pageSize: 5,
        houseId: this.houseId,
        houseType: "2",
      }).then((res) => {
        if (res.code == 1) {
          this.feedback = res.data.list;
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**查询关注房源 */
    queryFollow() {
      // 1租房 2:二手房 3:小区 4:楼盘
      let followObj = {
        houseId: this.houseId,
        customerId: this.customerId,
        houseType: 2,
      };
      queryHouseFollow(followObj).then((res) => {
        if (res.code == 1) {
          if (res.data) {
            this.followState = true;
            this.src = require("../../assets/img/publicImg/attention.png");
            this.text = "已关注";
            this.arrId = res.data.id;
          } else {
            this.src = require("../../assets/img/ershoufang/follow.png");
            this.text = "关注房源";
            this.followState = false;
          }
        } else {
          Message({
            message: res.msg,
            showClose: true,
            type: "error",
          });
        }
      });
    },
    /**引入地图 */
    map() {
      var map = new AMap.Map("container", {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom: 15, //初始化地图层级
        center: [this.form.lon, this.form.lat], //初始化地图中心点
      });
      // var circle = new AMap.Circle({
      //   center:[this.form.lon, this.form.lat],
      //   radius: 100, //半径
      //   borderWeight: 3,
      //   strokeColor: "#FF33FF",
      //   strokeOpacity: 1,
      //   strokeWeight: 6,
      //   strokeOpacity: 0.2,
      //   fillOpacity: 0.4,
      //   strokeStyle: "dashed",
      //   strokeDasharray: [10, 10],
      //   // 线样式还支持 'dashed'
      //   fillColor: "#1791fc",
      //   zIndex: 50,
      // });

      // circle.setMap(map);
      // // 缩放地图到合适的视野级别
      // map.setFitView([circle]);
      this.addMarker(map);
    },
    //添加marker标记
    addMarker(map) {
      map.clearMap();
      var marker = new AMap.Marker({
        map: map,
        position: [this.form.lon, this.form.lat],
      });
      //鼠标点击marker弹出自定义的信息窗体
      // AMap.event.addListener(marker, "click", function () {
      //   infoWindow.open(map, marker.getPosition());
      // });
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  width: 100%;
  height: auto;
  overflow: hidden;
  header {
    width: 100%;
    padding-bottom: 88px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
  }
  .center {
    margin-top: 45px;
    /**版心 */
    .banner {
      width: 1200px;
      margin: 0 auto;
      /**搜索框样式 */
      .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font-size: 14px;
        }
        .input_box {
          width: 600px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          input {
            width: 100%;
            height: 40px;
            border: 1px solid #cdcdcd;
            outline: none;
            font-size: 12px;
            color: #bfbfbf;
            padding-left: 23px;
          }
          .button {
            width: 154px;
            height: 44px;
            outline: none;
            border: 0;
            background: #34b38a;
            color: white;
            font-size: 14px;
          }
        }
      }
      .follow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 49px;
        .follow_title {
          .title {
            font-size: 26px;
            font-weight: bold;
            color: #454545;
          }
          .describe {
            font-size: 14px;
            font-weight: 400;
            color: #747474;
          }
        }
        .but {
          padding: 14px 33px;
          box-sizing: border-box;
          outline: none;
          border: 0;
          background-color: #f0f0f0;
          font-size: 14px;
          font-weight: 400;
          color: #919191;
          .img {
            width: 15px;
            height: 15px;
          }
          span {
            margin-left: 8px;
          }
        }
      }
      /**轮播图样式 */
      .property_details {
        margin-top: 36px;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 29px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        .rotation {
          width: 710px;
          .rotation_img {
            position: relative;
            height: 400px;
            .imgs {
              width: 710px;
              height: 400px;
            }
            .identification {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 139px;
              height: 38px;
              background: #454545;
              opacity: 0.59;
              text-align: center;
              line-height: 38px;
            }
          }
          .next_page {
            margin-top: 8px;
            height: 80px;
          }
          .explain {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            color: #9e9e9e;
            margin-top: 27px;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 17px;
            box-sizing: border-box;
            .fidelity_text {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .fidelity {
                margin-right: 31px;
                margin-left: 13px;
              }
            }
            span {
              color: #34b38a;
            }
          }
          /**房源基本信息样式 */
          .information {
            margin-top: 39px;

            .title {
              font-size: 24px;
              font-weight: bold;
              color: #454545;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
            }
            .attribute {
              &:nth-child(3) {
                border: 0;
              }
              font-size: 14px;
              color: #a2a2a2;
              display: flex;
              justify-content: flex-start;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;

              .text {
                flex: 1;
                margin-top: 19px;
              }
              .attribute_ul {
                flex: 2;
                .attribute_li {
                  margin-top: 19px;
                  .content {
                    color: #454545;
                    margin-left: 20px;
                  }
                }
              }
            }
          }
          .paragraph {
            font-size: 12px;
            color: #b7b7b7;
          }
          /**房源特色 */
          .supply {
            margin-top: 42px;
            .title {
              color: #454545;
              font-size: 24px;
              font-weight: bold;
            }
            .supply_ul {
              .supply_li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                border-bottom: 1px solid #d8d8d8;
                padding: 20px 0 20px;
                box-sizing: border-box;
                &:first-child {
                  border-top: 1px solid #d8d8d8;
                  margin-top: 20px;
                }
                &:nth-child(4) {
                  border: 0;
                }
                .describe {
                  flex: 1;
                  color: #a2a2a2;
                }
                .conter {
                  flex: 4;
                  color: #454545;
                }
              }
            }
          }
          /**经纪人带看反馈 */
          .feedback {
            .feedback_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 37px;
              padding-bottom: 20px;
              border-bottom: 1px solid #d8d8d8;
              box-sizing: border-box;
              .title {
                color: #454545;
                font-size: 24px;
                font-weight: bold;
              }
              .newest_most {
                .newest {
                  margin-right: 18px;
                }
                .most {
                  color: #ababab;
                }
              }
            }
            .feedback_ul {
              .flex_start {
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }
              .flex_space {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .feedback_li {
                margin-top: 22px;
                padding-bottom: 20px;
                border-bottom: 1px solid #d8d8d8;
                box-sizing: border-box;
                .feedback_phone {
                  margin-left: 16px;
                  .name_phone {
                    flex: 1;

                    .name {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      font-size: 16px;
                      color: #000;
                      font-weight: bold;
                      .erju {
                        width: 43px;
                        height: 20px;
                        background-color: #34b38a;
                        font-size: 12px;
                        color: white;
                        line-height: 20px;
                        text-align: center;
                        margin-left: 15px;
                      }
                    }
                    .buts {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      background-color: #34b38a;
                      padding: 8px 10px;
                      color: white;
                      .text {
                        font-size: 12px;
                        margin-left: 7px;
                      }
                    }
                    .phone {
                      color: #34b38a;
                      font-size: 14px;
                      font-weight: bold;
                      margin-right: 41px;
                    }
                  }
                  .content {
                    font-size: 14px;
                    color: #454545;
                    margin-top: 16px;
                  }
                  .time_text {
                    margin-top: 20px;
                    color: #b9b9b9;
                    font-size: 12px;
                  }
                }
              }
            }
          }
          /**小区简介 */
          .brief {
            margin-top: 39px;
            .brief_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 24px;
              color: #454545;
              font-weight: bold;
              .see {
                color: #939393;
                font-size: 14px;
              }
            }
            .brief_box {
              margin-top: 29px;
              display: flex;
              justify-content: flex-start;
              .brief_img {
                width: 267px;
                height: 192px;
                margin-right: 90px;
              }
              .brief_span {
                .name_conter {
                  font-size: 14px;
                  margin-top: 19px;
                  &:first-child {
                    margin-top: 0;
                  }
                  .name {
                    color: #939393;
                    margin-right: 10px;
                  }
                  .conter {
                    color: #454545;
                  }
                  .red {
                    color: #c62828;
                  }
                }
              }
            }
          }
          .payments,
          .matching,
          .quality {
            .title {
              font-size: 24px;
              color: #454545;
              font-weight: bold;
            }
          }
          /**参考首付 */
          .payments {
            margin-top: 39px;
            font-size: 12px;

            .payments_box {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
              .payments_left {
                width: 509px;
                .text {
                  color: #a1a1a1;
                }
                .consulting {
                  color: #34b38a;
                }
                .calculation {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  margin-top: 20px;
                  &:first-child {
                    margin-top: 0;
                  }
                  .name {
                    flex: 1;
                  }
                  .select,
                  .input {
                    flex: 3;
                    height: 45px;
                    outline: none;
                    color: #a8a8a8;
                    padding: 0 0 0 20px;
                    border: 1px solid #cacaca;
                    box-sizing: border-box;
                  }
                  .button {
                    flex: 1;
                    height: 45px;
                    margin-bottom: 8px;
                  }
                }
              }
              .payments_right {
                flex: 1;
                margin-left: 40px;
                font-size: 14px;
                .total {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 15px;
                  font-weight: 400;
                  &:first-child {
                    margin: 0;
                  }
                  .bold {
                    font-weight: bold;
                  }
                  .total_name {
                    color: #454545;
                  }
                  .number {
                    color: #d41818;
                    font-weight: bold;
                  }
                  .green {
                    color: #34b38a;
                  }
                }
                .decline {
                  margin-top: 15px;
                  font-size: 12px;
                  color: #959595;
                  text-align: right;
                }
              }
            }
          }
          /**周边配套 */
          .matching {
            margin-top: 39px;
            .map {
              margin-top: 30px;
              width: 100%;
              height: 600px;
            }
          }
          /**优质房源 */
          .quality {
            margin-top: 30px;
            width: 100%;
            .quality_ul {
              width: 1200px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 30px;
              flex-wrap: wrap;
              overflow: hidden;
              .li {
                margin-bottom: 42px;

                .img {
                  width: 265px;
                  height: 200px;
                }
                .community_name {
                  width: 135px;
                  font-size: 20px;
                  font-weight: bold;
                  color: #333333;
                  margin-top: 20px;
                }
                .metre {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 10px;
                  .indoor {
                    font-size: 14px;
                    color: #333;
                  }
                  .money {
                    font-size: 18px;
                    color: #d22f2f;
                    font-weight: bold;
                  }
                }
              }
              .sale_li {
                margin-right: 52px;
                width: 365px;
                height: 265px;
                background: url("../../assets/img/index/sale.png") no-repeat
                  center center;
                background-size: 365px 265px;
                &:last-child {
                  margin: 0;
                }
                .sale_name {
                  font-size: 30px;
                  font-weight: bold;
                  color: white;
                  text-align: center;
                  margin-top: 105px;
                  .properties_money {
                    margin-top: 9px;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
        .introduce {
          margin-left: 44px;
          flex: 1;
          .money_square {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 18px;
            .money {
              font-size: 40px;
              color: #d23535;
              font-weight: bold;
            }
            .square {
              font-size: 16px;
              margin-left: 29px;
              .square_m {
                color: #464646;
              }
              .square_y {
                color: #898989;
              }
              .square_p {
                color: #34b38a;
                font-size: 12px;
              }
            }
            .share {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 12px;
              color: #747474;
              // margin-left: 60px;
              span {
                margin-left: 8px;
              }
            }
          }
          .house_type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 9px;
            .left {
              flex: 1;
              text-align: left;
              font-size: 22px;
              font-weight: bold;
              color: #454545;
              text-align: left;
              // margin-right: 80px;
            }
            .floor {
              flex: 1;
              color: #808080;
              font-size: 12px;
              word-wrap: break-word;
              word-break: normal;
            }
          }
          .top {
            margin-top: 20px;
          }
          .must_see {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            margin-top: 19px;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            .must_text {
              line-height: 38px;
              text-align: center;
              width: 114px;
              font-weight: bold;
              background-color: #34b38a;
              color: white;
            }
            .text {
              flex: 1;
              line-height: 38px;
              color: #737272;
              background-color: #f0f0f0;
              padding-left: 21px;
            }
          }
          .detail_ul {
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 20px;
            box-sizing: border-box;
            .detail_li {
              font-size: 14px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 15px;
              .name {
                color: #a2a2a2;
                margin-right: 20px;
              }
              .address {
                color: #454545;
              }
              .left {
                margin-left: 20px;
              }
              .text {
                color: #34b38a;
              }
            }
          }
          .header_img {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            .header {
              width: 68px;
              height: 68px;
            }
            .text_img {
              margin-left: 19px;
              .title_name {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .name {
                  color: #000;
                  font-size: 22px;
                  font-weight: bold;
                  margin-right: 19px;
                }
                .but {
                  width: 46px;
                  height: 23px;
                  text-align: center;
                  line-height: 23px;
                  background-color: #34b38a;
                  color: #fff;
                  font-size: 12px;
                }
              }
              .describe {
                width: 169px;
                color: #9e9e9e;
                font-size: 14px;
              }
            }
          }
          .button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 24px;
            button {
              font-size: 18px;
              font-weight: bold;
              color: #ffffff;
              border: 0;
              background-color: #34b38a;
              outline: none;
            }
            .but1 {
              padding: 16px 36px 14px;
              box-sizing: border-box;
            }
            .but2 {
              padding: 14px 25px;
              box-sizing: border-box;
              margin-left: 38px;
            }
            .text {
              font-weight: 400;
              margin-left: 7px;
            }
          }
          .agent {
            margin-top: 84px;
            .agent_title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              .title {
                font-size: 14px;
                color: #454545;
                font-weight: bold;
              }
              .agent_img {
                font-size: 14px;
                color: #8a8a8a;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .title {
                  font-weight: bold;
                }
                .img {
                  width: 17px;
                  height: 17px;
                }
                .refresh {
                  margin-left: 9px;
                }
              }
            }
          }
          .agent_ul {
            .agent_li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #d8d8d8;
              padding-bottom: 20px;
              box-sizing: border-box;
              &:last-child {
                border: 0;
              }
              .header_img {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .name_title {
                  font-size: 14px;
                  margin-left: 16px;
                  color: #454545;
                  .name_but {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .title {
                      font-size: 16px;
                      font-weight: bold;
                      color: #000000;
                      margin-right: 19px;
                    }
                    .but {
                      width: 46px;
                      height: 23px;
                      text-align: center;
                      line-height: 23px;
                      background-color: #34b38a;
                      color: #fff;
                      font-size: 12px;
                    }
                  }
                  .comments {
                    margin: 16px 0;
                  }
                  .phone {
                    color: #34b38a;
                    font-weight: bold;
                  }
                }
              }
              .buts {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #34b38a;
                padding: 10px 8px;
                color: white;
                .text {
                  font-size: 12px;
                  margin-left: 7px;
                }
              }
            }
          }
          .buttons {
            width: 100%;
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
  .aa {
    transition: all 1s;
  }

  .go {
    transform: rotate(360deg);
    transition: all 1s;
  }
}
</style>