<template>
  <div class="root">
    <header v-lazy:background-image="bgImg1">
      <!-- :oringsName="cityName" @child-city="uplodeCity" -->
      <Header ref="tabCityBus"></Header>
      <div class="banner">
        <p class="title">海量真房源 还是二九全</p>
        <p class="describe">一卖房 二买房 就上二九房产网</p>
        <div class="choices">
          <div class="choices_text" @click="triangleClick(0)">
            <p>找二手房</p>
            <div class="line" v-show="triangle == 0"></div>
          </div>
          <div class="choices_text" @click="triangleClick(1)">
            <p>找新房</p>
            <div class="line" v-show="triangle == 1"></div>
          </div>
          <div class="choices_text" @click="triangleClick(2)">
            <p>找租房</p>
            <div class="line" v-show="triangle == 2"></div>
          </div>
        </div>
        <div class="list">
          <div class="search">
            <input
              type="text"
              autocomplete="off"
              class="input"
              @input="queryCommunitys"
              v-model="inputValue"
              :placeholder="describe"
            />
            <div class="button" @click="communitySelect('')">
              <img
                class="search_icon"
                src="../../assets/img/index/search.png"
                alt=""
              />
            </div>
          </div>

          <ul
            class="ul_newHouse"
            id="scroll"
            @scroll="scrollEvents($event)"
            v-show="searchList.length > 0"
            style="width: 620px"
          >
            <li
              class="li_newHouse"
              v-for="(item, index) in searchList"
              :key="index"
              @click="communitySelect(item)"
            >
              {{ item.communityName || item.title }}
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="center" v-lazy:background-image="bgImg2">
      <!-- <div class="banner"> -->
      <div class="adviser" style="width: 1200px; margin: 0 auto">
        <p class="name">二九房产</p>
        <p class="property">做你的房产顾问</p>
        <p class="line"></p>
        <p class="describe">
          集二手、新房、租房功能于一体，随时随地任性找房。匿名咨询注重隐私让您放心，消息动态推送让您省心，服务承诺让您安心，数据百科锦囊让您感受贴心漫漫找房路，我们努力为您想更多。
        </p>
        <div class="small_code_box">
          <img
            class="small_code"
            src="../../assets/img/index/small_code.png"
            alt=""
          />
          <span class="text">扫一扫 了解更多详情</span>
        </div>
      </div>
      <!-- 二手新房推荐 -->
      <div class="bg" style="width: 100%; padding: 54px 0">
        <div class="recommend" style="width: 1200px; margin: 0 auto">
          <div class="title_line">
            <span class="line"></span>
            <span class="title">二手新房推荐</span>
          </div>
          <div class="introduce">
            <span class="introduces">海量真实房源 二九优质精选</span
            ><span class="more" @click="router(0)">更多真实二手房房源</span>
          </div>
          <ul class="ul">
            <li
              class="li"
              v-for="(item, index) in secondList"
              :key="index"
              @click="routerDetail('houseDetail', item)"
            >
              <img class="img" v-lazy="item.coverImage" alt="二手房图片" />
              <p class="community_name">{{ item.title }}</p>
              <div class="metre">
                <div class="indoor">
                  {{ item.houseUnitType }} {{ item.houseArea }}平米
                </div>
                <div class="money">{{ item.housePrice }}万</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg" style="width: 100%; background: #f9f9f9; padding: 54px 0">
        <!-- 海量新房优选 -->
        <div class="recommend" style="width: 1200px; margin: 0 auto">
          <div class="title_line">
            <span class="line"></span>
            <span class="title">海量新房优选</span>
          </div>
          <div class="introduce">
            <span class="introduces">真实信息准确同步，楼盘动态一手掌握</span
            ><span class="more" @click="router(1)">更多真实新房房源</span>
          </div>
          <ul class="ul sale_ul">
            <li
              class="sale_li"
              v-for="(item, index) in newHouseList"
              :key="index"
              v-lazy:background-image="item.coverImage"
              style="
                background-size: 365px 265px;
                background-repeat: no-repeat;
                background-position: center center;
              "
              @click="routerDetail('newHouseDetail', item)"
            >
              <div class="sale_name">
                <p class="property_name">{{ item.title }}</p>
                <p class="properties_money">{{ item.housePrice }}元/平</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg" style="width: 100%; padding: 54px 0">
        <!-- 品质租房挑选 -->
        <div class="recommend" style="width: 1200px; margin: 0 auto">
          <div class="title_line">
            <span class="line"></span>
            <span class="title">品质租房挑选</span>
          </div>
          <div class="introduce">
            <span class="introduces">高品质租房体验，从二九房产开始</span
            ><span class="more" @click="router(2)">更多真实租房房源</span>
          </div>
          <ul class="ul">
            <li
              class="li"
              v-for="(item, index) in rentingList"
              :key="index"
              @click="routerDetail('rentingDetail', item)"
            >
              <img class="img" v-lazy="item.coverImage" alt="租房图片" />
              <p class="community_name">
                {{ item.title }} {{ item.houseUnitType }}
              </p>
              <div class="metre">
                <div class="indoor">
                  {{ item.yourRegion }}/{{ item.houseUnitType }}
                </div>
                <div class="money">{{ item.housePrice }}元/月</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg" style="width: 100%; background: #f9f9f9; padding: 54px 0">
        <!-- 高档小区精选 -->
        <div class="recommend" style="width: 1200px; margin: 0 auto">
          <div class="title_line">
            <span class="line"></span>
            <span class="title">高档小区精选</span>
          </div>
          <div class="introduce">
            <span class="introduces">纵览全城小区 寻找安全港湾</span
            ><span class="more" @click="router(3)">更多真实小区房源</span>
          </div>
          <ul class="ul">
            <li
              class="li grade_li"
              style="height: 390px"
              v-for="(item, index) in communityList"
              :key="index"
              @click="routerDetail('quartersDetail', item)"
            >
              <img class="img" v-lazy="item.coverImage" alt="小区图片" />
              <p class="community_name">{{ item.communityName }}</p>
              <div class="metre">
                <div class="indoor">{{ item.buildingAge }}年建</div>
                <div class="money">{{ item.housePrice }}元/平</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg" style="width: 100%; padding: 54px 0">
        <!-- 房产研究资料 -->
        <div class="recommend" style="width: 1200px; margin: 0 auto">
          <div class="title_line">
            <span class="line"></span>
            <span class="title">房产研究资料</span>
          </div>
          <div class="introduce">
            <span class="introduces">二九房产研究 助你了解最新房产信息</span
            ><span class="more" @click="router(5)">更多房产资料研究</span>
          </div>
          <div class="rotation">
            <div class="right" @click="router(4)">
              <img class="rotation_img" v-lazy="introduce" alt="研究资料图片" />
              <p class="problem">南昌住房公积金租房有哪些注意事项？</p>
            </div>
            <ul class="left">
              <li
                class="purchase_li"
                v-for="(item, index) in researchList"
                :key="index"
                @click="routerDetail('researchDetails', item)"
              >
                <span class="purchase">{{ item.title }}</span>
                <span class="time">{{ item.createTime }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bg" style="width: 100%; background: #f9f9f9; padding: 24px 0">
        <!-- 热门房产网 -->
        <div class="recommendation" style="width: 1200px; margin: 0 auto">
          <ul class="ulul">
            <li
              v-for="(item, index) in menu"
              :key="index"
              :class="{ active: isActive == item.value ? true : false }"
              @click="
                isActive = item.value;
                currentComp = item.comp;
              "
            >
              {{ item.name }}
              <!-- 组件显示的位置，利用is属性的特性，实现动态切换组件 -->
            </li>
          </ul>
          <EstateNetwork :is="currentComp"></EstateNetwork>
        </div>
      </div>
    </div>
    <div class="bootm">
      <Bootm></Bootm>
    </div>
  </div>
</template>

<script>
import Header from "../../components/Header";
import Bootm from "../../components/Bootm";
import EstateNetwork from "../../components/index/EstateNetwork";
import SecondHandHouse from "../../components/index/SecondHandHouse";
import Renting from "../../components/index/Renting";
import NewHouse from "../../components/index/NewHouse";
import ResidentialQuarters from "../../components/index/ResidentialQuarters";
import Link from "../../components/index/Link";
import vPinyin from "@/assets/utils/vue-py";
import { Message } from "element-ui";
import {
  secondHandHouseQuery,
  communityQuery,
  rentingQuery,
  newHoseQuery,
  research,
  dictionaryQuery,
  areaCityId,
  getIndexImage,
} from "../../assets/utils/api";
import merge from "webpack-merge";

export default {
  name: "index",
  components: {
    Header,
    Bootm,
    EstateNetwork,
    SecondHandHouse,
    Renting,
    NewHouse,
    ResidentialQuarters,
    Link,
  },
  data() {
    return {
      /**小区名称 */
      communityName: null,
      /**搜索列表 */
      searchList: [],
      /**小区id */
      communityId: null,
      /**搜索框中的值 */
      inputValue: "",
      // 当前选中的组件
      currentComp: "EstateNetwork",
      // 当前选中的li标签
      isActive: "1",
      menu: [
        {
          // li标签的内容
          name: "热门房产网",
          // 当前li标签是否选中的标识
          value: "1",
          // 点击当前li标签，要显示的组件
          comp: "EstateNetwork",
        },
        {
          name: "热门城市二手房",
          value: "2",
          comp: "SecondHandHouse",
        },
        {
          name: "热门城市租房",
          value: "3",
          comp: "Renting",
        },
        {
          name: "热门城市新房",
          value: "4",
          comp: "NewHouse",
        },
        {
          name: "热门小区",
          value: "5",
          comp: "ResidentialQuarters",
        },
        {
          name: "友情链接",
          value: "6",
          comp: "Link",
        },
      ],
      /**省级id */
      provinceId: 0,
      /**市级id */
      cityId: 0,
      /**县级id */
      areaId: 0,
      cityName: "定位中...",
      /**二手房推荐列表 */
      secondList: [],
      /**新房推荐列表*/
      newHouseList: [],
      /**小区推荐列表*/
      communityList: [],
      /**租房推荐列表*/
      rentingList: [],
      /**研究资料列表 */
      researchList: [],
      /**搜索框中的三角形 */
      triangle: 0,
      /**搜索框中的描述 */
      describe: "请输入区域名字或小区名字开始搜索",
      /**微信登录是否绑定手机号,控制弹框的显示和隐藏 */
      wxPoup: false,
      /**房源户型 */
      typeList: [],
      /**存储查询的城市 */
      cityArr: [],
      /**index背景图片 */
      bgImg1: require("../../assets/img/index/top_bg.png"),
      bgImg2: require("../../assets/img/index/center_bg.png"),
      // bgImg1: require("../../assets/img/index/top_bg.png"),
      // bgImg2: require("../../assets/img/index/center_bg.png"),
      /**研究资料图片 */
      introduce: require("../../assets/img/index/sale.png"),
      /**请求页数 */
      pageNum: 0,
      /**页数 */
      pages: 1,
      /** 控制列表显示/隐藏 */
      scondShow: false,
    };
  },
  computed: {},
  created() {
    if (this.$route.name.indexOf("首页") === 1) {
      this.$store.commit("state", 0);
    }
    this.getBgImage();
  },
  async mounted() {
    /**查询字典 */
    await this.dictionaries();
    await this.publicFun();

    if (this.$route.params.meat != "logo") {
      this.getLocation();
    }
  },
  methods: {
    /**切换显示搜索框中的三角图标 */
    triangleClick(e) {
      let arr = [
        "请输入区域名字或小区名字开始搜索",
        "请输入楼盘名称开始搜索",
        "请输入租房小区名称开始搜索",
      ];
      this.triangle = e;
      this.describe = arr[e];
    },
    /**五个模块列表的请求 */
    publicFun() {
      this.provinceId = sessionStorage.getItem("provinceId");
      this.cityId = sessionStorage.getItem("cityId");
      this.areaId = sessionStorage.getItem("areaId");
      this.secondHandHouse();
      this.newHouse();
      this.community();
      this.renting();
      this.researchQuery();
    },
    /**请求二手房源列表 */
    secondHandHouse() {
      secondHandHouseQuery({
        provinceId: this.provinceId,
        cityId: this.cityId,
        areaId: this.areaId,
        pageNum: 1,
        pageSize: 10,
      }).then((res) => {
        if (res.code == 1) {
          for (let item of res.data.list) {
            /**房屋户型 */
            if (this.typeList[item.houseUnitType]) {
              item.houseUnitType = this.typeList[item.houseUnitType].itemName;
            }
          }
          this.secondList = res.data.list;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**请求新房列表 */
    newHouse() {
      newHoseQuery({
        provinceId: this.provinceId,
        cityId: this.cityId,
        areaId: this.areaId,
        pageNum: 1,
        pageSize: 3,
      }).then((res) => {
        if (res.code == 1) {
          this.newHouseList = res.data.list;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**请求小区列表 */
    community() {
      communityQuery({
        provinceId: this.provinceId,
        cityId: this.cityId,
        areaId: this.areaId,
        pageNum: 1,
        pageSize: 3,
      }).then((res) => {
        if (res.code == 1) {
          this.communityList = res.data.list;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**请求租房列表 */
    renting() {
      rentingQuery({
        provinceId: this.provinceId,
        cityId: this.cityId,
        areaId: this.areaId,
        pageNum: 1,
        pageSize: 10,
      }).then((res) => {
        if (res.code == 1) {
          for (let item of res.data.list) {
            /**房屋户型 */
            if (this.typeList[item.houseUnitType]) {
              item.houseUnitType = this.typeList[item.houseUnitType].itemName;
            }
          }
          this.rentingList = res.data.list;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**请求研究资料 */
    researchQuery() {
      research({
        pageNum: 1,
        pageSize: 4,
      }).then((res) => {
        if (res.code == 1) {
          this.researchList = res.data.list;
        } else {
          Message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        }
      });
    },
    /**路由跳转 */
    router(index) {
      let arr = [
        "二手房",
        "新房",
        "租房",
        "小区",
        "我是业主",
        "研究资料",
        "个人中心",
      ];
      this.cityRouteName = sessionStorage.getItem("cityRouteName");
      let address = vPinyin.chineseToPinYin(this.cityRouteName); //全拼
      this.$router.push(
        {
          name: arr[index],
          params: { id: index, address: address, status: 1, name: arr[index] },
        },
        (onComplete) => {},
        (onAbort) => {}
      );
    },
    /**跳转至详情页 */
    routerDetail(name, item) {
      //存储详情页的id防止刷新id重置
      sessionStorage.setItem("detailsId", item.id);
      this.$router.push({ name: name, params: { id: item.id } });
    },
    /**获取首页背景图片 */
    getBgImage() {
      let obj = { indexDown: "", indexTop: "", login: "" };
      getIndexImage(obj).then((res) => {
        if (res.code == 1) {
          /**首页头部背景，及中间背景 */
          this.bgImg2 = res.data.indexTop;
          this.bgImg1 = res.data.indexDown;
        }
      });
    },
    /**根据ip定位当前城市 */
    // getCity() {
    //   var cityCode = returnCitySN.cid;
    //   // var cip = returnCitySN["cip"];
    //   var cname = JSON.stringify(returnCitySN.cname);
    //   // console.log(cname);
    //   // console.log(cip);
    //   var province = "";
    //   if (cname.indexOf("省") != -1) {
    //     var province = cname.substring(1, cname.indexOf("省") + 1);
    //   } else if (cname.indexOf("区") != -1) {
    //     province = cname.substring(1, cname.indexOf("区") + 1);
    //   }
    //   this.cityName = cname.substring(
    //     cname.indexOf("省") + 1,
    //     cname.length - 1
    //   );
    //   /**截取前4位字符 */
    //   this.cityId = cityCode.substring(0, 4);
    //   this.provinceId = cityCode.substring(0, 2);
    //   if (this.cityName) {
    //     sessionStorage.setItem("cityName", this.cityName);
    //     sessionStorage.setItem("cityRouteName", this.cityName);
    //   } else {
    //     this.cityName = province;
    //     sessionStorage.setItem("cityName", province);
    //     sessionStorage.setItem("cityRouteName", province);
    //   }
    //   sessionStorage.setItem("cityId", this.cityId);
    //   sessionStorage.setItem("provinceId", this.provinceId);

    //   // console.log(
    //   //   cityCode,
    //   //   province,
    //   //   this.cityId,
    //   //   this.provinceId,
    //   //   this.cityName
    //   // );
    // },

    // 获取当前位置
    getLocation() {
      const self = this;
      AMap.plugin("AMap.Geolocation", function () {
        var geolocation = new AMap.Geolocation({
          // 是否使用高精度定位，默认：true
          enableHighAccuracy: true,
          // 设置定位超时时间，默认：无穷大
          timeout: 10000,
        });

        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, "complete", onComplete);
        AMap.event.addListener(geolocation, "error", onError);

        function onComplete(data) {
          self.cityName = data.addressComponent.city;
          /**使用ref将值设置到header组件中 */
          self.$refs.tabCityBus.oringsName = data.addressComponent.city;
          /**截取前4位字符 */
          self.cityId = data.addressComponent.adcode.substring(0, 4);
          self.provinceId = data.addressComponent.adcode.substring(0, 2);
          sessionStorage.setItem("cityId", self.cityId);
          sessionStorage.setItem("provinceId", self.provinceId);
          sessionStorage.setItem("cityName", self.cityName);
          sessionStorage.setItem("cityRouteName", self.cityName);
          /**调用设置关键字方法 */
          self.setKeywords();
        }
        function onError(data) {
          // 定位出错
          console.log("定位失败错误：", data);
          // 调用ip定位
          self.getLngLatLocation();
        }
      });
    },
    getLngLatLocation() {
      let _this = this;
      AMap.plugin("AMap.CitySearch", function () {
        var citySearch = new AMap.CitySearch();
        citySearch.getLocalCity(function (status, result) {
          if (status === "complete" && result.info === "OK") {
            // 查询成功，result即为当前所在城市信息
            console.log("通过ip获取当前城市：", result);
            _this.cityId = result.adcode.substring(0, 4);
            _this.provinceId = result.adcode.substring(0, 2);
            _this.cityName = result.city;
            sessionStorage.setItem("cityId", _this.cityId);
            sessionStorage.setItem("provinceId", _this.provinceId);
            /**使用ref将值设置到header组件中 */
            self.$refs.tabCityBus.oringsName = _this.cityName;
            sessionStorage.setItem("cityName", _this.cityName);
            sessionStorage.setItem("cityRouteName", _this.cityName);
            /**调用设置关键字方法 */
            _this.setKeywords();
          }
        });
      });
    },
    /**查询字典*/
    async dictionaries() {
      try {
        let obj = {
          pageNum: 1,
          pageSize: 100,
          dictionaryType: "second_hand_house",
        };
        await dictionaryQuery(obj).then((res) => {
          if (res.code === 1) {
            this.typeList = res.data.list[0].list;
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    /**根据地区id查询设置关键字 */
    setKeywords() {
      try {
        areaCityId(this.cityId).then((res) => {
          if (res.code === 1) {
            if (
              res.data.seoTitle &&
              res.data.seoDirection &&
              res.data.seoKeyword
            ) {
              document.title = res.data.seoTitle;
              this.seoDirection = res.data.seoDirection;
              let oMeta = document.getElementsByTagName("meta")[3];
              oMeta.content = this.seoDirection;
              let oMeta2 = document.getElementsByTagName("meta")[4];
              oMeta2.content = res.data.seoKeyword;
            }
          } else {
            Message({
              message: res.msg,
              showClose: true,
              type: "error",
            });
          }
          // console.log(res);
        });
      } catch (err) {
        console.log(err);
      }
    },
    /**查询所有的二手房，新房，租房*/
    async queryCommunitys() {
      try {
        /**如果input框中的值输入的为空，就重新赋值 */
        if (!this.inputValue) {
          this.pageNum = 0;
          this.searchList = [];
        } else {
          if (this.pages < this.pageNum) return false;
          this.pageNum++;
          let params = {
            pageSize: 10,
            pageNum: this.pageNum,
            provinceId: this.provinceId,
            areaId: this.areaId,
            cityId: this.cityId,
            title: this.inputValue,
          };
          let arr = [secondHandHouseQuery, newHoseQuery, rentingQuery];
          arr[this.triangle](params).then((result) => {
            if (result.code === 1) {
              this.searchList = [...this.searchList, ...result.data.list];
              this.pages = result.data.pages;
            } else {
              Message({
                message: res.msg,
                showClose: true,
                type: "error",
              });
            }
          });
        }
      } catch (err) {
        console.log(err);
      }
    },
    /** 监听滚动条到底部 */
    scrollEvents(e) {
      if (
        e.srcElement.scrollTop + e.srcElement.offsetHeight >=
        e.srcElement.scrollHeight
      ) {
        this.queryCommunitys();
      }
    },

    /** 选择新房列表 */
    communitySelect(item) {
      /**将输入的值存入本地，跳转后获取查询 */
      if (item) {
        sessionStorage.setItem("title", item.title);
        this.router(this.triangle);
      } else if (this.inputValue) {
        sessionStorage.setItem("title", this.inputValue);
        this.router(this.triangle);
      } else {
        this.$message("输入点东西吧！");
      }
    },
  },
};
</script>

<style scoped lang="scss">
.root {
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  /**版心 */
  .banner {
    width: 1200px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    min-width: 1200px;
    height: 560px;
    // background: url("../../assets/img/index/top_bg.png") no-repeat center center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 560px;
    .title {
      font-size: 35px;
      color: white;
      font-weight: bold;
      margin-top: 116px;
    }
    .describe {
      font-size: 55px;
      color: white;
      font-weight: bold;
    }
    .choices {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      margin-top: 10px;
      color: white;
      .choices_text {
        height: 30px;
        margin-right: 16px;
        line-height: 30px;
        .line {
          text-align: center;
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 16px solid white;
        }
      }
    }
    .search {
      width: 807px;
      height: 60px;
      margin-top: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10px;
      box-sizing: border-box;
      background-color: #fff;
      .input {
        width: 614px;
        height: 56px;
        border: 0;
        outline: none;
      }
      .button {
        width: 190px;
        height: 60px;
        background-color: #34b38a;
        text-align: center;
        .search_icon {
          width: 32px;
          height: 32px;
          margin-top: 10px;
        }
      }
    }
    .list {
      position: relative;
    }
    .ul_newHouse {
      width: 130px;
      min-height: 150px;
      max-height: 300px;
      z-index: 99;
      position: absolute;
      top: 60px;
      overflow: scroll;
      overflow-x: visible;
      background-color: #fff;
      border: 1px solid #eee;
      .li_newHouse {
        width: 100%;
        z-index: 99;
        height: 34px;
        padding-left: 5px;
        &:first-child {
          border-top: 1px solid #eee;
        }
        border-bottom: 1px solid #eee;
      }
      .li_newHouse:hover {
        background-color: #2d8cf0;
      }
    }
  }
  .center {
    background-repeat: no-repeat;
    background-position: top;
    // background: url("../../assets/img/index/center_bg.png") no-repeat top center;
    background-size: 100% 476px;
    .adviser {
      height: 476px;
      .name {
        padding-top: 43px;
        font-size: 30px;
        color: #565656;
      }
      .property {
        margin-top: 19px;
        font-size: 50px;
        color: #333;
      }
      .line {
        width: 167px;
        height: 5px;
        background-color: #34b38a;
        margin-top: 9px;
      }
      .describe {
        width: 530px;
        font-size: 16px;
        margin-top: 22px;
        font-weight: 400;
      }
      .small_code_box {
        margin: 24px 0 0 0;
        .small_code {
          margin-right: 30px;
        }
        .text {
          font-size: 18px;
          color: #34b38a;
        }
      }
    }
    .recommend {
      .title_line {
        height: 43px;
        line-height: 43px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .line {
          width: 4px;
          height: 34px;
          background: #34b38a;
          display: inline-block;
          margin-right: 5px;
        }
        .title {
          color: #333;
          font-size: 36px;
          font-weight: bold;
          display: inline-block;
        }
      }
      .introduce {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #333;
        margin-top: 10px;
        font-weight: 300;
        .more {
          color: #34b38a;
          font-weight: 400;
        }
      }
      .ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        flex-flow: wrap;
        margin-top: 30px;
        .li {
          height: 315px;
          margin-right: 30px;
          margin-top: 20px;
          &:last-child {
            margin-right: 0;
          }
          .img {
            width: 265px;
            height: 200px;
            margin-bottom: 20px;
          }
          .community_name {
            width: 265px;
            height: 52px;
            white-space: pre-wrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 20px;
            font-weight: bold;
            color: #333333;
            margin-bottom: 10px;
          }
          .metre {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .indoor {
              font-size: 14px;
              color: #333;
            }
            .money {
              font-size: 18px;
              color: #d22f2f;
              font-weight: bold;
            }
          }
        }
        /**楼盘样式 */
        .sale_li {
          margin-right: 52px;
          width: 365px;
          height: 265px;

          &:last-child {
            margin-right: 0;
          }
          .sale_name {
            font-size: 30px;
            font-weight: bold;
            color: white;
            text-align: center;
            margin-top: 105px;
            .properties_money {
              margin-top: 9px;
              font-size: 16px;
            }
          }
        }
        /**高档小区 */
        .grade_li {
          .img {
            width: 365px;
            height: 265px;
          }
        }
      }
      .rotation {
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        .right {
          position: relative;
          flex: 1;
          z-index: -1;
          // overflow: hidden;
          .rotation_img {
            width: 450px;
            height: 290px;
          }
          .problem {
            position: absolute;
            left: 30px;
            bottom: 15px;
            font-size: 16px;
            color: white;
          }
        }
        .left {
          flex: 2;
          margin-left: 77px;
          .purchase_li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #d1d1d1;
            padding-bottom: 29px;
            box-sizing: border-box;
            font-size: 14px;
            color: #333;
            font-weight: 400;
            margin-top: 33px;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
    .recommendation {
      // 样式
      .ulul {
        border-bottom: 1px solid #c0c0c0;
        overflow: hidden;
        li {
          margin-left: 40px;
          float: left;
          font-size: 14px;
          font-weight: bold;
          &:first-child {
            margin-left: 0;
          }
        }
        li.active {
          color: #34b38a;
          padding-bottom: 9px;
          border-bottom: 4px solid #34b38a;
        }
        li:hover {
          cursor: pointer;
        }
      }
    }
  }
  .bootm {
    width: 100%;
    height: 214px;
    background-color: #333;
  }
  .button,
  .sale_li,
  .li,
  .purchase_li,
  .more:hover {
    cursor: pointer;
  }
}
</style>