<template>
  <div class="error-page">
    <div class="content-con">
      <img class="img" src="../../assets/img/error/error-404.svg" alt="" />
      <div class="text-con">
        <h5>Oh~~您的页面好像飞走了~</h5>
      </div>
      <div class="but">
        <button class="back" @click="backHome">返回首页</button>
        <button class="back" @click="backPrev">
          返回上一页({{ second }}s)
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      second: 5,
      timer: null,
    };
  },
  mounted() {
    this.timer = setInterval(() => {
      if (this.second === 0) this.backPrev();
      else this.second--;
    }, 1000);
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
  methods: {
    // 回到首页
    backHome() {
      this.$router.replace({
        name: "首页",
      });
    },
    // 返回上一页
    backPrev() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped lang='scss'>
.error-page {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f8f8f9 ;
  .content-con {
    width: 700px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .text-con {
      position: absolute;
      left: 0px;
      top: 0px;

      h5 {
        position: absolute;
        width: 700px;
        left: 0px;
        top: 100px;
        font-size: 20px;
        font-weight: 700;
        color: #67647d;
      }
    }
    .but {
      text-align: right;
      .back {
        height: 38px;
        padding: 0 15px;
        color: #515a6e;
        border-radius: 3px;
        background-color: #fff;
      }
      .back:hover {
        border: 1px solid transparent;
        cursor: pointer;
        color: #2b85e4;
        background-color: #f8f8f9;
      }
    }
  }
}
</style>